[2016-06-21 22:05] hayesgm opened #367 "Remove vm.args from `command` task"
When running `bin/my_release command`, we add `-args $VMARGS_PATH`, which probably isn't sensible as we want to run a task, not connect to an existing node. When I try to run a command on a live server, I thus get the following issue:

[code]

Do we have a good reason why we include `vm.args` in the `command` release command? Does it make sense to remove it?

Relates to PR #368

[2016-06-21 22:10] asaaki commented on #366
This is not an exrm issue, but has to do with the following:
Your problem is that you use a module attribute, which behaves like a constant, but only at compile time.

From http://elixir-lang.org/getting-started/module-attributes.html#as-constants:

When you build a release you first compile all Elixir code into .beam files, so `File.cwd!`'s value will be backed in to whatever it was pointing to a

[2016-06-21 22:59] lukeed commented on #366
Awesome. Was doing some digging and was arriving at a similar conclusion. Thanks!

Am now offloading to an external directory. Trying to configure `Plug.Static` in a way so that the directory is served in both development and production modes. I know that I can do this easily in production with Nginx, but do you have any ideas? =)

[2016-06-21 23:00] #366 closed

[2016-06-27 01:50] katgironpe commented on #294
I get this same issue when I tried to upgrade build to use Erlang 1.9.

[2016-06-27 15:10] chrismccord commented on #206
@midas where did you find this configuration? I actually can't find in the code where we used it :)

[2016-06-28 15:56] midas commented on #206
@chrismccord I did not find the configuration anywhere.  I worked with it in one of my private projects until I figured out the issue.  I can extract it into a public project so you can see it there.  Let me know if you would like for me to proceed with this solution.  Thanks!

[2016-06-29 01:16] bitwalker commented on #206
Seems fine to me. Is there a particular reason why `config_change` is only called when the config changes, beyond the general idea of "don't do work you don't have to"? If there is no particularly significant cost to revaluation of the config every time, that would solve the issue without requiring users to see this workaround in the docs.

[2016-06-29 01:24] bitwalker commented on #366
You can use `:code.priv_dir(:myapp)` to dynamically get the path to the given application's priv directory at runtime, that's what I would use for this kind of use case.

[2016-06-29 01:28] bitwalker commented on #367
Your PR addresses this so I'm going to close this issue. Thanks for reporting!

[2016-06-29 01:28] #367 closed

[2016-06-29 01:45] lukeed commented on #366
Sorry, I forgot to update my previous comment. I ended up solving it a different way. My `uploads` directory is populated by users during runtime, so the `priv` directory doesn't work as its contents are different per release.

My solution is [here](https://github.com/elixir-lang/plug/issues/411).

Thanks!

[2016-06-29 11:33] jimmycuadra commented on #294
Can this be reopened pending release of a new relx, or is there another issue I should subscribe to for updates? My team has an app that can't compile against Erlang 19, seemingly because of this issue.

[2016-06-29 17:40] rafal-radziszewski opened #369 "Shell error - wrong substitution"
In exrm/priv/rel/files/boot:382 there is an argument substitution not supported in /bin/sh mode. On the fork I created I replaced the `!#/bin/sh` invocation to `!#/bin/bash` as temporary solution, but I guess using generally compatible `/bin/sh` is there for a reason. Right now any attempt to start server using master causes errors.

[2016-06-29 18:07] #369 closed

[2016-06-29 18:08] bitwalker commented on #369
@rafal-radziszewski This one slipped past me :(. I've pushed a fix, please let me know if you run into any other issues.

[2016-06-29 18:09] rafal-radziszewski commented on #369
@bitwalker Thanks for so instant reaction! I will test the package as soon as you bump relx (just been updated), so erlware_commons compile on 19.0.

[2016-06-29 18:10] bitwalker commented on #369
Just did, and pushed a new release to hex (1.0.6) :)

[2016-06-29 18:53] rafal-radziszewski commented on #369
@bitwalker I just tested it and my version got builded with OTP 19. Once again thanks for instantous update.

There is a problem however: though node runs, I don't seem to be able to attach to node using remote_console. I'm not sure if this is exrm issue, so I do not know if I should open another issue. I paste the output in case it would tell you more than me.

[code]

[2016-06-29 21:34] bitwalker commented on #294
I published a new release today with an updated relx, should be good to go!

[2016-06-29 22:57] bitwalker commented on #369
@rafal-radziszewski this is certainly a separate issue, I wonder if it's related to OTP 19 or something else entirely. A couple of things:

- Is the node you are trying to remote console to running? If so, we know the app starts, and the issue is likely in the code which handles connecting remotely.
- If not, did you build the release and deploy it using the same OS/Architecture?
- Do other comman

[2016-06-29 23:02] rafal-radziszewski commented on #369
1. Node is running. I was surprised, but I successfully called cowboy endpoint and got response.
2. Yes, I used the same architecture. In fact, one of my nodes also works as build server.
3. Ping works, attach also seems to work.

I'm trying to debug it too.

[2016-06-29 23:03] bitwalker commented on #369
Well that definitely helps narrow it down, I have to run for a bit, but I'll take a look once I'm at my computer again.

[2016-06-29 23:05] rafal-radziszewski commented on #369
Don't you worry, I'm still amazed by the amount of stuff you work on. If I have any more info, I will message here. Thanks for the assistance!

[2016-06-30 09:55] ulfurinn opened #370 "Changed behaviour with elixir 1.3.1 and umbrella apps"
Setup: umbrella app requiring exrm and two sub-apps with just bare `mix new` skeletons

1) running `mix release` from umbrella dies with:

[code]

2) running `mix release` from a sub-app dies with "The task "release" could not be found", and the task is not displayed in `mix help`

The workaround is to require exrm in all sub-apps as well. This is not necessary with elixir 1.2. Looks like the ebin

[2016-06-30 17:01] redbeardster commented on #315
Got the same issue with rebar 2.6.2 under Ubuntu 16.04

[2016-07-01 10:53] felipesere commented on #365
Any update on this? I am also seeing stuff in `rel/<app-name>/lib` that I am not expecting as I use `{:include_erts, false}.`

[2016-07-01 19:54] midas commented on #206
@bitwalker, @chrismccord I am not sure how you need for me to proceed here.  Do you need an example project .  are we just discussing stuff?  Is anything needed form me?

Thanks!

[2016-07-02 00:14] bitwalker commented on #206
@midas I'd say at the moment documenting the workaround you found is the first priority, but I still would like to discuss my last question as a more permanent solution, assuming there aren't issues with it.

[2016-07-03 04:24] insiderq opened #371 "Generated binary doesnt work when there is a space in directory path"
After successfull building of my project when i attempt to run binary
I've got the following error when i used my "Non Dropbox" folder with a space in the path.

`~/Non Dropbox/invoices/invoices ➭ rel/invoices/bin/invoices
cat: /Users/username/Non: No such file or directory
cat: Dropbox/invoices/invoices/rel/invoices/releases/start_erl.data: No such file or directory
cat: /Users/username/Non: No s

[2016-07-05 19:59] OnorioCatenacci commented on #371
@insiderq Spaces in directory names cause issues on both Windows and Linux.  If I were you I'd but things into a directory that has no spaces in the name.

[2016-07-07 07:07] ibizaman commented on #370
Did not have the exact same trace output:
[code]
but suggestion to add exrm to each sub-app's dependencies worked.

To be fair, it is documented somewhere, although it is hidden. The trail is: [readme](https://github.com/bitwalker/exrm) -> [full doc examples](https://hexdocs.pm/exrm/examples.html) -> [umbrella's example master app](https://github.com/bitwalker/exrm-umbrella-test/blob/master/apps/m

[2016-07-07 07:09] ibizaman commented on #371
I would also avoid paths with spaces although it would be worth adding that to the documentation.

[2016-07-07 07:12] ibizaman commented on #333
Can you stop the application by issuing `bin/my_app remote` then `:init.stop` ?

[2016-07-07 07:15] ibizaman commented on #334
Did you try something like this? http://asquera.de/blog/2015-04-10/writing-a-commandline-app-in-elixir/

[2016-07-07 07:19] ibizaman commented on #330
@mgwidmann It's not an easy subject but doc exists:
http://erlang.org/doc/man/appup.html
http://erlang.org/doc/design_principles/appup_cookbook.html
http://learnyousomeerlang.com/relups
https://www.metabrew.com/article/erlangotp-releases-rebar-release_handler-appup-etc

[2016-07-07 12:35] Rakoth commented on #315
With https://github.com/bitwalker/exrm/commit/420f1a66ff521ef7bc5ca51ecab2542e758931f9 attach always works as described (hangs with ^L and no prompt)

[2016-07-08 06:29] seymores commented on #370
I don't see the other two apps to have exrm dependencies except the master app in the example.
Also if the master is a phoenix app, the config must have the "server: true" set.

[2016-07-12 13:01] danturn opened #372 "Running release without distribution..."
Hi,

Is there any way to run without distribution?

i've tried setting
  -sname nonode@nohost
  -setcookie nocookie
in the vm.args file but i get the following error
"Invalid node name: ~p~n",['nonode@nohost']}

dan

[2016-07-12 18:29] pdilyard opened #373 "Specify version to build from"
My releases are automatically versioned using Git SHAs, so for example, I might have the following releases:
[code]

The problem I'm encountering is that when I try to build an upgrade, instead of building an appup file from `1.1.1-abcdef` to `1.1.1-zyx321`, it builds an appup from `1.1.1-def456` to `1.1.1-abcdef`. So when I try to perform the hot upgrade, it fails because there is no appup file d

[2016-07-12 23:55] aaronjensen opened #374 "releases with fast_xml do not include the transitive dependency on p1_utils"
See: https://github.com/processone/fast_xml/issues/10

and: https://github.com/aaronjensen/fast_xml_exrm_repro

Normally, transitive dependencies are included, but for some reason this is not the case w/ fast_xml. I wonder if it has something to do w/ the fact that it has a mix.exs and a rebar.config

[2016-07-13 14:07] ryanswapp opened #375 "Release built for windows server 2012 failing to pass parameters to ErlSrv"
I've got a little api web server (iz_client) that I need to deploy to windows server 2012 and am having a bit of trouble figuring out why it's failing to run as a service. The app is a bare bones phoenix app with HTTPoison being the only other dependency (exrm 1.0.6). I was able to successfully build a release and can run it from inside the phoenix directory with:

[code]

In addition, I can insta

[2016-07-14 21:38] fertel commented on #315
https://github.com/bitwalker/exrm/commit/420f1a66ff521ef7bc5ca51ecab2542e758931f9 seems to be breaking behavior for whats expected for start (foreground seems to be the case you want to fix that "bug"). Rebar and in turn relx suggest start should start a console that you can pipe into. http://www.rebar3.org/docs/releases#booting-upgrade-and-inspecting

[2016-07-15 18:59] rstacruz commented on #369
Also the same problem. Using Ubuntu trusty on AWS.

[2016-07-15 21:42] smiley325 commented on #315
+1

I'm having the same attach issue (^L character, hangs) in exrm 1.0.6. Downgrading to 1.0.2 seems to fix the issue, so something must have changed in the interm. Any ideas?

[2016-07-16 19:34] djthread commented on #369
Same issue here, trying to remote_console. Much thanks for all the great work you do, bitwalker!

[2016-07-18 06:49] bitwalker commented on #374
@aaronjensen This is a bit of an aside, but this issue got me thinking about it. I'm working on an experimental replacement for exrm, and this is one of the things I believe should no longer be an issue. If you're interested in helping me test it out, check out https://github.com/bitwalker/bundler. It's already basically at parity with exrm in terms of functionality, but you'll want to read the do

[2016-07-18 06:51] bitwalker commented on #373
Right now, versions with git sha hashes in them only work if they are in `git-describe` format, i.e. `<tag>-<commits since tag>-<short hash>`. Otherwise yes, it does them alphanumerically, as their is no other way to determine the order.

[2016-07-18 06:54] bitwalker commented on #373
As an additional note, currently exrm does not provide a way to specify an arbitrary version to upgrade from, it always uses the last (as best it can determine) release. I'm working on a replacement for exrm which does allow you to select the upfrom release, so this capability is available there, but it is in an experimental phase right now, so may not be an option for you to use.

[2016-07-18 06:57] bitwalker commented on #372
Without distribution there is no way for the start script to talk to the running node, so no, there is no way to disable distribution entirely. If the concern is security, you can set `-hidden` in the vm.args, along with a randomly generated cookie, and the node will not be visible to other nodes unless explicitly configured to connect to that node with the correct cookie.

[2016-07-18 06:57] #372 closed

[2016-07-18 06:59] #371 closed

[2016-07-18 07:03] bitwalker commented on #350
Super strange, but yeah, I guess let's close this for now, and if it crops up again in a more reproducible fashion, we can go from there. I suspect your guess is not far from the truth though.

[2016-07-18 07:03] #350 closed

[2016-07-18 07:11] #315 closed

[2016-07-18 07:12] #327 closed

[2016-07-18 07:16] bitwalker commented on #167
@Lida I'm working on a replacement for exrm, and this is one of the features I implemented, so yes this is definitely doable. I could probably port it fairly easily to exrm, but at this point, the replacement is more or less at parity with exrm, so if you wanted to give it a shot, I can point you towards it. It's still "experimental" though, so the usual caveats apply.

[2016-07-18 10:58] olivermt commented on #167
@bitwalker I'd like to volunteer as a tester for your secret _Superawesome Exrm replacer ™_ project as well :)

[2016-07-18 14:37] bitwalker commented on #167
@olivermt Great :), you can find it [here](https://github.com/bitwalker/distillery). There are some current caveats - there isn't a version of conform which works with it yet, and some of the more advanced boot script knobs are missing (i.e. `RELEASE_CONFIG_FILE`), all of that is coming, it's just not there yet.

[2016-07-18 17:48] pdilyard commented on #373
Got it, thanks! Is there a link to the exrm replacement?

[2016-07-18 17:49] Lida commented on #167
@bitwalker Sounds good. I'll take a look at distillery. Our deployment process is still up in the air, so would be good to use something that will be supported in the future.

[2016-07-18 17:50] bitwalker commented on #373
You can check it out [here](https://github.com/bitwalker/distillery) :)

[2016-07-18 17:52] bitwalker commented on #167
My plan is to deprecate exrm as soon as distillery is out of beta, but I may still end up backporting a few things if it takes too long to do so.

[2016-07-18 18:35] #373 closed

[2016-07-19 15:41] aaronjensen commented on #374
Thanks @bitwalker. At the moment, we do use conform, so I probably wouldn't be able to switch to it w/o some juggling. That said, I may be starting a new project soon and I'd be able to try it out then.

[2016-07-19 18:29] bitwalker commented on #374
I'll put together a version of conform which works with distillery, pretty much at the point where I need it anyway. I'll post back here with an update when that's ready.

[2016-07-19 21:41] bitwalker commented on #374
@aaronjensen I pushed a new branch of conform called distillery, if you use that, you can get rid of conform_exrm. There are a few changes to the way configs are handled with conform/distillery, mainly there is no "generated config directory", the release will look for configs in RELEASE_CONFIG_DIR, which is the release root directory by default (i.e. where /bin etc are), and the release version d

[2016-07-20 13:23] manukall opened #377 "remote_console does not work with OTP 19"
After upgrading to OTP 19, `remote_console` stopped working and outputs the following:

[code]

Commands like `start`, `attach`, `ping` still work and the node runs fine, too.

[2016-07-21 21:13] bitwalker commented on #369
I found out what's causing this - the code path has BEAMs which were compiled with earlier Erlang versions, and are thus incompatible with the new version. When it attempts to load BEAMs it needs, it blows up when it encounters the old ones. I was able to reproduce this, and get it to work by blowing away the old release directory and building a fresh release.

I'm going to look in to how to be mo

[2016-07-21 21:15] bitwalker commented on #377
Duplicate of the issue reported in #369. This is caused by BEAMs compiled by the earlier version of Erlang being included on the code path of the release. I'm looking into how be more precise about this, but currently the solution is to blow away the release `lib` directory and redeploy the latest version, so that the old BEAMs are no longer loaded.

[2016-07-22 08:01] bradurani opened #378 "Error in :filename.join generating .tar"
I have an error which occurs after a successful build, it would seem, I think when it tries to create the .tar file

[code]

This is building from an umbrella app with 2 phoenix apps in the `apps` folder. Thanks!

[2016-07-22 19:43] pdilyard commented on #373
@bitwalker so if I name my releases like this, should relups be correctly generated?:
[code]
That is the semver, number of commits on master (the only branch with releases), and the commit hash. This forces releases to order correctly alphabetically. (I tried this and still got the following error):
[code]

[2016-07-22 20:29] wende opened #379 "Relup not found"
Building and upgrading on Ubuntu 14.04

[code]

There is no `rel/relx.config` file as stated in the docs

Exrm version 1.0.8

[2016-07-25 23:46] kf8a opened #380 "reduce permissions on sys.config"
Since sys.config can contain sensitive info (passwords, etc) it might be good if the permissions for the file were 600 instead of 644. I could add a chmod to `generate_sys_config` in mix/task/release.ex, but maybe it should be handled by relx instead. Thoughts?

[2016-07-26 15:59] bitwalker commented on #380
We always pass our own `sys.config` to relx, so adding the call to `File.chmod` in `generate_sys_config` is the way to go on this one.

[2016-07-26 16:03] bitwalker commented on #378
Looks like an issue in relx, but I'll need some details to help determine that for sure. Could you run with `--verbosity=verbose`?

In the meantime, take a look at [distillery](https://github.com/bitwalker/distillery). It's what I've been working on to replace exrm, and this issue shouldn't be present there.

[2016-07-26 19:09] kf8a commented on #380
Ok, thanks. I'll get PR ready.

[2016-07-27 02:40] #380 closed

[2016-07-29 06:24] manukall commented on #377
thanks! deleting everything (including the rel folder on the build host) indeed solved this.

[2016-08-01 22:00] emerleite commented on #327
@werbitzky @bitwalker I'm really having issues with foreground and RELX_REPLACE_OS_VARS. Only works with start

[2016-08-03 20:21] joshuaswilcox commented on #206
Adding `version` to my releases did not seem to fix this issue for me
My config.exs
[code]
and my prod.exs
[code]

[2016-08-03 20:27] joshuaswilcox commented on #206
Nevermind.... I forgot to run `MIX_ENV=prod mix phoenix.digest` :/

[2016-08-03 23:17] joshuaswilcox commented on #378
I have been getting this lately too here is the verbose output
[code]
full Gist https://gist.github.com/joshuaswilcox/4e74d56c8e24e768155b6d4cfa4b0c7c

Going to take a look at distillery now, though

[2016-08-07 02:51] hopewise opened #382 "How to keep app running?"
After starting my release app, how would I make sure that it will start automatically if the host got rebooted for any reason?

[2016-08-07 16:26] schnittchen opened #383 "Mix.env/1 being used with string instead of atom when `--env="prod"` passed from script"
[code]

[2016-08-07 16:30] schnittchen commented on #383
The `%ReleaseManager.Config{env: }` is filled here https://github.com/bitwalker/exrm/blob/master/lib/mix/tasks/release.ex#L449 with a string value. The default https://github.com/bitwalker/exrm/blob/master/lib/exrm/config.ex#L20 is a symbol.

[2016-08-07 18:09] hamiltop commented on #361
Unfixed in https://github.com/bitwalker/exrm/commit/9184f2e890cdd2692d43024a153c14d4bb7f7eae

[2016-08-08 00:52] ali-l opened #384 "Generating upgrade fails when attaching git revision to version"
I changed my version to use the first 7 characters of the git revision, ex. `0.1.7-48a3892`. After this, upgrade generation failed: `Appup generation failed with bad_new_appvsn`. I cleaned my `rel/` folder with `mix release.clean --implode` and tried to generate a fresh release and it worked fine. Then went to generate an upgrade for `0.1.7-6623b73`, and it is failing for the same reason.

I took

[2016-08-08 04:04] bitwalker commented on #361
@hamiltop Attach does not work if the daemon is started with `foreground`, it has to be started with `console` unfortunately, so this is less of a regression, rather than a calculated tradeoff. If anyone has ideas on how to resolve both issues, I'm open, but `attach` is more important to me than removing the iex prompt from the log file.

[2016-08-08 04:13] hamiltop commented on #361
Why is attach important? I can't think of a use case that remote_console
doesn't solve.

On Sun, Aug 7, 2016, 9:04 PM Paul Schoenfelder <notifications@github.com>
wrote:

[2016-08-08 04:39] bitwalker commented on #361
`remote_console` requires establishing a connection to the node, if for some reason the node is not responding to pings/remote connections, you can still get to a shell on the node with `attach`, because it just attaches the terminal to the pipe for the shell of the running node. In my opinion it's an important failsafe if you need to access a node to do troubleshooting in a situation like that. O

[2016-08-10 22:13] wende commented on #379
Exact same behaviour with /bitwalker/distillery

[2016-08-13 17:45] farao opened #385 ""/rel/<projectname>/bin/<projectname> stop" does not work"
Hi, I can't stop my via "/rel/projectname/bin/projectname start" started application. The output says "ok" but the script doesn't stop. I have to break it up via CTRL-c and afterwards the process is still running.

How to reproduce:
git clone git@github.com:farao/signaltower.git
cd signaltower; mix release
/rel/signal_tower/bin/signal_tower start
/rel/signal_tower/bin/signal_tower stop

Why doesn'

[2016-08-13 18:17] farao commented on #385
Ah, I just realised that it's the "while $(kill -0 "$PID" 2>/dev/null);" in the stop) section of rel/signal_tower/releases/1.0.0/signal_tower.sh that never stops looping. Why kill -0? shouldn't this be kill -9 (SIGKILL) or kill -15 (SIGTERM)?

[2016-08-16 00:08] bitwalker commented on #385
@farao `kill -0` just checks to see if the given pid is running and if you have access to send signals to it, so it loops until the pid stops.

Have you looked at [distillery](https://github.com/bitwalker/distillery) yet? I'm more or less deprecating exrm and moving active development to distillery. I'll take a look and see if I can reproduce this and what might be causing it to not stop.

[2016-08-16 00:09] bitwalker commented on #379
Are you building the release and upgrading it from the directory the release is output to? That won't work, you have to deploy the release to another directory. Some files get removed by the release handler when installing an upgrade, and this causes future upgrades to fail.

[2016-08-16 18:30] bitwalker commented on #384
You must use the `git-describe` format, i.e. `x.x.x-<num of commits since tag>-<shorthash of tag>`, so using your example, it'd be something like `0.1.7-1-48a3892`.

[2016-08-16 18:30] #384 closed

[2016-08-16 18:31] bitwalker commented on #382
You would need to use upstart/systemd/etc. to manage that, exrm doesn't do anything in this regard itself.

[2016-08-16 18:31] #382 closed

[2016-08-16 18:33] bitwalker commented on #327
@emerleite Could you give [distillery](https://github.com/bitwalker/distillery) a try as a replacement for exrm? I don't recall having this issue with exrm, but I'm running several apps in production using the `foreground` task and `REPLACE_OS_VARS=true` without issue with distillery.

[2016-08-16 23:25] emerleite commented on #327
@bitwalker I'll give `distillery` a try. But I was wrong. `foreground` with `REPLACE_OS_VARS=true` is working with exrm. Thanks ;)

[2016-08-18 02:26] bitwalker commented on #385
Closed due to the result found in bitwalker/distillery#46

[2016-08-18 02:26] #385 closed

[2016-08-22 18:40] chemeris opened #387 "`mix release` fails with `{unreachable_package, cowlib}`"
I'm trying to build a release for an app with many dependencies and `mix release` fails with the following error:

[code]

At the same time I see `_build/dev/lib/cowlib/ebin/cowlib.app` perfectly present and `_build/dev/lib` is the first entry in the "Resolving OTP Applications from directories" list.

I'm using `exrm` 1.0.8 from Hex.

Any help would be appreciated. Happy to e-mail more debug outp

[2016-08-26 19:55] bitwalker commented on #387
Could you give [distillery](https://github.com/bitwalker/distillery) a try? It should work much better for you. If you cannot for some reason, can you push a repo which I can use to reproduce the issue?

[2016-08-26 21:44] chemeris commented on #387
Thanks, I'll give it a try.
In few words, what's the difference between `distillery` and `exrm`? I.e. when should I use one or another

[2016-08-26 22:25] bitwalker commented on #387
Distillery is a replacement for exrm, it's written entirely in Elixir, is much more configurable, has better support for umbrella projects, and is faster. There's basically no reason to use exrm over distillery unless you are already using it and have no desire to change between them.

[2016-08-27 13:03] chemeris commented on #387
Thank you for the explanation. I've tried `distillery` and filed a bug report there, because it also fails to generate a release.

[2016-09-06 04:08] BryanJBryce opened #388 "Error when following Phoenix Walkthrough Documentation"
When I get to the end of the Phoenix walkthrough documentation it reads:

But when I try to run in foreground or any other method I get this error output:

`$ rel/stirling/bin/stirling foreground`

[code]

[2016-09-06 04:25] #388 closed

[2016-09-09 12:18] hdcos opened #389 "[Bug?] Not responding to pings"
Hello there, I did my release like I usually too.

I uploaded it on my server, and ran my deployment script.
The script makes a backup and then untar the archive in the same directory of the deployment.
Once untar is done it restart the server.

But this time the server answered:

    /home/ubuntu/deployed/erts-7.3/bin/beam: /lib/x86_64-linux-gnu/libtinfo.so.5: no version information available (re

[2016-09-09 14:16] hdcos commented on #389
No worries.

I looked at your docs https://exrm.readme.io/docs/upgradesdowngrades
and it seems I used a wrong process since 8 months.

So in order:

-reboot the server
-delete my deployment directory
-extract the release there
-and now when new releases comes up I simply extract in the tar in the releases directory and call `bin/myapp upgrade "version"`

[2016-09-09 14:17] #389 closed

[2016-09-09 17:28] novaugust opened #390 "RELX_REPLACE_OS_VARS boot script fails on awk with env vars containing certain characters"
we had an environment variable, `export DB_PASSWORD='Pntu>x9hC<6&zX:e'` that prevented the boot script from getting anywhere, freezing in this area

[code]

[source on GH](https://github.com/bitwalker/exrm/blob/9184f2e890cdd2692d43024a153c14d4bb7f7eae/priv/rel/files/boot#L181-L184)

changing to another password fixed the script and got our app up and running.

[2016-09-09 22:22] bitwalker commented on #390
Interesting, I'll have to dig in to awk a bit to figure out why it's choking on that string. Thanks for reporting!

[2016-09-10 18:47] pguillory opened #391 "Color codes always output"
When `IO.ANSI.enabled? == false`, ANSI color codes should not be emitted in the log output. For example when building a release in a Jenkins job, I see:

[code]

[2016-09-12 16:02] novaugust commented on #390
Just had this happen with another password. Seems like the bad character is the `&`

[2016-09-12 20:38] #391 closed

[2016-09-12 21:22] bitwalker commented on #390
@novaugust I fixed this in distillery, but haven't yet ported the fix to exrm. You can see the commit where I did so referenced above. I'll push the fix to exrm as soon as I'm able.

[2016-09-12 21:24] #390 closed

[2016-09-21 06:48] goofansu opened #394 "Release on ubuntu but cannot use in macOS"
I make a release with `{include_erts, false}.` in `rel/relx.config`.

And I've installed Erlang and Elixir on macOS.

Following are the errors:

[code]

[2016-09-28 21:32] SLOBYYYY opened #395 "Can't generate release if config contains values set by an anonymous function"
# How to generate:
## What works:
### Step 1:

Create a new project (in `/tmp` for example):
`mix new potato`
### Step 2:

In `mix.exs` add to deps:
`{:exrm, "~> 1.0"}`
### Step 3:

In `config/config.exs`:
`config :potato, the_name: "potato"`
### Step 4:

In `lib/potato.ex`:

[code]
### Step 5:

Run the following:

[code]

So far so good!

Now do Step 3 with the following:
`config :potato, the_nam

[2016-10-04 08:35] johnhamelink opened #396 "Remote console doesn't seem to have access to all applications in an umbrella app"
Hey there,

When using `remote_console`, I don't seem to be able to use Ecto, as the DB application hasn't started? To give a little more context, my exrm release consists of an umbrella app with 2 main applications: `api` and `db`. `DB.Repo` is inside the `db` application

[code]

[2016-10-05 09:49] johnhamelink commented on #396
Update: instead of trying to fix this or waiting for help, I decided to just bite the bullet and take the opportunity to move to distillery, and it works fine there (and wasn't too hard to move either by the way).

[2016-10-12 19:46] pcewing commented on #395
I ran into this as well and I believe it's actually a limitation with `Mix.Config.read!/1`.

In distillery, that function is used to read the base configuration:
https://github.com/bitwalker/distillery/blob/master/lib/mix/lib/releases/assembler.ex#L558

Then it's merged with the release configuration and written:
https://github.com/bitwalker/distillery/blob/master/lib/mix/lib/releases/assembler.ex

[2016-10-14 04:23] chenxsan opened #397 "Running mix release in docker cause MatchError."
I'm building my project inside docker:

[code]
OS in docker: CentOS 7, Elixir 1.3.4, Erlang 19.1.

No server is running.

[2016-10-14 04:37] chenxsan commented on #397
Guess something is wrong with the `rel` folder, after I remove it, everything works now.

[2016-10-14 04:37] #397 closed

[2016-10-14 21:23] derek121 commented on #315
Much like @fholzhauser, I found this issue while having a similar ^L hanging issue (with an Erlang release via `rebar3 as prod tar`, when deployed via Amazon's CodeDeploy). TERM didn't seem to be set, so adding the `TERM=xterm` allowed successful attach.

[2016-10-15 02:23] chenxsan commented on #394
Make sure the architectures for both build and hosting environments are the same, e.g. 64-bit Linux -> 64-bit Linux. So if you are going to run your release on your macOS, you must build your release on macOS too.

[2016-10-15 05:20] goofansu commented on #394
@chenxsan I've done it with the same Erlang version. Forget to close this issue. Thank you.

[2016-10-15 05:20] #394 closed

[2016-10-20 05:24] redink commented on #315
@fholzhauser @derek121

It works.

THANKS VERY MUCH !!

[2016-11-01 17:06] bitwalker commented on #395
@pcewing It's not actually a problem with `Mix.Config.read!/1`, as it is supposed to return the captured function. The issue is that we need to write a function in capture syntax to the `sys.config` file, so that when it is evaluated by the VM, we get a valid capture back. What happens now is we serialize the capture, which of course is invalid. It's something I have some ideas on how to tackle, b

[2016-11-01 17:09] #396 closed

[2016-11-02 09:58] SLOBYYYY commented on #395
Thank you @bitwalker! I'll close this since directions are clear --> Switch to distillery

[2016-11-02 09:58] #395 closed

[2016-11-03 12:17] danturn opened #399 "Upgrade releases and storage..."
Hi, definitely a question and not an issue but:

We intend to generate releases on across a number of CI servers and push them to a prod server performing an exrm upgrade to the new version.

in order for the CI servers to generate the correct relup do they all need to be able to see all versions? i.e. do they all need to have every release in their rel/APPNAME/releases folder so they know how to

[2016-11-05 20:24] bitwalker commented on #399
@danturn You only need the version you are upgrading from, but not all previous versions. Typically people have a build server which stores the artifacts from previous releases, and makes them available when building the release. How you do that depends entirely on your build environment, but the gist is generally:

- Store the tarballs somewhere
- At build-time, make sure the tarballs are availab

[2016-11-05 20:24] #399 closed

[2016-11-06 04:50] jameskerr commented on #70
I also had this same issue. Changing to owner of the log files from root to the deploy user fixed my problem. Thanks!

[2016-11-12 15:02] mvalitov opened #400 "deploy: module Experimental.Flow is not available"
my application uses ex_aws, and works fine in dev mode. But after deploy, in production mode, I get this error:
[code]
I need to add the module Experimental in deps? If so, how does it work in the dev mode? thanks for any help

[2016-11-12 19:06] mvalitov commented on #400
oh, sorry, I'm very inconsiderate. This question should be in a very different place, and has no relation to this project

[2016-11-12 19:06] #400 closed

[2016-12-01 00:32] dvcrn commented on #324
@pdilyard how did you solve this issue? I am running into the same problem and adding `:metrics` does not solve it

[2016-12-01 02:16] pdilyard commented on #324
Hmm, it's been a while. As far as I know, all I did was add `:metrics` to my applications. Interestingly, `:hackney` is not currently in my application list, but `:metrics` is, and my releases work fine.

[2016-12-01 02:18] pdilyard commented on #324
I think the way I debugged this was by following down the dependency tree to find any libs that have dependencies that are not included in their own applications lists.

[2016-12-06 03:02] tgodfrey opened #401 "mix release fails with 'no case clause matching: :eacces'"
I'm following the Advanced Deployment instructions here: http://www.phoenixframework.org/docs/advanced-deployment, and I keep running into the same error when building the actual release.

I'm able to run the following successfully:
[code]
Then, when I run MIX_ENV=prod mix release, I get the following error:
[code]
It's my understanding that :eacces indicates a file system permissions issue. I've

[2016-12-09 19:40] samuelebistoletti opened #402 "Raspbian Jessie with erlang 19 failed to start release"
I'm trying to start a release packaged on Ubuntu 16.10 with Elixir 1.3 and Erlang 19. The release has been deployed on a RaspberryPi 3 running Raspian Jessie with Erlang 19 compiled from source (tried also version 18 on esl-erlang package but the problem is the same), when I try to start the app I get this strange error:

$ bin/heimdall foreground
/home/pi/heimdall/erts-8.1/bin/erlexec: 1: /home/p

[2016-12-12 23:19] bitwalker commented on #402
You won't be able to deploy a release compiled on one architecture to a machine of another architecture. To do this, you need to either cross-compile the release, or set `{include_erts, false}` in `rel/relx.config`.

[2016-12-12 23:19] #402 closed

[2016-12-13 10:20] danturn opened #403 "using a different erts version when deploying a release"
Hi,

I'm building in debian with Exrm with {include_erts, false} in order to deploy to a windows server.

when i run the release on windows i get an error saysing

                                             {rlx_prv_assembler,
                                              {specified_erts_does_not_exist,
                                               "8.0.5"}}}

looking at the .bat file its grabb

[2016-12-15 19:12] freemanon commented on #401
I used `sudo` and it went through

[2016-12-21 16:27] jakkra opened #404 "Default protocols are not replaced by consolidated in release."
I opened an [issue](https://github.com/elixir-ecto/ecto/issues/1867) on Ecto, since I thought that was the problem. But it seems to be something with the release. We are using Windows, and it doesn't look like Distillery supports that yet, otherwise I would try it first.

Project to reproduce https://github.com/jakkra/ecto_insert_all_issue_reproduce.

`Protocol.consolidated?(String.Chars)` returns

[2017-01-02 16:08] eliast commented on #221
I just want to echo @benwilson512

I shipped a phoenix project to production using edeliver/distillery and was seeing 7 to 9 second response times in requests and it took me days to figure out. I finally figure out how to do some fprof and found that most of the time was being spent by the logger. I guess it was rolling through files so fast that it was blocking on some notify function. I disabled

[2017-01-02 20:44] raarts commented on #401
Why would it need sudo just to build a release package?

[2017-01-04 05:48] bingoabs commented on #401
I feel so confused by the same result ,and @freemanon 's way is right, thank you !But still don't understand why need 'sudo'!...

[2017-01-04 09:20] raarts commented on #401
Phoenix is switching to distillery, which is kind of a drop-in replacement. I switched to it without issues.

[2017-01-04 15:27] tgodfrey commented on #401
I'm going to close this issue, because it has become moot in my workflow. I'm deploying to Ubuntu, and so I'm developing on MacOS, building on an Ubuntu VM, and then deploying to an Ubuntu prod VM, so the building issues on MacOS don't matter to me.

I agree with @raarts - requiring 'sudo' to do a build seems very wrong. It raises all sorts of red flags, and potential problems. There's obviously s

[2017-01-04 15:27] #401 closed

[2017-01-05 02:18] bitwalker commented on #401
I've never had to use sudo with either exrm or distillery on OSX, so it's not clear to me what's causing this to occur as I'm unable to reproduce.

[2017-01-09 09:10] jthure commented on #404
I believe I found out whats wrong. The consolidated protocols are placed in `lib\appname-ver\consolidated`, which are not in the path, returned by `:code.get_path`. Furthermore, checking where the Elixir.String.Chars.beam file is for with `:code.where_is_file('Elixir.String.Chars.beam')` it returns the path `lib\elixir-ver\ebin\Elixir.String.Chars.beam`,

By moving the directory 'consolidated' fro

[2017-01-11 19:56] carusso commented on #401
I came across this same problem yesterday.  I resisted trying the sudo solution because I'm suspicious of anything that requires sudo from a security perspective and because I figured there could be unmalicious but annoying file ownership side effects.  I added some debugging code and determined that the problem was occurring somewhere within the relx run.  I also saw another problem report to the

[2017-01-13 22:12] xlphs commented on #375
For anyone who run into the same problem, simply replace the install block with https://github.com/erlware/relx/blob/master/priv/templates/extended_bin_windows#L142-L157

[2017-01-17 21:34] martin-langhoff commented on #299
Hitting this with distillery as well :-/

[2017-01-18 02:20] zhaohansprt commented on #365
so how to deal with this problem I meet this  too

[2017-01-19 20:47] bitwalker commented on #365
@zhaohansprt At this point, my recommendation is to migrate to [distillery](https://github.com/bitwalker/distillery). My time is fairly constrained, so exrm gets little love these days. If there is a reason why you haven't migrated yet, please open an issue on the Distillery tracker (if one isn't already open), and I will look into it ASAP.

[2017-02-03 13:44] mm-tfx commented on #75
Hello, There is something I am missing probably but I cannot make it work.
I would like to configure my phoenix app. I am talking about release version since for development I made it this.
I would like to make it possible to configure the port by the user through env variable PORT.
When this variable is not defined then I would like to pass 0 to the app and hence application would itself select f

[2017-02-07 08:02] bluetwin commented on #273
If anyone is still having this issue, I was able to solve it by adding distillery to the deps in `mix.exs`.
Somehow [exrm](https://github.com/bitwalker/exrm) was not included (its being replaced)

[code]

[distillery](https://github.com/bitwalker/distillery) - A pure Elixir implementation of release packaging functionality for the Erlang VM

[2017-03-07 05:09] BryanJBryce commented on #90
+1

[2017-03-13 11:19] thorsten-de commented on #404
Same issue here. Seems that the paths for consolidated protocols in the app.bat don't match the paths used in the app.sh...

[2017-03-13 12:43] thorsten-de commented on #404
I defined `@set consolidated=%release_root_dir%\lib\%rel_name%-%rel_vsn%\consolidated` and used it when installing the service: `  set args=-setcookie %cookie% -pa \"%consolidated%\" %erl_opts% %conform_opts% ++ -rootdir \"%rootdir%\"`

[2017-03-28 19:17] ejpcmac opened #405 "Error while trying to rewrite app file"
**Edit :** Never mind, I’ve seen `exrm` is being replaces by Distillery, and it works well with it.

When I try to build a release, it fails on the following error:

[code]

When I `ls -l` the file, it appears it is read-only:

[code]

[2017-04-18 05:15] influenza commented on #405
This is affecting me. How did you resolve your issue?

[2017-04-18 06:04] ejpcmac commented on #405
@influenza In now use [distillery](https://hex.pm/packages/distillery) instead.

[2017-04-24 21:03] Sitch commented on #379
I just ended up doing `mix release.clean --implode --no-confirm` and starting from scratch.  I tried just doing `mix release.clean` on the server and redeploying but to no avail.  Anyone have a better solution?

[2017-06-21 14:43] nelsonic commented on #257
How are we _meant_ to compile? is it `mix compile` ?

[2017-06-21 17:45] bitwalker commented on #257
@nelsonic you should switch to [Distillery](https://github.com/bitwalker/distillery) - it has superceded exrm and is in much better shape. Exrm is deprecated at this point in time. This issue in particular is irrelevant with Distillery, as it ensures compilation is always performed when building the release.

[2017-06-22 12:53] nelsonic commented on #257
@bitwalker thanks for reply. have switched. 👍

[2018-02-19 07:35] realprabs commented on #273
Still facing the same issue. Added distillery, on elixir 1.6.1, but it didn't help.

[2018-03-03 13:33] sambigelow opened #407 "Mix.Shell.cmd/2 no longer exists, could we get an update to use the new Mix.Shell.cmd/3?"
Here is the error message I am getting:

[code]

Apologies, I didn't read that this was deprecated.

[2018-03-03 13:33] #407 closed, assigned to nobody

[2018-03-28 07:21] denisw commented on #90
Any progress on this? I know that there are workarounds, but having a direct solution for boot-time environment variables would remove one roadblock for creating cobfigurable Docker images.

[2018-04-06 22:31] #312 closed

[2018-04-06 22:31] #321 closed

[2018-04-06 22:31] #326 closed

[2018-04-06 22:31] #330 closed

[2018-04-06 22:31] #331 closed

[2018-04-06 22:31] #333 closed

[2018-04-06 22:31] #334 closed

[2018-04-06 22:31] #335 closed

[2018-04-06 22:31] #339 closed

[2018-04-06 22:31] #345 closed

[2018-04-06 22:31] #351 closed

[2018-04-06 22:31] #360 closed

[2018-04-06 22:31] #363 closed

[2018-04-06 22:32] #365 closed

[2018-04-06 22:32] #370 closed

[2018-04-06 22:32] #374 closed

[2018-04-06 22:32] #375 closed

[2018-04-06 22:32] #377 closed

[2018-04-06 22:32] #378 closed

[2018-04-06 22:32] #379 closed

[2018-04-06 22:32] #383 closed

[2018-04-06 22:32] #387 closed

[2018-04-06 22:32] #403 closed

[2018-04-06 22:32] #404 closed

[2018-04-06 22:32] #405 closed

[2018-04-06 22:32] #116 closed

[2018-04-06 22:32] #125 closed

[2018-04-06 22:32] #146 closed

[2018-04-06 22:32] #167 closed

[2018-04-06 22:32] #180 closed

[2018-04-06 22:32] #186 closed

[2018-04-06 22:32] #199 closed

[2018-04-06 22:32] #205 closed

[2018-04-06 22:32] #208 closed

[2018-04-06 22:32] #215 closed

[2018-04-06 22:32] #221 closed

[2018-04-06 22:32] #224 closed

[2018-04-06 22:32] #225 closed

[2018-04-06 22:32] #236 closed

[2018-04-06 22:32] #237 closed

[2018-04-06 22:32] #240 closed

[2018-04-06 22:32] #243 closed

[2018-04-06 22:32] #253 closed

[2018-04-06 22:32] #258 closed

[2018-04-06 22:32] #260 closed

[2018-04-06 22:32] #262 closed

[2018-04-06 22:32] #264 closed

[2018-04-06 22:32] #272 closed

[2018-04-06 22:32] #277 closed

[2018-04-06 22:32] #299 closed

[2018-04-06 22:32] #67 closed

[2018-04-06 22:32] #90 closed

[2018-04-06 22:32] #91 closed

[2018-04-06 22:32] #114 closed