[2014-03-13 06:30] dullandwitless opened #1 "default ets version at 6.0"
I have to edit the release script for my app.

[2014-03-14 21:26] dullandwitless opened #2 "Nested applications and dependancies"
calls to eldap are missing some of the dependancies:

https://gist.github.com/toastytheog/9553417

[2014-03-16 18:51] #1 closed, assigned to bitwalker

[2014-03-16 18:56] #2 closed, assigned to bitwalker

[2014-03-16 19:01] bitwalker opened #3 "Release Upgrades"
A couple things need to happen before this feature is complete:
- [x] `relx.config` file needs to be updated to reflect each new release
- [ ] Need to generate `*.appup` configuration, which describes how applications are upgraded/downgraded.
- [x] Need to generate `*.relup` configuration, which describes how releases are upgraded/downgraded.
- [x] Need documentation on how to manage release upgra

[2014-03-17 18:19] #3 closed, assigned to bitwalker

[2014-03-17 18:21] bitwalker opened #4 "Generated project.app file doesn't contain application dependencies"
This is a bug in Elixir that I have a pull request in for, where the standard core dependencies `:kernel`, `:stdlib`, and `:elixir` aren't included in the generated .app file. This causes applications that have no dependencies to not be included in the final release, and cause your release to fail.

I'll update this issue when my PR has been merged.

[2014-03-17 19:24] #4 closed, assigned to nobody

[2014-04-21 06:58] josevalim opened #7 "Automatically pass +fnu in vm.args"
From Elixir v0.13.1 and Erlang 17.0, Elixir will default to using the +fnu flag when starting the VM to force unicode encoding even on Linux systems. I would recommend adding this flag by default to releases too (or any other script that starts up the VM). Here is the relevant line on Elixir:

https://github.com/elixir-lang/elixir/blob/master/bin/elixir#L97

Thank you!

[2014-04-21 08:50] #7 closed, assigned to nobody

[2014-04-23 16:26] mweibel opened #8 "Dependency specified but not reachable"
Hi,

when trying to create a release as follows:

[code]

I get the following error:

[code]

I don't really know from which dependency this comes from (I suppose hackney_lib, but not sure) but it would be nice to have a better error message, specifying where exactly this problem came up (if possible..).
And the second thing is: I think the "unicode" dependency is an erlang module, therefore it sh

[2014-04-23 17:30] tsloughter opened #9 "relx API"
I just came across this project on hex.pm and noticed you are calling `relx` from a shell process. It'd be better in this case to use the `relx` API, like how the `rebar` plugin does: https://github.com/erlware/relx/blob/master/src/relx.erl#L87

[2014-04-23 17:45] #9 closed, assigned to bitwalker

[2014-04-25 05:56] #8 closed, assigned to bitwalker

[2014-04-30 17:11] stevedomin opened #10 "mix release generate 'nil' folder"
Hi Paul,

Following our discussion on IRC two days ago on deploying Dynamo apps I generated a lot of releases and noticed that, each time, it was creating a 'nil' folder with an empty file named '.compile.dynamo' in it.

Looks like some leftover which should have been cleaned up.

Not sure if this is due to exrm or related to something in Dynamo, if the latter feel free to close.

[2014-05-08 01:13] smpallen99 opened #11 "Example does not work"
I was able to get the example working on my MAC. However, I can't get it running on my Linux machine Centos 5.6

Building the release:

[code]

Installed to /tmp/test

[code]

Any ideas?

[2014-05-08 19:49] #11 closed, assigned to nobody

[2014-05-15 18:12] smpallen99 opened #12 "Release does not start on clean centos 5.6"
Test project release built with
Erlang 17.0
Elixir 0.13.2
Exrm 0.6.3

I installed the release on system which it was build and had no issues with start, ping, stop

Installed test release on target centos system WITHOUT elixir or erlang installed.

[root@ucx50-4 test]# bin/test start
bin/test: line 130: /usr/local/test/erts-6.0/bin/run_erl: cannot execute binary file
[root@ucx50-4 test]#

What's i

[2014-05-15 18:29] #10 closed, assigned to nobody

[2014-05-15 18:30] bitwalker opened #13 "Add ability to generate rpms as part of the release build"
cc @smpallen99

This is scheduled for the next major release of exrm.

[2014-05-15 18:31] bitwalker opened #14 "Integrate with conform for simplified release configuration on target"
See https://github.com/bitwalker/conform for more info.

Scheduled for the next major release of exrm

[2014-05-16 12:21] smpallen99 opened #15 "remote_console does not work on target without elixir installed"
Is remote_console supposed to work on a system **without** elixir installed? I reviewed the generated bin/test script and it looks like iex is being called directly without any path. Nor could I find an iex executable in the release directory.

I can reproduce this problem on elixir 0.13.1 / exrm 0.5.0, but cannot get 0.13.2 / exrm 0.6.3 working (per previous issue) to try and reproduce.

[2014-05-19 05:18] #15 closed, assigned to nobody

[2014-05-19 05:39] #12 closed, assigned to nobody

[2014-05-19 19:41] #14 closed, assigned to nobody

[2014-05-20 13:04] smpallen99 opened #16 "mix release fails on project without config directory"
I had an older project that I tried upgrading to 0.6.7. The project did not have a config directory. Should mix release really fail?

➜  exrm-test git:(master) ✗ mix release
==> Generating sys.config...
==> Generating boot script...
==> Conform: Checking for extest.schema.exs...
==> Conform: No schema found, generating one at config/extest.schema.exs
*\* (File.Error) could not write to file /Users

[2014-05-20 13:25] #16 closed, assigned to nobody

[2014-05-20 13:33] smpallen99 opened #17 "Release fails to start on Centos"
Centos install without erlang/elixir
Release build with elixir 0.13.3-dev / exrm 0.6.7

[root@localhost exrm_test]# ls
bin  erts-6.0  lib  releases
[root@localhost exrm_test]# bin/exrm_test2 start
/usr/bin/env: escript: No such file or directory
[root@localhost exrm_test]# ls
bin  erts-6.0  lib  log  releases
[root@localhost exrm_test]# ll bin
total 2072
-rwxr-xr-x 1 admin games 2078734 May 20  20

[2014-05-20 14:12] #17 closed, assigned to nobody

[2014-05-22 02:44] novabyte opened #18 "Does exrm support Mix umbrella projects?"
Hi, I've started tinkering with Elixir a little and stumbled across your project. It's a really nice tool, great work!

I couldn't find any information on whether it supported Mix-style "umbrella" projects. Can I call `mix release` at the toplevel and get many apps bundled together into a release?

[2014-05-22 04:57] smpallen99 opened #19 "Release fails to start"
I'm getting the following error on release built on 0.13.2 and exrm 0.6.10

[root@ucx50-4 mdse]# tar xzf ../mdse-0.1.0.tar.gz
[root@ucx50-4 mdse]# bin/mdse start
*\* (Code.LoadError) could not load /tmp/mdse/releases/0.1.0/mdse.schema.exs
    (elixir) lib/code.ex:473: Code.find_file/2
    (elixir) lib/code.ex:254: Code.eval_file/2
    (conform) lib/conform_schema.ex:16: Conform.Schema.load/1
    (

[2014-05-22 14:01] smpallen99 opened #20 "Update plugin.ex comments"
The comments still talk about the old run api. needs to be updated for before_release / after_release.

[2014-05-22 16:51] #19 closed, assigned to nobody

[2014-05-22 17:03] smpallen99 opened #21 "Another release fails to start issue"
Elixir 0.13.2 and exrm 0.6.11, centos without erlang.

[root@ucx50-4 exrm_test3]# bin/exrm_test3 start
bin/exrm_test3: line 67: erts-6.0/bin/escript: cannot execute binary file
[root@ucx50-4 exrm_test3]# ls releases/0.0.1/
exrm_test3.boot  exrm_test3.conf  exrm_test3.rel  exrm_test3.schema.exs  exrm_test3.script  sys.config  vm.args
[root@ucx50-4 exrm_test3]#

[2014-05-22 17:58] #21 closed, assigned to nobody

[2014-05-22 18:05] smpallen99 opened #22 "release generation should fail if any step fails"
I have two issues here. After cloning my project on a new machine, the first mix release failed. I did not notice the error, copies the tar file to the target system, installed it but it did not work.

[code]

After reviewing this error on the build:

[code]

I ran `mix release` again. This time it worked. Installing the new release tar file on the target system worked.

My concerns:
- Why did the

[2014-05-22 18:39] #20 closed, assigned to nobody

[2014-05-22 18:39] #22 closed, assigned to nobody

[2014-05-22 22:29] smpallen99 opened #23 "Problems building 0.6.12"
[code]

[2014-05-22 22:44] #23 closed, assigned to nobody

[2014-05-23 03:03] #18 closed, assigned to bitwalker

[2014-05-23 10:25] edgurgel opened #24 "Libraries are not loaded"
If you have a "library" that is not really an application that need to get started, you need to put it on `applications` on mix.exs file to be part of the release.

I don't think this should not be necessary. Am I doing something wrong?

[2014-05-23 23:11] #24 closed, assigned to nobody

[2014-05-24 00:09] smpallen99 opened #25 "How do I use rpc"
I'm trying to use rpc per the readme. I get following:

[code]

What is the correct syntax to run the following in my project?

[code]

[2014-05-24 01:16] #13 closed, assigned to nobody

[2014-05-24 02:12] smpallen99 opened #26 "Add plugin support for release.clean"
I would like to add clean support to my plugin. Having a clean hook would be the best way to accomplish this.

If you don't mind, I'd like to implement this and send you a pull request. I'm thinking a single hook run after the main clean. I propose after_clean(args).

What do you think?

[2014-05-25 00:24] #26 closed, assigned to nobody

[2014-05-26 10:09] josevalim opened #28 "Run mix compile.protocols on v0.14.0"
Once Elixir v0.14.0 is out, the build pack could automatically compile and consolidate protocols. Calling `mix compile.protocols` will generate a consolidated path. This path need to be added to the release package and once the release boots, all the beam files in the directory need to be explicitly loaded (while previous versions of the protocols must be deleted/purged).

Note exrm shouldn't, at

[2014-05-26 12:20] smpallen99 opened #29 "mix help release should show options added by plugins"
I believe it would be nice have the ability to add help in plugins. I'm not sure how difficult it would be to do with the built in help since its handled automatically by reading the comments of the task.

Perhaps we could add a --help to mix release that would display the help comments of each installed plugin. I know there is an API to get to the @doc so I presume this latter approach should be

[2014-05-27 03:59] #25 closed, assigned to nobody

[2014-06-04 11:36] malkomalko opened #30 "Upstart and Logging?"
Have a few questions.  Just checked out this module last night for the first time and it's really wonderful, so thanks.

1) Upstart config:

I was playing around with figuring out how to throw Upstart around this to start my erlang app on boot and to respawn it, but couldn't quite figure it out the way it forks the processes, it always seemed to hang.  Anybody do anything like this before?

2) Log

[2014-06-12 17:36] sanmiguel opened #31 "Optionally exclude elixir distribution for pure-erlang projects"
I'd love to be able to build purely erlang projects using `mix` and `exrm`. A stepping stone to this is being able to configure a release to exclude the elixir/iex runtime.

Example project with first steps to a working `mix.exs` for compiling and building release here: https://github.com/sanmiguel/rest_service/tree/r17-maps-mix

[2014-06-19 21:53] jwarwick opened #34 "escriptize failing?"
Using the latest version of `exrm` (v0.10.0) and the current elixir master (v0.14.2-dev), running `mix release` generates an error. I tried a `deps.clean` and `deps.update`. I traced it back to the `mix escriptize` command in a hidden `conform` task called by `exrm`. I have an empty `config.exs` file that generated default `conf` and `schema` files.

Stacktrace:

[code]

[2014-06-20 04:11] #34 closed, assigned to nobody

[2014-06-30 02:55] #28 closed, assigned to nobody

[2014-07-07 12:45] arielze opened #35 "mix release on mac doesn't run on linux"
Hi,
I've build the project on my mac running 'mix release', I copied the tar.gz file into our test server on Amazon, running linux 14.04.
While trying to run it I get this message:
erts-6.0/bin/escript: 1: erts-6.0/bin/escript: Syntax error: "(" unexpected
We used this server previously to run the project successfully, build on linux running 'mix release'.

Please advice,
Ariel

[2014-07-09 01:14] alco opened #36 "Running `mix release` for the first time uses :dev config"
I have `exrm` added as follows:

[code]

Then I run

[code]

The first time it runs, it creates `.conf` and `.schema.exs` files.

I have set up my `config.exs` to import config for the currently set environment:

[code]

I only have a file for the dev environment – `dev.exs`:

[code]

and that's it.

This is the `.conf` file I end up with after the release is built:

[code]

So it appears that it

[2014-07-09 06:00] bitwalker opened #40 "Refresh documentation"
- [ ] Fully document API
- [ ] Walkthrough of simple and complex releases
- [ ] Explanation of conform, and how to use it effectively
- [ ] Add FAQ

[2014-07-09 06:05] bitwalker opened #41 "Better unit test coverage"
Currently unit tests are...inadequate. I'd like to add tests for as much functionality as possible to prevent regressions as more and more complexity is added. It will be especially important once the extraction of relx begins, and the need for verification of the new implementation becomes a necessity. Some ideas for tests:

- [ ] Test more appup scenarios
- [x] Test utilities
- [x] Test generati

[2014-07-11 01:50] jsvisa opened #42 "Where should I place `app.conf` and `vm.args`"
I want to set some custom settings in `app.conf` and `vm.args`, but I can't find any space to place it. Is `exrm` support custom `app.conf` and `vm.args`, and copy them to the release directory? Thanks.

[2014-07-11 04:14] jsvisa opened #43 "Can't add `poolboy` as dependence"
I don't know why, but it occurred. I add [poolboy](https://github.com/devinus/poolboy) as  my dependence, use your tool to create a release, I found it can't add `poolboy` as it's dependence. You can try it.

[2014-07-12 03:54] #36 closed, assigned to bitwalker

[2014-07-13 02:05] d0rc opened #44 "priv dir is missing for elixir deps and project itself"
in earlier versions of exrm it worked just fine
do you have any ideas how to fix it?

[2014-07-13 04:29] #43 closed, assigned to nobody

[2014-07-13 04:30] #30 closed, assigned to nobody

[2014-07-13 06:42] #44 closed, assigned to bitwalker

[2014-07-16 16:52] #35 closed, assigned to bitwalker

[2014-07-17 00:25] #42 closed, assigned to bitwalker

[2014-07-17 01:44] #29 closed, assigned to bitwalker

[2014-07-17 17:53] bitwalker opened #46 "Issue resolving deps on Debian Wheezy"
- Installed Erlang from source, using `./configure && make`
- Installed Elixir v0.14.3 from the precompiled zip, by putting `lib` in `/usr/local/elixir/lib` and `bin` in `/usr/local/bin`.
- With the example application _pending location_, running `mix release` fails saying it cannot resolve the `snmp` application, even though the logs show that it was able to resolve it.
- The issue is present in

[2014-07-17 19:30] novabyte opened #47 "Unknown dependency conform for environment dev"
I've updated the `exrm-umbrella-test` so that I could put together a reproducible case of this bug for you. My PR is available here:
https://github.com/bitwalker/exrm-umbrella-test/pull/1

If you run this project with `mix release` you'll see the following error message:

[code]

The applications do not make use of `conform` it appears that the dependency belongs to `exrm` itself. Let me know if I

[2014-07-17 22:26] Scramblejams opened #48 "Support releases on Windows"
relx doesn't, in its present state as used by exrm, seem to run on Windows. Therefore releases can't be produced on that platform.

[2014-07-18 03:27] #46 closed, assigned to bitwalker

[2014-07-19 05:59] #47 closed, assigned to bitwalker

[2014-07-24 14:27] uriagassi opened #49 "Changes in config.exs are not reflected in app.conf"
If `{app}.conf` does not exist under `config/` it is created from `config/config.exs` when running `mix release`.

If it does exist, though, and changes are made to the `config.exs` file, building a new release will not update the `{app}.conf`, and the changes will not be reflected in the build.

[2014-07-28 18:24] bitwalker opened #50 "Deprecate relx dependency"
The time has come to say goodbye to our good friend relx. Relx has been fantastic for exrm so far, but ultimately if we want to make exrm as powerful a tool as possible, we're going to need to take over control of the process. Additionally, if this is ever to become a project under the @elixir-lang umbrella, it will need to be dependency-free, and written in Elixir in it's entirety.

So the genera

[2014-07-28 18:48] bitwalker opened #51 "Rebuild boot script with modular architecture"
So today, my approach to the boot script is pretty much "don't touch it". For the conform integration though, I had to add in my own custom hooks in order to handle the runtime functionality that conform requires. That situation was a bit of a one-time deal just for exrm, but I assume that folks who wish to write plugins for exrm will potentially need to execute code at runtime like conform does.

[2014-07-29 04:58] mweibel opened #52 "Can't start generated dev relase using `console`"
Hi,
I generated a release using `mix release --dev`:

[code]

After that I wanted to start it using `console`:

[code]

When trying to use `start` it just exits immediately :|

Do you have an idea what's going on?

[2014-07-29 21:15] #52 closed, assigned to bitwalker

[2014-08-04 23:37] #49 closed, assigned to bitwalker

[2014-08-13 13:27] zyro opened #54 "`mix release` fails with no function clause match"
Running into this issue:

[code]

Looking at the code here https://github.com/bitwalker/exrm/blob/master/lib/mix/tasks/release.ex#L115 I'm wondering if it's not caused by a typo? L111 just above that has `Mix.Project.config` with lowercase "c".

[2014-08-13 14:53] #54 closed, assigned to bitwalker

[2014-08-15 16:23] bitwalker opened #55 "Need to handle `{include_erts, false}` properly."
Currently fails with :enoent on boot.

[2014-08-19 05:26] falood opened #56 "./bin/test upgrade failed"
There's only `test.boot` in `releases/0.0.2` dir but `start.boot` required.

PS. `[ { :exrm, "~> 0.14.2" } ]`

[2014-08-20 21:21] johnfoconnor opened #57 "conform binary should be included within the release directory, not bin"
instead of my_app/bin/conform we should have my_app/releases/0.0.1/conform

the reasoning is that the conform executable is directly related to the specific schema and conf format used in that release. over the lifetime of an app, if the version of conform changes in a way that is not backwards compatible then using the older binary will cause issues. For this reason the conform executable should

[2014-09-12 06:07] #55 closed, assigned to bitwalker

[2014-09-12 07:22] #56 closed, assigned to bitwalker

[2014-09-12 07:54] hamiltop opened #58 "Poison not included in release"
Maybe I don't understand how this works, but if I untar the release on another machine, I can start my application but I get `undef` when I make calls to Poison.encode!

Poking around in the release direction, there is not poison dir under /lib

Am I doing something wrong here?

[2014-09-15 13:00] jsvisa opened #59 "Does it support for custom tar a package"
My Elixir app struct is:

![screen shot 2014-09-15 at 20 55 08](https://cloud.githubusercontent.com/assets/3627395/4271389/96f83410-3cd7-11e4-867a-80f604e874db.png)

I have some custom config files in *etc* directory, `mix release` just taring *lib*, *releases*, *bin* those directory, should it be useful for a config to custom the tar files, just like the `etc` directory below?

[2014-09-19 12:18] markschmidt opened #60 "Support for environments other than prod"
In addition to the production environment, we have two integration/staging environments for which we would like to build releases for as well.

Is there a reason, that prod is hard coded and it's not checking, lets say the MIX_ENV variable?

If not, would you accept a pull request for that?

[2014-09-19 18:59] #58 closed, assigned to bitwalker

[2014-09-20 02:03] mobileoverlord opened #61 "erlexec: HOME must be set"
Trying to deploy and launch a phoenix app on production servers and I am encountering an issue where in the erlang.log.1 it is stopping at

erlexec: HOME must be set

Please let me know if you need any additional information

[2014-09-22 20:51] #60 closed, assigned to bitwalker

[2014-09-22 21:10] #61 closed, assigned to nobody

[2014-09-26 13:25] drouchy opened #63 "consolidated protocols error when MIX_ENV is not prod"
Hi,

I'm trying to build a release for a project on a staging env, but exrm fails with the error:

==> Building release with MIX_ENV=staging.
==> Generating relx configuration...
==> Generating sys.config...
==> Generating boot script...
==> Performing protocol consolidation...
==> Conform: Loading schema...
Unable to copy from
....../_build/**prod**/consolidated to ....../rel/shutl_inspector/lib/

[2014-09-30 03:03] tsutsu opened #64 "Logger log messages are uncolored when sent over a release's remsh connection"
Steps to reproduce:

1. Create an Elixir release which uses Logger, and has ANSI colorization enabled.
2. Start it using `./bin/[relname] console`
3. Connect to the release using `./bin/[relname] remote_console`
4. In both the local and remsh consoles, call a function which calls a Logger function, e.g. `Logger.warn`, or call one yourself.

The messages printed on the release's own local console w

[2014-09-30 22:30] #63 closed, assigned to nobody

[2014-10-01 08:21] drouchy opened #66 "Error during release: "could not find app idna {1,0,0}""
Hi,

I'm trying the build a release for a project of mine, and I'm facing a odd problem:

[code]

I don't directly depend on idna, but on dependency of one of my dependencies depends on it. The odd part is if I look at the mix.lock file

[code]

As you can see the idna version is 1.0.1 not 1.0.0

Cheers,

David

[2014-10-11 03:17] jihaia opened #67 "Accessing Mix tasks from release"
Sorry for the noob question - after I have packaged the release and deployed to new environment, I need to run some tasks in order to initialize the database etc. Are those MIX tasks accessible? is that the intent etc?

[2014-10-20 18:40] sasa1977 opened #69 "when doing remote_console it's not possible to make the connecting node hidden"
Example:

[code]

I was thinking about making a PR, but it's not clear to me how this should be done. Should additional arguments be passed to `erl` or to `iex`?

The former seems more flexible (since we can also provide other options to the connecting node), but the thing is then that we need to use `-hidden` instead of  Elixir style `--hidden`.

I guess it's probably better not to make hidden th

[2014-10-22 01:15] devinus opened #70 "./app start doesn't work, but ./app foreground does"
I honestly don't know where to start, since `./app start` doesn't log anything. Pointers?

[2014-10-22 05:49] #69 closed, assigned to nobody

[2014-11-01 15:40] mweibel opened #71 "hmac undefined when starting a packaged release"
Commit to test here: https://github.com/mweibel/exrm-test/commit/26eff983d03165567587deceafd08d9452831e93
Branch: https://github.com/mweibel/exrm-test/tree/bug/crypto-hmac

When using hmac functions from erlang and using exrm to release an app it will fail to start or to use the code where the hmac functions are being used. I tried adding `crypto` to the list of applications but this doesn't help.

[2014-11-01 16:57] Hades32 opened #72 "escript: exception error: bad generator"
I have created a release 0.0.2 and created from this my initial deployment. Then I made a tiny change (only static content) increased the version number to 0.0.3 and created a new release and tried to upgrade to it.
The result is this:
[code]
The crazy thing is that this error happens also for release that don't exist!
Contents of my mix.lock:
[code]
This is being done on a RaspberryPi (ARM CPU) w

[2014-11-03 06:30] #71 closed, assigned to bitwalker

[2014-11-03 16:48] smpallen99 opened #73 "Using rpc with multiple function paramters"
I'm having a problem running rpc with an elixir function arity > 1. Can you provide an example? Might also be helpful to add an example to the docs.

Thanks

[2014-11-06 12:52] #73 closed, assigned to nobody

[2014-11-07 08:20] async-cl opened #74 "Upgrade is successful, but no changes are effected"
I seem to have a nice update going on, I have this in output

executing: bin/xservice upgrade 0.0.4
Release 0.0.4 not found, attempting to unpack releases/0.0.4/xservice.tar.gz
Unpacked successfully: "0.0.4"
Installed Release: 0.0.4
Made release permanent: "0.0.4"

however, even though, I do mix clean, mix deps.get, mix compile, mix release

with some changed files I'm just not seeing any changes

[2014-11-08 20:30] stocks29 opened #75 "config.exs evaluated at release creation time"
I'm not sure if this is intended or not, but because config.exs is evaluated when the release is built, all System.get_env() calls inside config.exs are evaluated at the time the release is generated. Typically these calls are intended to be executed at runtime so the application can be dynamically configured at that point.

The downside is that sensitive properties (database passwords, etc...) ar

[2014-11-17 02:11] olhado opened #76 "Upgrade to new release fails"
When I try to run the upgrade, I get the following error:

[code]

Sure enough, there is no relup in my initial 0.0.1 release. No idea how to proceed.

[2014-11-22 08:11] rubencaro opened #77 "Start/console with 'include_erts, false'"
I tried to setup a release workflow on a new project and I decided not to include erts.

Everything went fine until I got to run `bin/project start`. Then my app wouldn't start complaining about modules not being there.

I got everything to work just by adding `unset ROOT_DIR` the line before the `exec` command inside `console` (right before this line https://github.com/bitwalker/exrm/blob/b7df8aa

[2014-11-23 09:13] rubencaro opened #78 "':logger application is not running' after an upgrade"
My `mix.exs` looks like:
[code]
Everything looks fine with the first release. Then I build a second release, and make an upgrade. I get this:

[code]

Everything still looks ok. I run `bin/sequeler attach` and I see everything is up, `:emysql`, `:cipher`, `:jazz`, `:cowboy`, `:plug`... The only one that's not responding is `:logger`.

When I run `Logger.info "hi"` I get:

[code]

The trace in logs

[2014-11-25 18:11] #76 closed, assigned to bitwalker

[2014-11-26 17:05] olhado opened #79 "Phoenix post calls throw 500 when app run as an exrm release"
exrm: 0.14.12
phoenix: 0.5.0

I did a clean release of my app, and while the get calls are returning fine, my one post call throws a 500 error. This does not happen if my phoenix app is run with MIX_ENV dev or prod via `iex -S mix`, but does happen (on Mac OS X 10.10 and Amazon Linux) when run as an exrm release (`bin/appname start`).

This worked at some point, but right now only fails with exrm-

[2014-11-26 17:53] #79 closed, assigned to nobody

[2014-12-05 21:00] skylerparr opened #80 "Issue starting correct version when stopping app then restarting"
If I issue a stop to my application after it has been upgraded to a higher version than the initial version for release, then upon restart the version restarts back at the initial version. Additionally, if I run upgrade to the expected version it reports it's already at that version. In order to get it to the correct version I have to downgrade to the initial version then upgrade back to the expec

[2014-12-12 21:07] jordan0day opened #81 "Ways to differentiate releases other than project version?"
I'd like to use build exrm releases as part of a CI process, but developers (myself included!) don't always remember to bump the version number in mix.exs. I don't see it in any documentation, but does exrm support other means to differentiate releases (maybe timestamps, ideally?), resulting in my_project-#{timestamp}.tar.gz, rather than my_project-#{version}.tar.gz?

Ideally I'd like the generate

[2014-12-13 04:23] #81 closed, assigned to bitwalker

[2014-12-15 14:09] smpallen99 opened #82 "ping should return error code when not running"
When I run ping and get a response `Node 'myapp@127.0.0.1' not responding to pings.`, I would expect this to return an error code. However, it returns 0.

This a problem when writing linux init scripts.

[2014-12-16 01:02] curtislinden opened #83 "exrm + phoenix doesn't appear to start router"
I like how exrm packages everything.  It seems like the phoenix router is not getting started when i use 'start' or 'foreground' .

I've followed the directions and have an application specified.

If i start the app and 'attach' to it and run
'Testp.Router.start'

I'm able to use the service. Is there something that I can do to tell exrm to boot phoenix?

[2014-12-16 18:25] #83 closed, assigned to nobody

[2014-12-16 19:03] robotarmy opened #84 "EXRM is generating a different style of config that phoenix so config merge is not working"
Exrm is generating an exploded form of  the elixir config and is putting this along side the original, such that the original is used.
[code]

[2014-12-18 04:34] robotarmy opened #85 "Generating upgrades from a fresh clone of repository"
In-order to upgrade the software has to believe that it has more than one version active when it generates the release.

Is it possible to tell exrm that there are releases without having generated the previous release?

It would possible to check 'rel' into the repository, which i believe will give exrm the ability to know that there have been prior releases as a work around.

Is the rel/releases

[2014-12-19 16:22] janispauls opened #86 "Error building release with MIX_ENV=prod"
I am getting an exception when running with MIX_ENV=prod.
simple 'mix release' works

[code]

[2014-12-19 16:37] janispauls opened #87 "mix release fails with "undefined function: Conform.Schema.read/1""
[code]

[2014-12-19 17:26] #87 closed, assigned to nobody

[2014-12-19 18:10] #82 closed, assigned to nobody

[2014-12-29 20:06] #86 closed, assigned to bitwalker

[2015-01-02 09:17] bitwalker opened #90 "Provide means of configuring release via environment variables"
See original motivation [here](https://github.com/phoenixframework/phoenix/issues/354).

Just to follow up here with [notes from the conversation](https://gist.github.com/bitwalker/cf850398db7d6e6fea6a) @josevalim and I had in IRC this morning:
- I'll add support for a new experimental config section `system_env`, which will contain app-specific configuration values which will be pulled from the s

[2015-01-04 10:01] zztczcx opened #91 "Could not generate relup for umbrella project"
I test in your git repository exrm-umbrella-test .
and change the master_app version to 0.0.2
then mix release

Errors generating relup
  Could not open file  exrm-umbrella-test/apps/master_app/rel/master_app/lib/master_app-0.0.2/ebin/master_app.appup

[2015-01-04 11:59] mweibel opened #92 "Error generating release when upgrading dependency"
When you upgrade a dependency (one which is included within the list of applications) and want to generate a new release it fails because .. I don't know ;) Might be related to #66 though, I had also sometimes the error described there.

Erlang version 17.3, Elixir version 1.0.2

Steps to reproduce:

1) create a new elixir project `mix new test`
2) `cd test/`
3) edit `mix.exs` and add a dependency

[2015-01-04 12:41] mweibel commented on #92
The weird thing is that it still has timex 0.13.0 in the application list for the release 0.0.2 :S

[2015-01-04 23:14] guilleiguaran commented on #90
:+1: looks great for me

[2015-01-05 00:01] bitwalker commented on #92
Thanks @mweibel! I've run into this as well, at least one other issue is related to this. Still trying to sort out the correct solution. I'll keep you posted!

[2015-01-05 02:31] bitwalker commented on #91
I'll take a look, this may be related to another issue I'm currently investigating. Thanks for reporting!

[2015-01-05 02:54] zztczcx commented on #91
now I changed the v2_path = "#{File.cwd!}/_build/#{env}/lib/#{app}" like this . and fixed the problem .
but I donot think this is a good solution .
I am not very familiar of the  Mix.Project.compile_path method.

[2015-01-05 03:28] zztczcx commented on #91
or delete config = [build_path: Mix.Project.build_path, umbrella?: true] the build_path?

[2015-01-05 08:08] mweibel commented on #92
Ok thanks @bitwalker. I ran into some other issues as well, not sure if related. Will do a proper issue for them as well later.

[2015-01-07 20:41] rubencaro commented on #77
@bitwalker I'm afraid I cannot get the same behaviour again. Now I am trying generating the release on a Fedora21 laptop and running on a Ubuntu14.04 server. Following the same steps above I get the same `{undef,[{crypto,hash,[sha,\"pass\"],[]}` message, but also I see another message:

[code]
That one was not showing before. Let there be light.

But the `unset ROOTDIR` hack did not work this time

[2015-01-07 22:44] bitwalker commented on #77
I feel like I've seen this before, not necessarily with releases, but someone just running their app and getting that error. I'll poke around a bit, maybe I can find some references to a fix. The error message to search for you if you are trying to figure this out as well would be the "OpenSSL might not be installed on this system` bit.

[2015-01-08 06:18] rubencaro commented on #77
Yes the problem is crypto being compiled against some version of openssl, and then try to run it with another version.

It says it's not installed because it's looking for some 'libcrypto.so.10', but on that system there is only 'libcrypto.so' . If I make a link to libcrypto.so named libcrypto.so.10  then it complains not to be the exact same version...

That's why I was talking about shipping ope

[2015-01-08 19:54] hexedpackets opened #94 "Upgrade fails when using short names"
In my vm.args file, I've defined `-sname dealer`. Everything works fine when starting up:

    $ bin/router start
    $ bin/router ping
    pong

But attempting to upgrade fails and appears to be incorrectly expecting a FQDN:

    $ bin/router upgrade 0.0.2
    Node 'dealer@utility-dev' not responding to pings.

    =ERROR REPORT==== 8-Jan-2015::19:47:35 ===
    ** System running to use fully qual

[2015-01-08 20:32] bitwalker commented on #94
You can define both a short and a long name, and use them interchangeably, so I would do that, rather than only defining a short name. The issue here appears to be that the escript which installs the upgrade requires the full name. Could you try defining a long name in addition to the short name and try again?

[2015-01-08 20:34] bitwalker commented on #77
Makes sense to me, not sure what the ideal solution is here, other than making sure the versions match on the build server and the production server. Let me know how your experimentation goes/what solution you end up with - it'd be good to have documented somewhere in case it comes up again. I'll close this for now.

[2015-01-08 20:34] #77 closed

[2015-01-08 21:43] hexedpackets commented on #94
Providing both causes a new error when I try to ping it:

    $ bin/router ping
    escript: exception error: no function clause matching
                 erlang:set_cookie(nonode@nohost,mycookie)

I tried starting iex with both a short and long name set, and the long name seems to just get ignored. Trying to connect using the long name throws `** System NOT running to use fully qualified hostname

[2015-01-08 23:15] hexedpackets commented on #85
What about when using an ephemeral build server, such as from CircleCI or TravisCI?

I use OS X for development but deploy to Ubuntu, so my local builds aren't usable. Having the build service compile the application works for the initial release but the server gets purged after the build.

The only way I can see making the release upgradeable through the build service would be to have it commit t

[2015-01-10 00:14] bitwalker commented on #94
I'm sorry, I was mistaken about the ability to use both at the same time. I just read back through the shell code for booting the release and reviewed the Erlang docs and it's one or the other.  However I think the issue is different than what I thought. I'm wondering if you can tell me the result of `Node.self` when you run `bin/router console`. It should be `:"dealer@utility-dev"`, based on the

[2015-01-14 00:53] cjimison opened #95 "Allow auto confirm for implode"
It would be great if there was a flag I could set to auto confirm a Mix release.clean --implode.  While this is not something I would use in my day to day work, asking for a confirmation from my Jenkins build machine ( or any cl system) is difficult to work around.

Thanks for the awesomeness that is exrm!!!

[2015-01-14 18:59] bitwalker commented on #95
Should be fairly trivial to add this as an enhancement. I'll add it to the TODO list!

[2015-01-14 19:08] expelledboy opened #96 "Deploy to Ubuntu Dockerfile"
Hi

Does the ./bin/app script work on Ubuntu? I am trying to deploy this in a Docker container (trenpixster/elixir:1.0.2), but I get the following set of errors:

[code]

[code]

[2015-01-15 20:11] hexedpackets commented on #94
Yes, Node.self is `:"dealer@utility-dev"`. I've also noticed that with an sname `router stop` fails to stop the application, while it works with a long name. Not sure if this is actually related but it seems likely.

[2015-01-16 18:40] bitwalker commented on #96
It definitely should, so I expect something was likely changed to break it. What version of Ubuntu specifically are you deploying to? I can set up a VM and do some digging.

[2015-01-16 18:44] bitwalker commented on #94
Somehow I missed the error message which said `hostname utility-dev is illegal`. I'm at work, so I'll have to check when I get home, but I wonder if a qualified hostname would work, i.e. `utility-dev.local`. I'll see if I can reproduce it by playing around in a VM. Running `exrm-test` locally on my mac gets `:"test@127.0.0.1"` instead of a proper hostname.

[2015-01-26 05:36] fire commented on #48
Is there any progress?

[2015-01-26 09:26] fishcakez commented on #78
@rubencaro it has been merged on v1.0 and master branches, 1.0.3 is out soon.

[2015-01-26 16:18] bitwalker commented on #78
@fishcakez Thanks for updating, just caught up on a bunch of my emails today, glad this one is finally being resolved.

[2015-01-26 16:27] rubencaro commented on #78
Nice! Thanks guys.

[2015-02-01 17:51] sperant commented on #96
I ran into this exact same issue on Ubuntu 14.04.

[2015-02-06 09:29] raw1z opened #98 "Deplying a Phoenix app : start command is successful but foreground command is not"
I'm deploying a phoenix (0.8.0) app with exrm (0.14.17). The process runs successfully and the release is generated as expected. When I run it using the __start__ command everything works fine. I can ping the node and the website is accessible too. But when I run it using the __foreground__ command, the app crashes issuing the following error:

    {"Kernel pid terminated",
        application_con

[2015-02-06 10:34] raw1z commented on #98
Found the solution ! In fact, it was my fault. I was using the master branch of the phoenix github repo instead of the 0.8.0 version. Sorry :-)

[2015-02-06 10:34] #98 closed

[2015-02-06 18:20] bitwalker commented on #98
@raw1z This might be the shortest lived ticket in exrm history haha, but I'm glad you were able to find the solution! Good to have stuff like this in the history too in case others run into the same thing.

[2015-02-07 18:52] rcdilorenzo commented on #96
Yes, same here.

[2015-02-07 20:11] rcdilorenzo commented on #96
I actually tried this on a Debian install and had the same problem as on the Ubuntu install. However, I was able to resolve it by compiling the release on a Debian OS, but that obviously negates a lot of the reasons for `exrm`, meaning that it's a temporary fix.

[2015-02-09 18:18] bitwalker commented on #96
@rcdilorenzo It's necessary to build the release on the target platform, that's unavoidable, since the binaries generated are compiled for that specific platform. It should work if the platforms are similar enough (for instance, I'd expect that a release compiled on Debian *should* work on Ubuntu, but it's not a guarantee). Is this the issue you are running into, or are you seeing the same error e

[2015-02-09 18:29] bitwalker commented on #95
This is now in master :)

[2015-02-09 18:29] #95 closed

[2015-02-09 18:32] #50 closed

[2015-02-09 18:47] rcdilorenzo commented on #96
Compiling on the target system worked properly, eliminating this error @expelledboy mentioned.

[2015-02-09 18:58] bitwalker commented on #96
@expelledboy Is this the cause of your issue as well? Were you compiling on a different platform/architecture than your target system?

[2015-02-11 03:08] yrashk opened #100 "Making run_erl use of -daemon optional"
In order to make it much easier to use upstart (no dancing around `expect` stanza), it would have been great if I can (for example) set a shell variable that would disable the use of the -daemon flag for run_erl.

[2015-02-11 08:08] bitwalker commented on #96
@rcdilorenzo I just merged a PR that adds support for cross-compiling releases. See #99.

[2015-02-11 14:51] rcdilorenzo commented on #96
Excellent!

[2015-02-11 18:55] bitwalker commented on #100
That should be doable, have you tested modifying the boot script to remove the flag by any chance? I'd be interested to know if it's as simple as that.

[2015-02-11 22:48] yrashk commented on #100
I've only tested removing the flag from `release_name` shell script and it works wonderfully with upstart.

[2015-02-12 00:15] guilleiguaran opened #102 "Files included in overlay not copied in tar.gz file"
This is my `rel/relx.config`:

[code]

The file is copied to `rel/app_name` but it isn't include inside of `rel/app_name/app_name-0.0.1.tar.gz`

I'm doing something wrong? Should I put the `Procfile` in an specific folder to get it include in the root of the tar.gz file?

[2015-02-12 06:09] guilleiguaran commented on #102
Looks like the problem is in this function: https://github.com/bitwalker/exrm/blob/master/lib/mix/tasks/release.ex#L319

The original tar file (containing the file) is deleted and the new created tar doesn't include it.

[2015-02-12 06:48] guilleiguaran commented on #102
I proposed a solution for this in https://github.com/bitwalker/exrm/pull/103

[2015-02-12 09:40] zabirauf commented on #48
Any updated?

[2015-02-25 17:24] gmalkas opened #104 "Adding files to release archive at root of the project"
Hey,

I'm trying to add non-Elixir files to my release. For instance, I need to include a shell script (`script/start_server`) in the release archive (the `script` folder should be at the same level than the `bin` folder ideally) but I'm not really sure how to do this with exrm.

Is there a configuration file where I could specify these kind of things?

Thanks and sorry if that's the wrong place t

[2015-02-26 16:32] jarednorman commented on #80
@bitwalker Don't mean to bug you, but did you track this one down?

[2015-02-26 17:42] bitwalker commented on #104
@gmalkas Hey no worries, there is actually a bug with this (my fault) which I need to address in order for the standard `relx.config` overlays to work. I'm going to treat this as a bug report for the moment and try and get it addressed by this weekend. Sorry for the trouble!

[2015-02-26 17:44] #102 closed

[2015-02-26 17:50] bitwalker commented on #104
Ok @gmalkas I just merged a temporary fix for this that brings back support for this, you can use the following relx.config file (by placing it in `<project root>/rel/relx.config`) to copy the file you mentioned into the release tar.

[code]

The odd relative path for the first reference is a bug I still need to fix, because the config is actually merged into the default one stored in a different

[2015-02-26 17:51] bitwalker commented on #104
Oh, and this fix is in 0.15.1 by the way.

[2015-02-26 20:20] gmalkas commented on #104
It worked! Thanks a lot :+1:

[2015-02-28 19:23] cjimison opened #105 "Adding exrm to mix.exs breaks ex_doc"
Not sure if this is a bug with exrm or with ex_doc but I just thought I would put it out there:

Reproduction steps:

1) create a new mix project
mix new sandbox --sup

2) Update mix.exs to include ex_doc

defp deps do
    [
        {:earmark,  "~> 0.1",                                           only: :dev},
        {:ex_doc,   "~> 0.7",                                           only: :dev}
    ]

[2015-03-03 11:17] NhanHo commented on #75
According to the other linked issue, one way to get around this would be using:

`System.get_env("PORT") || Application.get_env(:phoenix, :port) || 4000`

But in this case, isn't `Application.get_env/2` just getting the data from `mix.exs` rather than environment variable? Or am I missing something here?

[2015-03-03 17:55] randysecrist opened #106 "Error generating release"
I'm seeing this when I clone and build my own project as well as when I build the exrm-test project.  I'm using Elixir 1.0.2, and Erlang OTP 17.  It looks like a problem with relx, or how it is being used.  Anyone else bumped into this?

=ERROR REPORT==== 3-Mar-2015::10:50:31 ===
Error in process <0.32.0> with exit value: {function_clause,[{rlx_dscv_util,discover_dir,[#Fun<rlx_app_discovery.4.2770

[2015-03-03 18:02] bitwalker commented on #75
@NhanHo The point here is that you first consult the environment via `System.get_env`, then fetch the configured value from `sys.config` via `Application.get_env/2`, then fall back to some safe constant. `Application.get_env/2` does not pull from `config.exs` here, because by the time this code is being executed, `config.exs` has been compiled to `sys.config`, where the values are static (i.e., if

[2015-03-03 18:04] bitwalker commented on #106
@randysecrist What OS are you using when this occurs, and I assume you are using the latest version of exrm yes?

[2015-03-03 18:13] bitwalker commented on #105
@cjimison I've pushed a fix for this to master, there was an old docs task still in the repo. Sorry for the trouble!

[2015-03-03 18:13] #105 closed

[2015-03-03 20:12] randysecrist commented on #106
I'm on OS X, 10.10.  For exrm, i've used 0.14.11 and tried 0.15.1.

Digging in more this afternoon to see if I can spot anything stupid I'm doing.

[2015-03-03 20:14] randysecrist commented on #106
Hmm,

So if I create a $HOME/lib directory, I then see this new error.

===> Missing beam file elf_format <<"/Users/randy/.erln8.d/otps/r1731/dist/lib/erlang/lib/hipe-3.11.1/ebin/elf_format.beam">>

Failed to solve release:
 Dependency iex is specified as a dependency but is not reachable by the system.

[2015-03-04 23:43] cjimison commented on #105
Not a problem and thanks so much!

-Chris

[2015-03-05 15:42] shankardevy opened #107 "Missing beam file elf_format on generating release"
I am getting this message while generating release on a new phoenix project (v0.9)

[code]

Release file works fine. So I am not sure if this a warning that I can ignore or is it something that I have to resolve.

I am using ubuntu 12.04. On my mac, I do not see these error messages.

[2015-03-05 16:08] shankardevy commented on #107
as suggested by fishcakez__ on irc, replacing erlang-base with erlang-base-hype resolves this issue.

[code]

Since this error occurs only on ubuntu and not on mac, I am still leaving this issue open for others to comment on.

[2015-03-05 17:19] #70 closed

[2015-03-05 17:21] bitwalker commented on #107
Oh interesting, yeah I've seen this before, it's simply a warning, not an error though. I'm not sure what the specific consequences of this being missing are, can you speak to that at all?

[2015-03-05 17:23] bitwalker commented on #106
Could you run `mix release --verbosity=verbose` and gist the output? That should help me track down what the cause may be. It seems to me that it's unable to find the Elixir lib directory for some reason, but I would expect other problems to present themselves, but it could be an edge case in exrm which produces an incorrect path to that directory.

[2015-03-05 18:56] bitwalker commented on #40
Best places to start:

- Make sure module docs are all up to date
- Write a walkthrough of an example application and it's release

[2015-03-07 01:37] randysecrist commented on #106
Sure thing.

https://gist.github.com/randysecrist/805dc5b5b0191b2d9513

[2015-03-09 12:28] shankardevy commented on #107
I am not sure of any "specific consequences". The erlang website says https://www.erlang-solutions.com/downloads/download-erlang-otp (click on ubuntu and read the last faq.)

**It is a native code compiler for Erlang. In most cases, it positively affects performance.** Not sure what are the edge cases where hipe affects negatively. Can someone with Erlang experience speak about this?

[2015-03-09 12:30] shankardevy commented on #107
@bitwalker on another note, can a better message be shown to users while release is generated without hipe? I was confused when I saw the error, here is one another http://stackoverflow.com/questions/28935984/elixir-phoenix-missing-beam-file-elf-format-usr-lib-erlang-lib-hipe-3-11-2 .  I am sure there are many out there having the same question.

[2015-03-09 17:30] olhado commented on #66
Any updates on this or #92 ?

[2015-03-09 17:50] bitwalker commented on #106
Yeah it's resolving Erlang just fine, but Elixir is not being found properly, I'm almost certain that's why it's adding `/Users/randy/lib` to the resolution path. I think it may be failing to look up the Elixir lib path properly. Could you run `iex`, and enter the following, and then paste the output?

[code]
That should tell me all I need to know about what's potentially happening here.

[2015-03-09 18:01] bitwalker commented on #66
I know what the issue is here, I need to implement a fix that keeps relx from discovering libs present under the `rel/` directory, I'm guessing this is a config issue on my end. I'll follow up once I can reproduce this.

[2015-03-09 18:02] bitwalker commented on #92
Just to follow up here as well, I know what the cause of this is, so once I can build a test case to verify the fix, I'll push an update.

[2015-03-09 18:10] bitwalker commented on #92
@mweibel Testing this locally and the scenario works correctly for me. Could you clone https://github.com/bitwalker/exrm-test, add the timex dependency, and run your test scenario again? I'm interested to see if you can reproduce this error with the latest exrm.

[2015-03-09 18:12] bitwalker commented on #66
@olhado Are you able to reproduce this error? Could you either reproduce it using https://github.com/bitwalker/exrm-test or by pushing up a repo of a project in which this occurs? That will help me pinpoint this. It appears the issue I was thinking of has already been addressed in one of the previous fixes made, and I can't reproduce it.

[2015-03-09 18:23] olhado commented on #66
I haven't tried lately, been busy with other stuff. The repo I was able to replicate it on was:

https://github.com/olhado/infiniteroll

I was building and installing on an Amazon Linux micro instance.

You can build version 0.0.1 from: https://github.com/olhado/infiniteroll/commit/3fcb899fba2bd64f4e89dbc99b35b46b02005a72

And then take head and it will be set to go to 0.0.2 (with the dicer librar

[2015-03-09 21:14] arjan opened #110 "Comparing release version numbers is not semver compliant"
The `get_last_release` utils function compares version numbers in a naive way:
https://github.com/bitwalker/exrm/blob/master/lib/exrm/utils.ex#L124

It should use the routines from Elixir's `Version` module.

This causes issues when generating release upgrades.

[2015-03-09 21:16] bitwalker commented on #110
@arjan Thanks, this code predates the release of `Version`, and should have been updated, good catch!

[2015-03-09 21:22] arjan commented on #110
The only thing is, that this will break apps that don't follow semver versioning.

[2015-03-09 21:23] bitwalker commented on #110
I think in practice semver is pretty widely accepted as standard within the Elixir community, but it could perhaps present an issue. Maybe we can do a sanity check of the input to determine whether it matches the pattern of semver strings, and if so, use `Version`, otherwise fallback to the naive comparison. Thoughts?

[2015-03-09 21:28] arjan commented on #110
Yeah, sounds like a sane idea. Semvers are simple, so we could do it with a regexp.

[2015-03-09 21:28] arjan commented on #110
BTW I can do a PR if you like, got something working here already.

[2015-03-09 21:31] bitwalker commented on #110
@arjan Sure! If you have a working solution, send me a PR and I'll review and merge ASAP

[2015-03-09 21:37] arjan commented on #110
Wrote the code, now writing test.. :)

[2015-03-09 22:48] #110 closed

[2015-03-10 02:41] randysecrist commented on #106
Yep!  Here you go:

https://gist.github.com/randysecrist/805dc5b5b0191b2d9513#file-where_is_elixir-txt

I have elixir cloned and built in my $HOME/bin dir.

[2015-03-10 05:41] mweibel commented on #92
@bitwalker error is different now, but it doesn't work quite yet:

[code]

I updated to timex version 0.13.2 (as described in the steps to reproduce) should I upgrade to a more recent timex version?
I'm using elixir version 1.0.3 atm.

[2015-03-11 18:30] bitwalker commented on #106
@randysecrist I found the bug, because some code if have uses `String.replace` to remove the `/bin/elixir` path part from the end (in order to get the Elixir HOME directory), and your Elixir happens to be installed to `$HOME/bin/elixir`, what's happening is it's turning `$HOME/bin/elixir/bin/elixir` into `$HOME`. If you were to move your Elixir install just about anywhere else, it would work. I'm

[2015-03-11 18:46] #106 closed

[2015-03-11 18:47] bitwalker commented on #106
Pushed as part of the 0.15.3 release.

[2015-03-12 23:44] randysecrist commented on #106
Awesome!  "The release for test-0.0.1 is ready!"

Thanks for digging in.  Will you be at erlang factory this month?

[2015-03-13 07:52] hahuang65 commented on #67
Stuff like `mix ecto.migrate` is pretty tough to do without access to mix tasks here. I've had to copy over my entire source folder to the server in order to run it.

[2015-03-13 08:10] shankardevy commented on #67
+1 @hahuang65 . I am also in the same boat trying to execute ecto migrations and found no good solution than to dump my db locally and import it on the server. But may be, it's not what exrm is intended to do?

@bitwalker , is it ok to compare exrm to capistrano or ruby/rails community?

A capistrano task copies all the source files to server, runs the migration and starts the server (of course, t

[2015-03-13 08:14] shankardevy opened #112 "How to replace the code with new version?"
I have a project online at http://irc.programmingelixir.com and I deployed it using exrm. Now, whenever I make any new changes to the app in my dev machine, how do I update the live site without taking it down?

Right now,  I do this
* Copy the release tar to the server
* Stop the app
* extract and replace the app files
* start the app

I read a lot about hot code swapping in erlang and elixir but

[2015-03-13 08:20] shankardevy opened #113 "Advantages of using release vs compiling on server?"
I understand that a release contains a full runtime bundled with it and there is no need installing erlang or elixir to run the app when deployed using exrm releases. However, doing a lot of small changes to an app and constantly deploying, it takes a lot of time to copy the tar file everytime to the server.

Wouldn't it be good to have a src copied to server somewhere and a command either on serv

[2015-03-13 15:24] bitwalker commented on #106
@randysecrist Glad to hear that solved it for you :). And as for Erlang Factory, I was initially planning on going, but it just so happens that I'm visiting my fiancé for a couple weeks starting next Friday, so I'm having to miss out :(. I will be at the next ElixirConf in the states though, which is happening this October, I wish I could've made the one in Poland, but travel gets expensive pretty

[2015-03-13 20:48] olhado commented on #66
Were you able to reproduce with my example project?

[2015-03-15 11:34] ericmj commented on #67
Ecto should provide an easy to run migrations without mix tasks. It is possible today with `Ecto.Migrator` (please check the docs) but it should be as easy as running the mix task. Please open an issue on Ecto.

[2015-03-16 12:56] josevalim commented on #67
@ericmj do you have any thoughts in mind? To me the plan is to exactly call `Ecto.Migrator`, it is public API and, if you are building releases, you can afford to call `Ecto.Migrator` with your options as part of your upgrade recipe.

[2015-03-16 12:57] josevalim commented on #67
Maybe this is a matter of documentation but Ecto already does what needs to be done in order to support releases which is by providing a first-class `Ecto.Migrator`.

[2015-03-16 15:07] bitwalker commented on #67
@josevalim Yeah I think this is one of the areas where custom appups are intended to be used, though that assumes you are using hot upgrades, rather than rolling restarts. Do you have any suggestions on a good general way of handling Ecto migrations?

@shankardevy exrm is definitely not trying to be the capistrano of Elixir, it's role is as a release packaging tool only - orchestrating deployment

[2015-03-16 21:59] ericmj commented on #67
@josevalim The `Ecto.Migrator` is already quite good actually, better than I thought. One possible improvement is to remove the `directory` option since that is configurable anyway.

[2015-03-19 07:55] miwee opened #114 "Hide name and cookie option from the command line"
I'm running an exrm release on my shared host, and this is what I see in my list of processes

myserver - 34MB - 0:07:50 - 94569 - /home/myserver/webapps/portapp/dcs_backend/rel/dcs_backend/erts-6.1/bin/beam.smp -- -root /home/myserver/webapps/portapp/dcs_backend/rel/dcs_backend -progname home/myserver/webapps/portapp/dcs_backend/rel/dcs_backend/bin/dcs_backend -- -home /home/myserver -- -boot /ho

[2015-03-23 09:54] eproxus opened #115 "Does not work in paths with spaces/parens"
Elixir 1.0.3, Mix 1.0.3, exrm 0.15.3, umbrella project:

[code]

Paths in shell commands should probably be wrapped in single quotes: `'$PATH'`.

[2015-03-23 14:51] eproxus opened #116 "Umbrella projects"
That `exrm` generates one release for each app in an umbrella projekt is very strange. The whole point of an umbrella project is to have a repository of several apps that end up in one system (Erlang node).

The default for generating a release of an umbrella project should be one top level release with all applications in `apps` included.

[2015-03-24 07:05] miwee commented on #116
Please refer to https://github.com/bitwalker/exrm-umbrella-test
Having this explicit behaviour is better, as there are dependecies in application order and generating common configuration files, which can be better handled by user directly. Plus as a bonus, if in production system one needs to do some debug, measurements, tuning etc., then it can be tried individually running each app in its own v

[2015-03-24 09:55] eproxus commented on #116
For a system of say seven apps in an umbrella project, generating seven "pyramid" releases is probably 1% of use cases whereas generating one release based on the "top of the pyramid" app (including all other apps as dependencies) is probably 99% of uses cases for umbrella projects.

Based on my experience, umbrella projects in both Erlang and Elixir is mostly about creating a runtime system that

[2015-04-09 22:38] hahuang65 opened #117 "Getting {error,{enoent,"/app/releases/0.0.1/relup"}} when trying to do bin/app upgrade "0.0.2""
I noticed danmcclain having a similar issue in this gist:

https://gist.github.com/danmcclain/6a4c58ebee1e26fa895b

I basically just did a

`MIX_ENV=prod mix release`
then scp'd the file over, copied the tar into the /app/releases/0.0.2 folder, renamed it to just "app.tar.gz"
then ran `bin/app upgrade "0.0.2"`

[2015-04-19 10:59] sevos commented on #106
Hey, I am using version 0.15.3 and the problem occured for me again.

https://gist.github.com/sevos/d7f7d10af7220a7d23b3

any ideas? ;)

[2015-04-19 14:03] sevos commented on #106
FYI: upgrading elixir to 1.0.4 (from 1.0.3), puring rel and _build dirs, mix deps.clean --all and then starting from scratch fixed the problem

[2015-04-20 15:40] bitwalker commented on #106
@sevos Thanks for the report, I'll keep an eye on this, I have some thoughts on what might be causing this but I haven't been able to reliably reproduce it yet.

[2015-04-20 15:44] bitwalker commented on #117
@hahuang65 What OS, Erlang and Elixir versions are you building and deploying to? And could you gist your relx.config as well? I'll have to do some poking around, but something must be different than my test environment because I can't seem to reproduce this error locally.

[2015-04-20 16:00] sevos commented on #106
Also, I could reproduce it when trying to do make release (subsequent release) when release was started in the background. I solved it by extracting release to another directory and running it from there.

This might've been problem in the first place, when upgrading elixir fixed it (I think that Erlang also upgraded at the time, thus VM got restarted).

[2015-04-21 09:17] zztczcx opened #118 "mix release failed after some upgrade"
I  release 3 times in the project and test in the rel  directory. (I used the exrm-test project for test)

for example  I can successfully release 0.0.1, 0.0.2, 0.0.3 .
for test, I copy the  rel/test-0.0.3.tar.gz to release/0.0.3/test.tar.gz
and run bin/test upgrade "0.0.3".  it all worked well

but when I upgrade to 0.0.4
I get this error:

[code]

[2015-04-21 09:24] zztczcx commented on #118
it seems like that the relup file are not generated in the release/0.0.4/

[2015-04-28 15:35] liveforeverx opened #120 "[RFC] Reusing of existing cuttlefish <app>.schema"
Is it possible? (Or may be planned) to have some support for reusing existing cuttlefish schema?
For example, if release-app dependes on app2, which have cuttlefish schema.
For example, if release uses bitcask, is there a possibility for adding to .conf, [bitcask schema example](https://github.com/basho/bitcask/blob/develop/priv/bitcask.schema).

[2015-05-02 16:40] hahuang65 commented on #117
I'm on Ubuntu, 17.5 and 1.0.4.

I think this is because I'm building different releases on different machines. I'll let you know if this happens again.

[2015-05-02 16:40] #117 closed

[2015-05-07 18:30] bitwalker commented on #120
I think it's worth looking into, but offhand I'd guess that it won't be feasible without rewriting conform to be compatible with cuttlefish schema/conf files. Perhaps it is worthwhile, but it would be a fairly large undertaking, and a backwards incompatible one at that. I initially modeled conform after cuttlefish, but with a focus on Elixir syntax for the schemas, but it's by no means as robust a

[2015-05-08 02:27] tsloughter commented on #90
Note that the start scripts that relx generates will replace os vars in sys.config and vm.args if the env variable `RELX_REPLACE_OS_VARS` is set when run.

[2015-05-08 10:12] liveforeverx commented on #120
Many thanks for answer!

We are planning to use existing erlang libraries with elixir releases, and for not to rewrite all existing schemas for erlang applications, that would be good to support it(at least from this point), the cuttlefish configuration. It would be good to mix erlang + cuttlefish with elixir + conform configuration files, to build the release configuration.

I think, I'll tackle

[2015-05-10 17:32] D1plo1d opened #122 "mix release fails with "No releases exist in the system for 'my_app':0.0.1!""
There don't appear to be any errors but it looks like the release isn't being created.

Here's what I get when I run `mix release --verbosity=verbose`:

https://gist.github.com/D1plo1d/de88d8f8325ce6493e8c

[2015-05-11 20:17] bitwalker commented on #120
I think it's a good goal to be sure, so I'm super interested to see how we could make this happen. I'm open to discussing ways to tackle this whenever you are ready to dive in.

[2015-05-11 20:26] bitwalker commented on #122
This appears to be an issue with the pascal-cased application name as I was able to reproduce this with my `exrm-test` app, and just changing the app name to be capitalized. I don't yet know where this is taking place, but the convention for application names in the Erlang/Elixir world is all lowercase, so there may be assumptions baked into relx which this bumps up against. Could you adjust that

[2015-05-12 02:30] D1plo1d commented on #122
@bitwalker Renaming app in mix.exs to a lowercase/underscored name totally fixed it. Thanks!

[2015-05-13 08:47] liveforeverx commented on #122
I've have a question, how generally define the version of a release? I have a 0.0.1 version, it works, after to triing define the version 1.0.0 like it: {release, {my_app, "1.0.0"}, [my_app]} in relx.config. It failed:

No releases exist in the system for my_app:0.0.1!
==> Failed to build release. Please fix any errors and try again.

What can be wrong? Or how to define the version properly with?

[2015-05-18 14:11] bitwalker commented on #122
Hey Dmitry,

The problem here (I'm assuming, I'd need to test my assumption) is likely
that you are adding release definitions manually to the relx.config. exrm
will handle that for you transparently. I'd be interested to hear if it
works if you let exrm define the release for you.

Paul

On Wed, May 13, 2015 at 3:47 AM, Dmitry Aleksandrov(Russ) <
notifications@github.com> wrote:

[2015-05-18 14:15] #122 closed

[2015-05-19 13:50] olhado commented on #66
Just a friendly ping. I assume you have some leads (since other people have reported similar issues), but are crunched for time :)

[2015-05-19 22:10] liveforeverx commented on #120
Hi, ok, I'll ping you, when I'll start. Will you be accessible on irc for discussion?

[2015-05-22 13:19] houshuang opened #123 "Error when doing mix.release"
I'm trying to use exrm to package a Phoenix app. Weirdly, it worked the first time, however I needed to make a small change, and now it doesn't work at all. Unfortunately, I can't even begin to understand the error message.

[code]

[2015-05-22 16:29] bitwalker commented on #66
I'm sorry man, I'll take a look today!

[2015-05-22 16:30] bitwalker commented on #120
I'll try and make myself more regularly available on IRC, but comments here and/or emails are the most reliable way to get in touch with me currently.

[2015-05-24 11:17] citizenparker commented on #123
I had a very similar experience just now. I was adding applications to `:included_applications` in mix.exs and started getting this error. I reverted my changes and continued to receive it. I finally blew away my `rel/` directory at which point I was able to compile releases again, no changes to my code needed.

[2015-05-28 19:32] liveforeverx opened #124 "Possible to redefine location of configuration?"
Is it possible to redefine with some variable or something like it?

[2015-05-28 19:32] liveforeverx opened #125 "Possible to trigger runtime reconfiguration?"
Something like <app> reconfigure exists?

[2015-06-03 07:50] liveforeverx commented on #124
The objective for it, is, if you install release as OS package, you want to have configuration somewhere in /etc/...., and do not override it.

Because of this, it would be nice to have configuration at /etc/..., that it didn't overrides per default. Or there would be a cleaner solution for it?

[2015-06-03 12:44] tsloughter commented on #124
In relx there isn't right now. You'd have to set `{generate_start_script, false}` and supply your own start script.

[2015-06-03 15:19] liveforeverx commented on #124
@tsloughter : thats, what exrm do `{generate_start_script, false}`, but should it be generally possible with exrm, like https://github.com/bitwalker/exrm/pull/127 ? Make it sense to have a general solution for the problem?

[2015-06-03 15:24] liveforeverx commented on #123
@houshuang if you still have a problem or want know, what is a problem, you can try to ask it by relx, if the bug/known or fixed. If it fixed, all, what exrm needs, is update to actual relx.

[2015-06-03 15:31] liveforeverx commented on #116
@eproxus being little bit late, most `umbrella` projects, which I have seen were meta-projects, which have included all projects as dependency.

[2015-06-03 15:37] liveforeverx commented on #114
@miwee Do you still have a problem? (Old issue)

You need to do something like that on boot: https://github.com/travelping/enit/blob/master/src/enit_boot.erl#L39

In our old erlang release manager, we have specified it in configuration. Would be nice to have such generall feature in exrm.

[2015-06-03 15:55] eproxus commented on #116
@liveforeverx Then there would have been no need to create an umbrella project in the first place? The point of an umbrella project is to bundle several apps in the same repo, not as dependencies.

[2015-06-10 04:11] bitwalker commented on #125
Reloading the application will reload the configuration, but other than that, one would have to load the config manually and call `Application.set_env` for each config setting in order to mimic reloading the configuration. So in theory it's possible to write such a feature, but one doesn't exist in the standard library as far as I'm aware.

[2015-06-10 04:15] bitwalker commented on #123
I can update the relx binary currently bundled with exrm ASAP. What's really needed is a way to bundle relx as a library for exrm, which is more maintainable moving forward, but because of build issues due to the use of `erly_dtl`, I've held off on that. I was working on a pure Erlang templating library which could replace `erly_dtl`, but I've had to put it on standby since work has me swamped for

[2015-06-10 04:18] bitwalker commented on #114
@miwee @liveforeverx It looks to me like you are running the console command when starting your app, is `setcookie` and `name` being passed via flags when running `start` or `foreground`? It should be getting pulled from the `vm.args` file in those cases, but this is just off the top of my head, I can review the boot script to make sure.

[2015-06-10 04:25] bitwalker commented on #116
@eproxus When I last worked on umbrella support, from what I could tell there wasn't a way to generate such a release. Do you have thoughts on how that should work? Within an umbrella project, each app is really it's own standalone project with it's own `mix.exs`, dependencies, etc. How would you roll those up into a new application at top level? I imagine there is a solution, but I haven't had ma

[2015-06-10 04:25] bitwalker commented on #124
It's possible to do this, I see there is a PR for it, but I'll have to spend some time reviewing it since it looks like the CI build failed for some reason.

[2015-06-10 11:52] eproxus commented on #116
@bitwalker The traditional way to look at Erlang OTP applications, is as libraries (that can include modules, process hierarchies etc.). A release is a combination of OTP applications that work together and are dependent on each other (in most cases). As OTP applications can be more general, they can be included in different releases.

[code]
Typically, in such a situation (no matter if you use Re

[2015-06-10 14:53] bitwalker commented on #123
Well it looks like Tristan updated relx to remove that dependency, so I've pushed a new release of exrm (0.17.0) which transitions from using the relx binary to consuming relx as a library. You'll need to make sure you add `{:relx, github: "erlware/relx"}` to your mix.exs when moving to the new version, but it should be much faster now.

[2015-06-10 14:58] bitwalker commented on #113
I think this question is better suited for the mailing list as a general question about releases. My personal thought on this is that releases are not for every application, exrm makes it easy to get started with them, so they become more appealing, but there is still a lot of thought that must go in to how you will manage releases. Will you do hot upgrades, or just use the release package as a co

[2015-06-10 14:58] #113 closed

[2015-06-10 14:59] bitwalker commented on #112
The README file has a walkthrough on doing a hot upgrade. Let me know if it doesn't cover some portion of the process well enough.

[2015-06-10 14:59] #112 closed

[2015-06-10 15:08] bitwalker commented on #116
@eproxus I think you're missing my actual point, which is that with the way things work now, the umbrella project (`release1` in your example) does not actually represent an application in Elixir. I mean, logically/organizationally it does, but compiling it produces no artifact, instead the children apps are built entirely independently. The issue I'm trying to raise is that in order for a release

[2015-06-10 18:48] liveforeverx commented on #125
@bitwalker, that how it works from application_controller(that is a part of how release_handler using application_controller for doing it), to do it, I simple plan to port this [code](https://github.com/travelping/enit/blob/master/src/enit_remote.erl#L227-L231) to exrm directly. Only one thing stays, if we want to suspend/resume processes for the update.

[2015-06-10 18:57] bitwalker commented on #125
@liveforeverx Nice! The other thing would be that exrm is not bundled with releases generally (at least I don't know why someone would be including a compile-time release tool with their release), it seems to me that this might be a good candidate for an external lib perhaps?

[2015-06-10 19:03] liveforeverx commented on #125
application_controller is in kernel, and we need only application_controller for making reconfigure.

[2015-06-10 19:32] liveforeverx commented on #125
Missed part of first message, yes, it is something, to mimic manually.

[2015-06-11 07:09] eproxus commented on #116
In the Erlang (and Elixir) world, a release is built from a collection of apps. There are no top level artifacts except for configuration. Mix already supports the top level `config` folder for umbrella projects, which is all you would need (`apps`, `deps` and `config`).

This is the way it should be done in the Erlang world, and in the Elixir world as well. Look at [Relx](https://github.com/erlwa

[2015-06-11 15:43] umatomba commented on #124
i'll check the CI tests

[2015-06-11 21:01] bitwalker commented on #116
I make use of relx in exrm, and am quite familiar with it. I know it's possible to do what you are asking, that's not really the issue, in fact I'm not really saying there is an issue, it's simply a fact that this would be rethinking how we do umbrella apps entirely in exrm (and probably Elixir as a community really when it comes to releases). Perhaps that's a good thing, but I'd like to hear from

[2015-06-11 21:54] hexedpackets opened #130 "Release fails when xmerl is a dependency"
I have an application which makes use of xmerl, but exrm fails to find it. The error message is

[code]

Regardless of whether I have "xmerl" in my list of applications, the release fails since I'm also using erlcloud which in turn has xmerl in its applications. I saw that this had happened in #8 with unicode and tried removing xmerl from erlcloud's application list but xmerl is apparently not par

[2015-06-11 22:44] liveforeverx commented on #130
It is a definitely a cause. It is something wrong with you erlang installation. ebin should exists.

[code]

[2015-06-12 16:04] hexedpackets commented on #130
I'm using Debian and switching the apt source from wheezy to jessie fixed this (although I then had to compile Elixir from source, but oh well).

[2015-06-12 16:04] #130 closed

[2015-06-15 03:08] tsloughter commented on #116
@eproxus  relx does not generate a release that contains all apps under `apps` (our version of an umbrella project), it only includes those that you specify in the `relx` config to be included (+ their deps). So if you have `apps/a` and `apps/b` with relx config `{release, {x, "0.1.0"}, [a]}` and `a` depends on `b` you'll get a release with both `a` and `b`.

If I understood what was being discuss

[2015-06-15 06:51] eproxus commented on #116
@tsloughter True. I guess my point is that it doesn't generate one release per app hard coded by default.

I think, I would prefer to have it the relx way. That means, you compose your releases out of selections of apps you choose. The current way in exrm is too limited, in my opinion.

[2015-06-15 20:09] MarkNijhof opened #132 "Release specific app in an umbrella setup"
Hi,

I can't seem to make mix release only release a specific app in an umbrella setup?

-Mark

[2015-06-16 09:39] eproxus commented on #100
Should you not use the `foreground` target instead?

[2015-06-16 16:42] fire commented on #48
It seems like many of the bugs in relx have been solved. Can you check if it's possible to support exrm on Windows now?

[2015-06-17 14:48] bitwalker commented on #48
@fire Now that relx has been switched over to being included as a library rather than a raw binary this can proceed, the only task that really needs to be done is to modify the windows boot script the same way the shell script for other platforms was modified.

[2015-06-17 15:04] bitwalker commented on #116
@eproxus All exrm does today is build a release from the current app, which is exactly what relx does (albeit automated for the most part). In the case of umbrella apps, it treats them as containers of related apps, not necessarily a single logical application, which is how umbrella apps have been treated in mix for quite some time (if not since their inception), and is why exrm iterates over the

[2015-06-17 15:11] bitwalker commented on #132
@MarkNijhof Just `cd` into the child app's directory and run `mix release`. Running `mix release` on the umbrella will build a release for each child in the umbrella (since umbrellas are logical containers of apps, rather than a single logical app).

[2015-06-17 15:16] tsloughter commented on #116
I'd argue in favor of changing how umbrella apps are treated in exrm. How can we elevate this debate to the community to get buy in?

[2015-06-17 16:02] eproxus commented on #116
@bitwalker relx builds a release of the apps you choose in your `relx.config`, not just a single app.

There's no "single logical app" concept in Erlang. There's only apps and releases. Umbrella projects (in Mix and Rebar) are only convenient ways of bundling several apps into one repository (instead of having every app in a sub repo, let's say). What releases you create from those apps is then up

[2015-06-17 16:12] fire commented on #48
Not familiar with the details of exrm, but I'm available to test the code on Windows.

[2015-06-17 21:29] liveforeverx commented on #116
Seems, like there is a need for exrm.exs for ambrella use cases

[2015-06-18 01:12] d-b opened #134 "mix release produces strange errors"
db@vmbox ~/elixir/exrm/test/fixtures/example_app $ git rev-parse HEAD
08de5b500744833c0c97d91eb86d60f009c0346a

db@vmbox ~/elixir/exrm/test/fixtures/example_app $ elixir --version
Elixir 1.0.4

db@vmbox ~/elixir/exrm/test/fixtures/example_app $ mix release
==> Building release with MIX_ENV=dev.
==> Generating relx configuration...
==> Generating sys.config...
==> Generating boot script...
==> Conf

[2015-06-18 08:33] eproxus commented on #116
Here's my proposal:

### Single App Projects

* `mix release` - exrm builds the release as normal, using the single app as the only included application in the release (together with its dependencies, of course). This is the way exrm works today.
* `mix release /path/to/relx.config` - This would build a custom release according to specifications. For example, including apps that are deps in Mix th

[2015-06-18 15:09] bitwalker commented on #134
That is strange, it doesn't seem to affect the actual release at all, I wonder what's producing that error. Thanks for reporting!

[2015-06-18 15:23] bitwalker commented on #116
@tsloughter The mailing list is the best place really, and I agree.

@eproxus I am aware that the concept of single logical app vs container of apps doesn't make sense in Erlang, I am using those terms to describe how people approach Elixir applications, because mix itself treats single apps vs umbrella apps that way, whether it makes any sense or not is sort of irrelevant to my point. In any case

[2015-06-18 15:24] tsloughter commented on #116
Ok, let me know if someone starts the convo on the elixir mailing list so I can join :)

[2015-06-18 15:29] eproxus commented on #116
I'm not on that list, will join and take a look around. :smile:

[2015-06-18 15:29] eproxus commented on #116
Core or talk?

[2015-06-18 15:50] tsloughter commented on #116
I joined talk, so hopefully talk :)

Also, I think exrm should just have a config section in config.exs that it uses it create the relx config. This is what rebar3 does, though in rebar3 it simply passes the contents of `{relx, _}` from the config to `relx:main/1` directly.

[2015-06-18 15:57] bitwalker commented on #116
elixir-lang-talk for sure :)

@tsloughter Agreed, no reason why we couldn't go that route, just need to convert the terms to Erlang terms when passing it to relx, but I already have code to do that somewhere (conform I think).

[2015-06-18 19:18] olhado commented on #66
Ping! Did 0.17.0 potentially fix this?

[2015-06-20 03:35] tsloughter commented on #123
:)

And I plan to publish relx to hex, but currently blocked by the mustache app name conflicts with another already published app.

[2015-06-20 07:57] jordi-chacon opened #135 "'Mix.env' returning :dev when release created through 'MIX_ENV=test mix release'"
Hi,

I would like to generate a release with MIX_ENV=test. The release is created just fine, but running `Mix.env` inside the Elixir application returns :dev rather than :test.

[code]

How can I get `Mix.env` to return :test if this is a test release?

Thank you for your help!

[2015-06-20 11:18] ericmj commented on #135
Right now you only set the `MIX_ENV` environment variable when generating the release. Make sure you also have it set when building the project and running the release.

[2015-06-20 15:09] jordi-chacon commented on #135
Thank you so much @ericmj !!

[2015-06-20 15:09] #135 closed

[2015-06-22 05:58] d-b opened #136 "latest commit in relx breaks dependencies"
[code]

[2015-06-22 08:48] eproxus commented on #134
I can reproduce with Elixir 1.0.4 and Mix 1.0.4. Running other Mix commands does not print the errors.

[2015-06-22 16:02] sheharyarn commented on #136
Same problem here. :(

[2015-06-22 16:11] sheharyarn commented on #136
Same issue here, using this as a temporary measure:

[code]

[2015-06-22 16:15] bitwalker commented on #136
This appears to be fixed in relx master at the moment, can you confirm on your end?

[2015-06-22 16:58] sheharyarn commented on #136
@bitwalker Nope, still get the same error. I even specified the `master` branch explicitly. I've tracked down the commit where the issue began.

It works fine up to the commit [`4f38907`](https://github.com/erlware/relx/commit/4f38907d4967d672d3a2b13422cde2e13a42a604). The issue occurs after commit [`9ad84ac`](https://github.com/erlware/relx/commit/9ad84ac8f93756610fc99fe6a8eb3412218478aa) was mad

[2015-06-22 17:02] bitwalker commented on #136
Yeah Tristan and I are working on it right now, should have a fix pushed before long.

[2015-06-22 20:16] JonahBraun commented on #136
New user here, it might be a good idea to keep tag: "v2.0.0" (or whatever latest version is working) to keep this from happening again. It was rather disappointing as a new user to follow the exrm readme instructions and get a confusing error.

@sheharyarn thx for the fix.

[2015-06-22 20:38] bitwalker commented on #136
@JonahBraun Yeah the issue cropped up because relx has made itself available on hex.pm, and due to the changes to accomodate that, it introduced a problem on our end since I was still using the git ref. Once I move to the hex dependency, it will be locked to a specific version.

[2015-06-22 21:10] tsloughter commented on #136
Published relx 2.1.1, please try it.

[2015-06-22 21:21] #136 closed

[2015-06-22 21:23] bitwalker commented on #136
@tsloughter Thanks for the quick turnaround, everything looks good now!

This fix has been pushed in a new release, 0.17.1

[2015-06-23 05:07] sheharyarn commented on #136
:+1:

[2015-06-23 13:25] eproxus opened #138 "Conform generates warnings"
When running `mix release`, Conform is recompiled every time and generates a lot of warnings:

[code]

[2015-06-23 13:27] eproxus opened #139 "config.exs not used?"
When reading the README, I get the impression that `config.exs` is supposed to be used to generate a `sys.config` file. However, this seems not to be the case.

Currently, a `config/config.exs` file in an umbrella project gets used when running `iex -S mix` for example, but not when running `mix release`.

[2015-06-23 13:30] eproxus commented on #139
Perhaps this is a broader question related to #116? I.e. what configuration is used when generating which releases? More specifically, how is configuration in `project/config/` handled versus configuration in `project/apps/myapp/config` for example?

[2015-06-23 14:37] bitwalker commented on #138
@eproxus I'm not seeing this with 0.17.1, could you provide more information about what situation you are seeing this in?

[2015-06-23 16:19] eproxus commented on #138
Umbrella project, with one app, that has `app.conf` and `app.schema.exs` in its `config` folder (i.e. `apps/myapp/config/app.conf`).

Warnings are output when running `mix release` in the top of the project.

Versions:
* exrm 0.17.1
* Elixir 1.0.4
* Mix 1.0.4
* Erlang 17.5

[2015-06-23 16:41] bitwalker commented on #138
@eproxus Ok cool, I'll take a look as soon as I get a chance today

[2015-06-25 22:18] janjiss commented on #134
+1 from me, but I can't do a second release for some reason. Full trace:
[code]

[2015-06-26 06:00] eminarcissus opened #141 "Buliding succeed but miss quite a lot of dependencies"
Hi,

I'm trying to use exrm to build the app but it failed with quite a lot of dependencies missing. So I've copied from _build/prod/* rel/project/lib/ and then try to start the app again, it says it miss dependencies of xmerl.app which is a generic erlang module I think.

I retreat back to use a old script I create to package the app with only packacking up build.sh and use erl detach to start th

[2015-06-26 08:04] janjiss opened #142 "If the app is running, building of the release fails"
Hey there,
I encountered this bug which seems to happen if we have a running server with active erlang pipes in /tmp directory.
[code]

[2015-06-26 15:28] bitwalker commented on #134
I can confirm this is happening when calling into `:relx.do`, but still unsure what could be causing it. I'm at a bit of a loss.

/cc @tsloughter

[2015-06-26 15:29] tsloughter commented on #134
Um, no idea :). It works fine but mix prints an error message?

[2015-06-26 15:34] bitwalker commented on #134
@tsloughter Yeah, the release builds just fine, but that error message is being printed every time. It's bizarre.

[2015-06-26 15:36] tsloughter commented on #134
I guess check if it happens on all mix/elixir versions and recent versions of relx or if only certain versions of mix cause it to happen on all relx...

[2015-06-26 15:42] janjiss commented on #142
Okay, after some digging, I've found out that this part of the code fails. If I exclude tmp directory when filtering trough list of compressable files, it works like a charm.
[code]
Should I create pull request for that? I am not sure about the consequences this might have.

[2015-06-26 15:47] bitwalker commented on #142
@janjiss Ah yes we definitely weren't accounting for that properly, if you can create a PR I'll certainly merge it!

[2015-06-26 16:09] bitwalker commented on #134
@tsloughter Here's what I'm seeing with verbose logging turned on (using the latest everything, other than OTP which is 17.5 on my system):

[code]

Any clues there that might help me track this down? I'll keep poking around.

[2015-06-26 16:16] tsloughter commented on #134
No idea. I'd want to know if a change in relx or mix caused this to start happening first. And then to figure out what is trying to access the mix script besides that the user runs it.

[2015-06-26 16:38] bitwalker commented on #134
The commit which introduces this behavior is e884f9c. In my test scenario I've also overridden relx to 2.0.0 and conform to 0.13.0 (basically what they were before consuming relx as a library rather than as a bundled binary), so the only thing that has changed beyond that is the change to the `Utils` module. And what boggles my mind is that there is no call to mix whatsoever. I've got nothing :/.

[2015-06-26 16:50] bitwalker commented on #66
@olhado Seems to work, but there is another blocking issue for which I need @tsloughter's help:

It seems like relx expects all dependencies to have .appups? See the following from the log:

[code]

@tsloughter I would expect that if no appup is found for a child application, that it isn't a problem (doesn't seem to have been up until ~2.1.x). Is this a misconfiguration on exrm's part?

[2015-06-26 16:50] tsloughter commented on #66
There must be an appup if an app version changes.

[2015-06-26 16:55] bitwalker commented on #66
@tsloughter Makes perfect sense to me why, but that seems like it presents a serious problem for anyone using releases, since they have to provide an appup for all applications if not provided by the author of those applications. I haven't run into this error before, so I'm assuming this is a recent change, what's the best way to handle it?

[2015-06-26 16:58] tsloughter commented on #66
It is not a recent change. If it is now failing even when the app hasn't changed then that would be a recent bug added. But if the app did change and there is no appup then it should have always been failing.

This is why I don't have an appup generator in relx. The creation of appups should be in the app build tool (mix, rebar3, etc) because it should be done by all apps when a new version is cre

[2015-06-26 17:21] bitwalker commented on #66
Well the problem here is that the app being released `infiniteroll` has an appup, one of it's dependencies `dicer` was updated between versions of `infiniteroll`, but the release is failing with the error seen above, as it appears to be looking for `dicers` appup, but that is an app out of control of the author of `infiniteroll`. This is the first time I've seen this issue reported, so either nobo

[2015-06-29 22:07] olgeni opened #145 "/usr/local/bin/mix:2: syntax error before: Mix"
Hi,

I'm testing "mix release" with the sample exrm-test project under FreeBSD (R18, Elixir 1.0.5, exrm 0.17.1).

Everything seems to work fine, but I get a syntax error about Mix:

    % mix release
    ==> Building release with MIX_ENV=dev.
    ==> Generating relx configuration...
    ==> Generating sys.config...
    ==> Generating boot script...
    ==> Conform: Loading schema...
    ==> Confor

[2015-06-30 04:25] bitwalker commented on #145
This is something being output by relx, I'm still not sure specifically what is causing it, but @tsloughter and I got near to the bottom of it the other day, he/I/we still need to come up with some kind of solution for it though. In the meantime, you can safely ignore it, as it doesn't seem to actually affect the generated release at all. I'll be updating the relx dependency once a fix is ready :)

[2015-06-30 04:25] #145 closed

[2015-06-30 04:26] bitwalker commented on #142
Closed by #144

[2015-06-30 04:26] #142 closed

[2015-06-30 04:29] bitwalker commented on #141
The dependencies are missing because you likely did not add them to `applications: []` in your mix.exs. You'll need to add `:xmerl` and any other deps which are missing to `applications` then rebuild your release. As for the second part, you can ignore those errors for now (they aren't errors which apply to what exrm is doing), a fix is in the works for making the error output go away though. Can

[2015-06-30 04:44] bitwalker commented on #124
All of the PRs relevant for this issue have been merged (either automatically or manually). Could you guys test the new 0.17.2 release and let me know if things work as expected?

[2015-06-30 04:45] bitwalker commented on #123
Since we've updated to relx via hex, I'm closing this for now :)

[2015-06-30 04:45] #123 closed

[2015-06-30 04:47] #40 closed

[2015-06-30 04:47] #41 closed

[2015-06-30 04:49] #59 closed

[2015-06-30 04:50] #64 closed

[2015-06-30 04:51] #72 closed

[2015-06-30 13:21] umatomba opened #146 "Building release failed if ERL_LIBS defined"
exrm can't build release if the ERL_LIBS environment defined. I see this effect after the relx was used as dependency.
It looks like:

[code]

[2015-06-30 15:32] jordi-chacon opened #147 "Circular dependencies"
Hi!

I am getting this error when running `mix release`:
[code]
As far as I can see there are no circular dependencies between these two dependencies. The storex application depends on the ex_aws but not the other way around. I am not sure if this is a bug in exrm or if my config is wrong in some sense.

When is this error triggered? What does circular dependencies mean in this case? What could I

[2015-06-30 15:49] bitwalker commented on #146
Just to clarify, you're using `ERL_LIBS` to make sure some dependencies are available correct?

[2015-06-30 15:52] bitwalker commented on #147
Could you point me to the storex repository? Or is it not public? As far as I can see you are correct, but I'd like to try and reproduce locally to troubleshoot.

[2015-06-30 16:25] umatomba commented on #146
I have `ERL_LIBS` defined to use some dependencies in other old erlang projects. We also have own build system, that operate only with `ERL_LIBS`

[2015-06-30 17:25] bitwalker commented on #146
I think I know where this might be getting messed up, I'll take a look when I have a free moment today.

[2015-06-30 19:32] jordi-chacon commented on #147
Really appreciate your super quick response!

The storex repo is not public, but I'll post here the mix.exs files.

I have a root application whose mix.exs file looks like this:
[code]

The mix.exs file of the storex repo looks like this:
[code]

[2015-06-30 19:59] bitwalker commented on #134
This is now fixed and pushed in release 0.17.3.

[2015-06-30 19:59] #134 closed

[2015-07-01 12:53] janjiss opened #149 "Issue after update to phoenix 0.14"
[code]
I like the error message :(

Will try to debug this myself as well.

[2015-07-01 14:02] janjiss commented on #149
Ah, okay, I needed to know how to debug this. Ill  do it as soon as I have a chance

[2015-07-01 19:21] janjiss commented on #149
Okay, here is the error that I am having: https://gist.github.com/janjiss/4254a41a6b44c6cff76b

[2015-07-01 19:58] janjiss commented on #149
Okay, don't know if it's because I am doing thing weirdly or what, but when I bumped the version, everything went well. I use Capistrano to deploy the app and it seems that there is something bad going on if I update dependencies and don't bump up the version of the app.

[2015-07-01 20:57] olgeni commented on #145
:+1:

[2015-07-01 21:02] bitwalker commented on #145
@olgeni This was fixed in the last release of exrm by the way :)

[2015-07-02 08:40] eproxus commented on #134
Just curious, what was the problem? :smile:

[2015-07-02 09:17] Cifer-Y opened #151 "Release error"
[code]

What is the reason?
Thanks.

[2015-07-02 10:04] HashNuke opened #152 "Cannot find tar.gz file to upgrade"
Tried upgrading with: `rel/firebrick/bin/firebrick upgrade "0.0.2"`

It looks for the tar.gz file in `rel/firebrick/releases/0.0.2/firebrick.tar.gz`, but the file is instead at `rel/firebrick/firebrick-0.0.2.tar.gz`.
![screen shot 2015-07-02 at 2 45 10 pm](https://cloud.githubusercontent.com/assets/84005/8474729/cfa58bc8-20cf-11e5-9920-3005702b8334.png)

[2015-07-02 13:00] HashNuke commented on #67
Just realized that it's not possible to run migrations in a Phoenix app, when the app is running from a release.

My hackish way right now: pass an env var to turn on `server: true` in prod config when running `mix release`. This way other mix tasks can be used.

cc: @chrismccord

[2015-07-02 14:44] bitwalker commented on #134
@eproxus In relx, there was code which loaded templates for various bits by using `escript:extract(path, [compile_source])`. This function prints errors to stdout with no control over that behaviour. The `compile_source` flag turns out to be unnecessary in this case, and was the cause of the errors being printed.

[2015-07-02 15:04] eproxus commented on #134
Ah, interesting. Thanks!

[2015-07-02 16:39] alexjp opened #153 "Permissions issue when running mix release on Windows"
Hi,

In an app that i can build on linux, i get this error in building it in windows:
[code]

dont understand why the complaining of permissions.

Thanks !

[2015-07-02 18:49] bitwalker commented on #151
@Cifer-Y Could you provide more info on what version of exrm/Elixir/Erlang you are running, and whether you have any custom plugins?

[2015-07-02 18:54] bitwalker commented on #152
@HashNuke this is expected, but perhaps should be changed so that by default it puts it in the appropriate release directory.

[2015-07-02 19:01] HashNuke commented on #152
@bitwalker is there anything that should be changed in exrm to fix this or is there some config option?

[2015-07-02 19:04] bitwalker commented on #152
@HashNuke I found where this can be changed, I'll push this to master here shortly :)

[2015-07-02 19:22] bitwalker commented on #152
@HashNuke I've published version 0.18.0 on hex which now dumps those tarballs in the `releases/<version>` directory. I don't see it being a significant change, but since it's backwards-incompatible in terms of any automated build tools, I've bumped the minor version for this release.

[2015-07-02 19:22] #152 closed

[2015-07-02 19:25] bitwalker commented on #149
@janjiss In order to use upgrades, appups have to be present for any applications which have changed, something recently pointed out to me by @tsloughter. I would've expected it to do the same thing when you bumped the version of your app, but it didn't, so I'll have to look a little closer at that to see why that may have been.

[2015-07-02 19:28] bitwalker commented on #153
@alexjp Currently exrm hasn't provided the boot script for Windows (next on my TODO list here), so your release would not have been usable on Windows anyway, but as far as the permissions issue goes, I'm not at all sure why that would occur, but when I begin testing the Windows support I can test further.

As a Windows dev myself for my day job, debugging permissions issues is a frustrating experi

[2015-07-02 19:29] bitwalker commented on #153
Oh, could you confirm what version of Windows this occurred on?

[2015-07-02 20:16] alexjp commented on #153
Hi,

Sure, its a virtual machine in windows 7 32bit. Its where I work, every time i need Windows.
I tried putting the project on the desktop, on public folders, changing permissions to full control, etc.

Could a file to be deleted still be in use ?

I develop in Linux and my workaround is to deploy on the clients servers with a virtual machine. Its not that I like to use Windows, but it would be

[2015-07-03 02:35] Cifer-Y commented on #151
Oh, yes, here

[2015-07-03 06:51] bitwalker commented on #153
I just pushed version 0.18.1, which adds support for building releases on Windows. I was able to successfully build and run a release on my Windows 10 dev machine, but I'll need assistance from you and others to determine whether it's solid.

I pushed a fix for the bug this issue was about as well, so I am closing it for now.

[2015-07-03 06:51] #153 closed

[2015-07-03 06:52] bitwalker commented on #48
This has been pushed in 0.18.1. I was testing on my Windows 10 dev machine, so I'll need you guys to test in your environments to make sure things are solid.

[2015-07-03 06:52] #48 closed

[2015-07-03 06:52] bitwalker commented on #151
I have pushed a fix for this in 0.18.1.

[2015-07-03 06:52] #151 closed

[2015-07-03 06:55] #75 closed

[2015-07-03 06:55] #78 closed

[2015-07-03 06:56] #84 closed

[2015-07-03 06:57] #96 closed

[2015-07-03 06:58] #100 closed

[2015-07-03 06:58] #104 closed

[2015-07-03 06:59] bitwalker commented on #114
ping

[2015-07-03 07:00] bitwalker commented on #115
No longer an issue since relx was added as a dependency.

[2015-07-03 07:00] #115 closed

[2015-07-03 19:40] midas opened #154 "Build of Phoenix 0.13.1 application fails with no guidance as to why"
Everything compiles fine and then all of a sudden, exrm reports a failure with no details, thus I do not know how to begin tracking the issue down.

[code]

Following are the contents of my apps mix.exs file.

[code]

[2015-07-03 20:28] bitwalker commented on #154
Could you post the output of running `mix release --verbosity=verbose`? This outputs the debug log and can help us track down the issue.

I think I'm going to update the error handling to suggest this on failure, I put documentation in the task docs for `mix release`, but I don't think that's very helpful currently.

[2015-07-03 20:38] midas commented on #154
No need to post, your hint gave me what I needed to fix this myself.

I apologize, but I am fairly new to Erlang/Elixir and I do not have a great understanding of the toolset, etc yet.  I am sure you will have more and more newbies rolling though due to Elixir's lower barrier of entry, so putting that message into the error would probably save you lots of interruptions, like me :).

Anyways, thank

[2015-07-03 20:38] #154 closed

[2015-07-03 21:11] bitwalker commented on #154
@midas No worries, I'm glad you were able to get it sorted :). These questions are definitely not an interruption so don't worry about that, it helps guide me towards ways to make the tooling better!

[2015-07-03 21:13] bitwalker opened #155 "Add note about --verbosity flag when errors occur during release builds"
It would be a helpful reminder for those less familiar with the toolchain to print a message about retrying with `--verbosity=verbose` in order to get debugging information on the error that occurred. It will also reduce turnaround time on tickets since people can post the debug log along with their issue.

[2015-07-03 22:17] liveforeverx commented on #114
@bitwalker

[code]

It happens, because all, what specified in vm.args are passed as flags to a started beam proccess.

[2015-07-04 02:19] bitwalker commented on #114
@liveforeverx We may be able to use `nodetool` to call the `erlang:set_cookie` function on the started node to avoid this. I'd have to test that out. Have any thoughts on that?

[2015-07-04 21:00] alexjp commented on #67
@HashNuke I am currently using exrm, where i can successfully and easily deploy a release with it on various machines. Only problem is migrations. Could you share your method ? As if I was a complete beginner with only a few months of elixir ? :)

[2015-07-05 02:48] bitwalker commented on #67
@HashNuke @alexjp If you have a solution that works, I'd like to document it and add it to exrm's docs :)

[2015-07-05 05:38] HashNuke commented on #67
@bitwalker @alexjp Drafted a blog post yesterday about this and another thing (easier versioning). I'll link you to the blog post once I finish it.

The code I've been using to test is online. Here's how:
* Add this block of code to your `config/config.exs`: https://github.com/HashNuke/phoenix-test/blob/master/config/config.exs#L25-L28
* Now to generate a release run `SERVER=1 mix release`
* When

[2015-07-05 10:57] josevalim commented on #67
If we are thinking about the problem generally, the biggest issue is that the scripting mode of mix does not really map to how we run apps in production with releases. For example, to run a task, we don't need to preload all modules as part of the release.

That's not to say there isn't a solution, quite the opposite, there are many ways to solve this:

1. If you are building your release in the p

[2015-07-05 11:15] alexjp commented on #67
As i understand that this might be "bloating" exrm, solution 2 is exactly what i need.
It would be great to have migrations in the release, because from experience, when you separate db maintenance from code, sooner or later all hell breaks loose. (having db not in sync with what code expects it to be)

[2015-07-05 20:53] HashNuke commented on #67
@josevalim option-2 feels more friendlier. Being able to pass options to the release would be a huge goodie bag.

[2015-07-06 09:57] mguillemot opened #156 "Cannot parse version"
I don't seem to be able to generate a release w/ Elixir 1.0.5 & Erlang 18.0.

Just adding `{:exrm, "~> 0.18.1"}` to an empty Mix project and doing `MIX_ENV=prod mix release`, I get the following error:

[code]

OS is Ubuntu Server 15.04 64 bit with a fresh install of Elixir 1.0.5 and Erlang 18.0. Glancing through rlx source code, it seems :rlx_app_info.parse_version is expecting either a list or a

[2015-07-06 14:57] bitwalker commented on #156
@mguillemot Can you post your `mix.exs`? That may help. I would guess some version of an application, either yours or a dependency's, is using a version number in a scheme relx isn't supporting (could be a bug too).

/cc @tsloughter

[2015-07-06 15:04] tsloughter commented on #156
Right, relx expects a string or something already parsed by its semver parser which returns `{Vsn, BuildVersion}`.

[2015-07-06 15:11] mguillemot commented on #156
This was a empty new application generated by `mix new`. So only dependency is `{:exrm, "~> 0.18.1"}`, and application version was the default `"0.0.1"`.

[2015-07-06 15:18] mguillemot commented on #156
I don't seem to be able to reproduce the issue on either my Windows machine, or a Ubuntu Server 14.09 64bit, with the same versions of Erlang/Elixir installed. I'll try to reproduce on another Ubuntu Server 15.04... (Issue was consistent on my test machine, I generated a dozen projects with various configuration changes, and always had the same error...)

[2015-07-06 15:24] bitwalker commented on #156
I'm installing R18 to test on my machine as well.

[2015-07-06 15:38] bitwalker commented on #156
@mguillemot Can't reproduce on OSX (10.10.2) either :(. I don't have a 15.04 VM handy to test with, but when I get some time I'll try to spin one up. If you are able to reproduce on another server, there's probably a bug somewhere, if you can't, I wonder if maybe something is up with the Erlang/Elixir install on that server?

[2015-07-06 16:03] mguillemot commented on #156
This was on a brand-new install of Ubuntu Server 15.04 in a VM, using the official erlang-solutions packages for both Erlang and Elixir (`apt-get install erlang elixir`). I'll try again on a new image tomorrow at work...

[2015-07-06 16:05] tsloughter commented on #156
Which erlang-solutions packages? "Enterprise" or "Standard"?

[2015-07-06 16:14] mguillemot commented on #156
Just using the install instructions from the Elixir website at http://elixir-lang.org/install.html, so:

wget https://packages.erlang-solutions.com/erlang-solutions_1.0_all.deb && sudo dpkg -i erlang-solutions_1.0_all.deb

This seem to install the `contrib` branch of their apt repo, which is "standard" I guess?

[2015-07-06 16:18] tsloughter commented on #156
Argh, no, I think that now gets the "enterprise" one. Can you check if you have random stuff like rebar, rebar3, cowboy (in libs)?

[2015-07-06 16:24] liveforeverx commented on #114
@bitwalker yes, something like rpc erlang set_cookie <cookie> can work of course.

Another option, if we can it to app.script (as {apply, erlang, set_cookie, [<cookie>]} ), it would be better, as it will little bit earlier in start of a vm. Need to check, if we can easy hook functions to a script.

[2015-07-06 17:11] bitwalker commented on #156
@mguillemot I'm unable to reproduce using the Ubuntu 15.04 VirtualBox image [located here](http://virtualboxes.org/images/ubuntu/#ubuntu1504). Here are the steps I took to initialize the VM with Erlang/Elixir:

[code]
There has to be something funky with either the system you were on, or maybe your installation process was different? I see that there is a Vivid tab on the Erlang Solutions site, bu

[2015-07-06 18:31] bitwalker commented on #114
I think it would be pretty doable to do post-processing on the `.script` to add that in. The one issue that comes to mind is that putting it in there makes it pretty inaccessible for your average user, where `vm.args` is very user friendly. Because of the way `vm.args` is applied, we'd have to strip it from there and put it in the `.script` (this applies to the `erlang:set_cookie` option via nodet

[2015-07-06 19:44] bitwalker commented on #67
@josevalim In Option 2, what is handling the options being sent to the executable? I can modify the boot script to pass options appended to `-extra` (currently `--no-halt +iex` is passed along with the `console` task, and `foreground` passes along any extra arguments to the release unaltered. In the case of the `console` task, `IEx.CLI` gets those options, but in the case of `start` or `foreground

[2015-07-06 21:00] josevalim commented on #67
@bitwalker it depends. If those configs are erlang configs, I assume you would also be able to pass them to the erl `-config` flag? It is worth mentioning that the options I mentioned above do not consider the exrm side (i.e. I am not sure how hard they are or if they are even possible to implement).

[2015-07-07 02:14] mguillemot commented on #156
After being unable to reproduce on 2 different machines, I went back to the original erroneous VM, forced the re-installation of both Erlang and Elixir packages, and the error is now gone.

Sorry for the false alert, and many thanks for helping on debugging the issue. I'm always super-impressed by the reactivity and helpfulness of the Erlang/Elixir community!

[2015-07-07 02:14] #156 closed

[2015-07-07 03:14] bitwalker commented on #156
No problem! Issues like these are super frustrating, wish we knew what happened here exactly, but sometimes that's how it goes :(

[2015-07-07 04:07] mguillemot commented on #156
Yeah, me too, I'm not really satisfied by the lack of answer to "why"... But difficult to diagnose non-reproductible bugs...

[2015-07-08 06:59] mpahrens opened #157 "Documentation around where relx.config should go"
When trying to follow the instructions as per #99 (I am compiling on ubuntu for rasp pi), I got stuck for a while trying to figure out where to put the relx.config.

The test application in `test/fixtures/example_app` was misleading because it put it's relx.config in the root directory for the project (with mix.exs), but when I dug through the source, I see that it is actually looking for `<root>/

[2015-07-09 06:36] zipme opened #158 "tar_unknown_generation_error"
When running this command `MIX_ENV=prod mix release --verbosity=verbose`

I got this error:

[code]

I am using elixir 1.0.4 and exrm 0.18.1, and I ran the command inside a phoenix project which is under an umbrella project.

[2015-07-09 09:13] jsvisa opened #159 "Set tar name maybe error"
You just removed the tarball [L356-L357](https://github.com/bitwalker/exrm/blob/master/lib%2Fmix%2Ftasks%2Frelease.ex#L356-L357),
but you reset the value [L380](https://github.com/bitwalker/exrm/blob/master/lib%2Fmix%2Ftasks%2Frelease.ex#L380),
Shouldn't it be [release_tarball] ?(https://github.com/bitwalker/exrm/blob/master/lib%2Fmix%2Ftasks%2Frelease.ex#L373)

[2015-07-09 09:33] zipme commented on #158
Strange, doing a clean checkout solves the issue

[2015-07-09 09:33] #158 closed

[2015-07-09 15:06] bitwalker commented on #158
That's odd, if you see it again, let me know!

[2015-07-09 15:07] bitwalker commented on #159
Oh my, you are exactly correct, I overlooked that reference. I'll push a fix in a few minutes. Thanks!

[2015-07-09 15:09] #159 closed

[2015-07-09 15:13] bitwalker commented on #157
Good point, just for reference, I keep an example project [exrm-test](https://github.com/bitwalker/exrm-test) up to date, that's always a good place to check rather than the test fixtures (though those *should* be accurate, if not then either it doesn't matter for some reason or the tests are out of date). The docs now have an explicit list of the possible ways to configure the release under "Rele

[2015-07-09 15:13] #157 closed

[2015-07-10 03:55] bitwalker commented on #155
Released

[2015-07-10 03:55] #155 closed

[2015-07-10 06:04] vishnevskiy opened #162 "Upgrade does not use proper config."
I am making this ticket because maybe I am doing something wrong.

I tried making a release and then upgrading and what was happening was that the code was reloaded but the configs were all set to the defaults from my config.exs file and not what is in my .conf fine after the upgrade.

So I tried using unpack first and making sure that in the 0.0.2 folder the conf file was updated accordingly. Sti

[2015-07-10 17:38] mpahrens commented on #157
Thank you for the speedy response! :+1:

[2015-07-10 18:09] mpahrens opened #163 "cross compiling issue"
Hello! I am having an issue trying to cross compile ala the instructions in #99 for my project blockytalky: https://github.com/tufts-LPC/blockytalky_elixir
My: `/rel/relx.config` looks like this:
<pre><code>
{include_erts, "/vagrant/erlang"}.
{system_libs, "/vagrant/erlang/lib"}.
</code></pre>
and in that erlang folder is an arm build of erlang with `erts-6.1`

When I compile with `mix release --v

[2015-07-10 18:11] bitwalker commented on #163
@mpahrens The name of the config file for relx is actually `relx.config`, so it's location should be `rel/relx.config`. Was that just a typo?

[2015-07-10 18:12] mpahrens commented on #163
yes it was just a typo, the filename is correct in my repo

[2015-07-10 18:13] bitwalker commented on #163
Ah I think I see the bug here, one second and I should have a fix in master for you to test with.

[2015-07-10 18:15] mpahrens commented on #163
Thanks! :+1: :)

[2015-07-10 18:28] bitwalker commented on #163
@mpahrens Ok found the issue and pushed a new release 0.18.4 with the fix.

**NOTE:** It's important that your path in `{include_erts, <path>}` is pointing to the correct place. To validate the path, just run `$ ls <path>` and you should see a folder called `erts-X.X`. So for example, on my OSX machine, my homebrew-installed Erlang path which I could use with `include_erts` is `/usr/local/Cellar/e

[2015-07-10 18:32] mpahrens commented on #163
Let me give it a try! and my include_erts path passes that test! :) You might have looked though my commits and saw I didn't exactly know what to put there (I didn't and was trying stuff to see if the issue was my stupidity).

[2015-07-10 18:56] mpahrens commented on #163
So, I pulled your latest and used it. it did not error out this time, but in `/rel/blockytalky/bin/blockytalky` and `/rel/blockytalky/bin/blockytalky.bat` The first few lines of the boot script are like:
<pre><code>
#!/bin/sh

set -e

SCRIPT_DIR="$(dirname "$0")"
RELEASE_ROOT_DIR="$(cd "$SCRIPT_DIR/.." && pwd)"
REL_NAME="blockytalky"
REL_VSN="0.1.3"
ERTS_VSN="6.4"
RELEASES_DIR="$RELEASE_ROOT_DIR/r

[2015-07-10 18:58] bitwalker commented on #163
@mpahrens Yeah that's a related bug I'll need to fix, I'll keep this open for now while I address it :)

[2015-07-10 19:01] mpahrens commented on #163
Thanks! (especially for your hard work). If I wasn't trying to get a release out for a summer camp with kids to use my school's project, I'd dig and help fix these kinds of things myself. Thanks again!

[2015-07-10 19:11] mpahrens commented on #163
even with that script version being mislabeled, it runs with the correct version. So, I'm happy :)

[2015-07-10 19:15] bitwalker commented on #163
@mpahrens Awesome :), I pushed an update to master which correctly populates `ERTS_VSN` now as well. So I'll close this out. Feel free to reopen it if something with this pops up again!

[2015-07-10 19:15] #163 closed

[2015-07-12 01:08] fire commented on #48
A basic development test allows me to release a phoenix server on Windows 8.1 64bit and run it.

There was issues with setting environmental variables. In particular the default phoenix code requires the ability to set PORT=XXXX and MIX_ENV=prod.

There was a workaround that allows me to switch to a user and apply env variables to that user, but it would be help to have some guidance.

[2015-07-12 19:07] mpahrens opened #164 "tar.gz that is created for specific version accumulates previous tar.gzs, making filesize grow each time"
Hello!
This may be the intended behavior, but I wanted to ask in case there is something I could do.
When a make a release (which has been going very smoothly now, thank you :) ) it generates the
tar ball  at:
`rel/blockytalky/releases/0.1.4/blockytalky.tar.gz` or whatever version number I am on.
I noticed that each time I make a release, this file gets a lot bigger (it was ~40MB the first time, n

[2015-07-12 20:26] romul opened #165 "tar.gz under rel/appname/releases/version is broken"
Hello. I've discovered that tarball under rel/appname/releases/version directory is not usable, most likely because it trying to create an archive inside archived directory.
The issue was introduced by this commit: https://github.com/bitwalker/exrm/commit/4b7d9f2118b446b938a1ca7449c9c3a5d0566556

[2015-07-13 15:11] bitwalker commented on #48
@fire I would just write a simple batch script to bootstrap the phoenix reqs, something like this:

[code]

I can put a note in the exrm documentation if that seems like a reasonable solution.

[2015-07-13 15:13] bitwalker commented on #164
@mpahrens Yeah this is definitely not intended, The tarball should only contain the current release, I'll do a bit of digging :)

[2015-07-13 15:45] fire commented on #48
Doesn't this break .\path\to\bin\app.bat install, .\path\to\bin\app.bat start? The idea is you're able to install the service without creating your own service manually.

[2015-07-13 16:11] #164 closed

[2015-07-13 16:11] #165 closed

[2015-07-13 16:12] bitwalker commented on #164
I'm not totally satisfied with my solution to this one, but it works as intended and fixes another bug which was also introduced by the same change that introduced this one. It's pushed to master, once the build passes I'll push to hex!

[2015-07-13 16:12] bitwalker commented on #165
Thanks for reporting! This has been fixed in master, should be pushed to hex shortly.

[2015-07-13 16:32] mpahrens commented on #164
Thanks!!

[2015-07-13 18:57] bitwalker commented on #48
@fire You're right it does, I keep forgetting it installs as a service on Windows. The following are the steps that should work, and allow finer grained control (rather than creating a user for each service);

1. Post-install, create a new `REG_MULTI_SZ` value under the registry key `HKLM\SYSTEM\CurrentControlSet\Services\<YourAppsService>`
2. Add your environment variable definitions in the form

[2015-07-14 05:54] fire commented on #48
Your instructions are missing "Create a REG_MULTI_SZ called Environment.".

[2015-07-14 20:57] romul commented on #165
Thank you for a quick fix.

[2015-07-15 22:03] umatomba opened #166 "location of the default sys.config and vm.args in running-config directory"
The sys.config and vm.args are placed in release directory and used as defaults now (should not be edited). After starting of the release they will be automatically copyed to running-config directory. The  sys.config and vm.args should be placed in running-config directory already before first starting of the release.

[2015-07-15 22:10] bitwalker commented on #166
How would this be accomplished? As the location of `running-config` is not known until the boot script runs, and running the boot script means you are running the release, I'm not sure how this is supposed to be done. I'm also a bit unclear on the specific problem, is the current behaviour causing a bug?

[2015-07-15 22:28] umatomba commented on #166
No it's not a bug, i just think it could be hard to understand for some people, who don't play with `RELEASE_MUTABLE_DIR`, that before first start the configuration should be done in release folder, and after the start in `running-config` directory. And we know where `running-config` placed per default. Or what do you think about it...?

[2015-07-18 11:04] HashNuke opened #167 "error: no_upfrom_release_found"
Got the following error when trying to create a release for v0.0.3 of an app https://github.com/HashNuke/hello-phoenix

![screen shot 2015-07-18 at 4 30 40 pm](https://cloud.githubusercontent.com/assets/84005/8761353/c1b46f3c-2d6a-11e5-8756-014d65ac9789.png)

[2015-07-18 14:54] HashNuke commented on #167
I've got some details after debugging & trying to reproduce. This error happens when creating a release after an "upgrade".

**Steps:**
1.) run `mix release --implode --no-confirm`
2.) create release 0.0.7 and start
3.) create release 0.0.8 and upgrade
4.) create release 0.0.9 [ERROR]

Here's the full log from the error generated during the last step (creating a release for 0.0.9):

[code]

[2015-07-19 12:02] HashNuke commented on #167
## More details:

The *.tar.gz file & *.rel files are deleted when an `upgrade` is performed. This seems to be normal behaviour according to http://www.erlang.org/doc/man/release_handler.html (release_handler module is used by relx here https://github.com/erlware/relx/blob/master/priv/templates/install_upgrade_escript)

[@tsloughter any ideas how to handle this?]

Here's the directory listing acco

[2015-07-19 20:11] bitwalker commented on #167
@HashNuke This seems to be an side effect of running the release and performing the upgrades from the release build directory, whereas I suspect that if you were to deploy the tarball elsewhere, and do your deploys there, this would not occur. That said, I think this is something that we should try and find a solution for, I'm just not sure what that is at the moment. It definitely seems to be a c

[2015-07-19 23:08] tsloughter commented on #167
Wait, you are actually performing the upgrade from the same place you are building the releases?

[2015-07-19 23:09] tsloughter commented on #167
Oh, I see @bitwalker already replied about that. I'm not sure what we want to do for this, it may even be just docs to have people test stuff like this in `/tmp` instead of in the build directory.

[2015-07-20 04:21] HashNuke commented on #167
@bitwalker Thanks for clearing it up. The first time I ran it worked and I continued thinking the docs had the other commands just test stuff before actually upgrading.

@tsloughter yes. I was doing in the same place the release was built. The docs are there. Just misread the intention of the other commands. Is this workflow the same/similar for erlang apps too?

[2015-07-20 09:10] HashNuke commented on #167
@bitwalker Tried running the commands from the docs. but it looks like the docs haven't been updated. Here's my outputs:

##### After creating the 0.0.5 release

[code]

#### Start the 0.0.5 release

[code]

#### After creating a 0.0.6 release

[code]

#### Run upgrade commands from docs on <https://exrm.readme.io/docs/upgradesdowngrades>

[code]

**But for the next command `bin/hello_phoenix upgr

[2015-07-20 09:13] blisscs opened #168 "exrm revert back to the previous version after stoping running of the server."
I have some issues upgrading the release using exrm when using with phoenixframework. The issue is when after stoping the running release. the upgrades changes revert back to the initial release when restarting it again.

Please refer to using exrm with phoenix here. http://www.phoenixframework.org/docs/advanced-deployment
Exrm version that I am using is this one {:exrm, "~> 0.15.3"}
To Reproduce

[2015-07-20 09:48] chawladev commented on #168
I found out the issues here.

The issue is that when using $ rel/app_name/bin/app_name upgrade "0.0.2" it doesn't update the value of REL_VSN from "0.0.1" to "0.0.2" in the $ rel/app_name/bin/app_name file

So to fix this just open the file rel/app_name/bin/app_name and find the line with REL_VSN="0.0.1" and then update to REL_VSN="0.0.2" will fix this.

I am not sure is this the way of fixing thi

[2015-07-20 10:11] fire commented on #48
1. Post-install, create a new REG_MULTI_SZ value named Environment under the registry key HKLM\SYSTEM\CurrentControlSet\Services\<YourAppsService>
2. Add your environment variable definitions in the form of:
VAR1=VALUE1
VAR2=VALUE2

Works

[2015-07-20 10:16] blisscs opened #169 "How to execute a mix command on the running release."
Suppose I am developing an application that uses ecto in this case let it be phoenixframework.

After finished the development I do $ mix release , to release the first version.

Then I run a release using. $<path_to_extracted_release_content>/bin/<app_name> start

I wonder how can I run the mix command on the running release.

Suppose that I want to run.
$ mix ecto.migrate

[2015-07-20 10:17] gjaldon commented on #168
Cool @chawladev, that's helpful!

[2015-07-21 02:49] olhado commented on #66
The real issue is that `dicer` is more of a library than it's own app. Maybe I am including it wrong in my mix config for `infiniteroll`, but creating an appup for a library feels very wrong.

[2015-07-21 19:40] mpahrens opened #171 "when upgrading, if I skip a version, upgrade fails"
I don't know if I am missing something here,
but I am generating releases, and in this instance, on my deployed server, I skipped a version number.

That is, for a set of my servers I upgraded them from 0.1.10 to 0.1.11 and then to 0.1.12.

On another set of servers, I tried upgrading from 0.1.10 of my app directly to 0.1.12 using:
`/path/to/my/bin/blockytalky upgrade "0.1.12"`
Where blockytalky i

[2015-07-21 19:42] mpahrens commented on #171
my relup for 0.1.12 looks like:
<pre><code>
{"0.1.12",
 [{"0.1.11",[],[point_of_no_return]}],
 [{"0.1.11",[],[point_of_no_return]}]}.
</code></pre>

Even though I built it with `mix release` on an environment that had my previous releases in the rel folder. I am cross compiling (like I asked about before) if that makes any difference.

[2015-07-22 00:03] cjimison opened #172 "deps and included_applications"
Here is kind of an odd case that I was hoping for a bit of insight into:

- I have an umbrella project with 3 applications in it, lets call them App1, App2, and App3
- This umbrella project will create two different exrm release builds and they are App1 and App3.
  - App1 has an "include_appplications" list with App2
  - App3 has both App1 and App2 in it's applications list

My expectation would b

[2015-07-22 00:05] cjimison commented on #172
As a followup:  If I run the projects using

iex -S mix

The behavior is what I was expecting:

App1 runs without App2
App3 runs with both App1 and App2 started

Thanks!

[2015-07-23 01:25] mpahrens commented on #171
this isn't a pressing issue for me (I don't need to live upgrade as these are embedded systems that go up and down constantly), so don't prioritize this for me! (and I can help investigate too!) I just wanted to know if this was intended behavior of the relup :) Good work as always.

[2015-07-23 02:39] HashNuke commented on #169
@chawladev Hello Chawla ~!
Checkout the details under "Improvements for convenience" section of this blog post http://hashnuke.com/2015/07/19/convenience-hacks-for-using-exrm-with-phoenix-apps.html.
It has the details you need.

If you think that solves the problem, please feel free to close this issue :)

[2015-07-23 07:52] mguillemot opened #173 "priv/ not bundled on OTP 18.0"
First of all, I'm not 100% sure that this is caused by OTP 18.0, but I'm definitely seeing this issue since upgrading to Elixir 1.0.5 and OTP 18.0, both on my Ubuntu Server 64bit and Windows 7 64bit machines.

The issue is simple: the content of the `priv/` directory in your project is not bundled in the release.

I've repro'ed the issue on empty projects with just exrm 0.18.5 and a simple file in

[2015-07-23 07:57] mguillemot opened #174 "tar inside a tar"
When I build a release of a `test` project with Elixir 1.0.5, OTP 18.0 and exrm 0.18.5, it generates me the following:

- `rel/test` that contains the whole project, including...
- `rel/test/releases/0.0.1/test.tar.gz` which contains the whole project including...
- a smaller `releases/0.0.1/test.tar.gz` which contains the whole project without any following `test.tar.gz`

So I can understand why

[2015-07-23 14:31] bitwalker commented on #172
The configuration is merged I believe, could you try adding `included_applications: []` to App3's mix.exs to see whether that fixes it? I'll try and dig in to this as soon as I can, just got back from vacation though and have a bit of a backlog :(

[2015-07-23 20:09] cjimison commented on #172
No joy, same behavior as before :p

-Chris

[2015-07-26 18:26] HashNuke commented on #167
@bitwalker did you get around to confirming the docs anytime?

[2015-07-27 23:21] thecodeboss opened #175 "Umbrella dependencies fail"
If I have an app called `myapp`, and it has an umbrella app as one of its dependencies:
[code]
Running `mix release` fails. It looks for an ebin folder for the umbrella app using `File.ls!`, however umbrellas do not have such a folder so it blows up. Each of the apps in the umbrella has an ebin folder, but not the umbrella itself.
[code]
If I downgrade to use exrm 17.3, the dependency is fine.

[2015-07-28 11:30] chawladev commented on #169
I see it is little confusing here. I have some questions that can help me understand.
1. When you deploy your code suppose to a different environment. The structure of folder is something like this -
/bin
/erts-7.0
/lib
/log
/releases
/relup
/tmp
Where do I run the mix task here? For example I wan to run mix ecto.migrate. I have tried running in the root folder of this extracted release folder. I

[2015-07-28 11:32] HashNuke commented on #169
@chawladev if you follow the setup in my blog post about the `SERVER=1` env var, then you can run your mix task in the project's root dir (assuming your server has the project cloned).

[2015-07-28 11:37] chawladev commented on #169
No its not the clone of project here that  I am referring about here. I am talking about the exrm release here.

Please have a see the instruction here http://www.phoenixframework.org/docs/advanced-deployment#section-deploying-our-release

I am referring to the extracted release folder here.

[2015-07-28 12:49] HashNuke commented on #169
@blisscs I know what you are referring to. But you need the cloned project to run the mix task as per the solution in my blog post. There's no way to run the mix tasks if you only have the release release since the Mix tasks aren't included/compiled in the release.

[2015-07-30 10:34] chime-mu opened #177 "config.exs strings are not encoded correctly in utf8 for sys.config"
When using a string in utf8 in config/config.exs, the elixir execution works correct. However after making it into a release, the string read from sys.config is no longer in the same utf8 encoding.

Manually editing sys.config to use the string syntax <<"...."/utf8>> solves the problem, but I've found no way to persuade erlang to generate this binary format.

It seems if I pass a third parameter [

[2015-07-30 17:45] liveforeverx opened #178 "Failure with elixir master"
Error on creating release, using elixir master:

==> Failed to build release. Please fix any errors and try again. Error: {:rlx_app_discovery, [{:unversioned_app, "/Users/dima/personal/elixir/bin/../lib/mix/test/fixtures/archive", :local_sample}]}

Possible solution elixir-lang/elixir#3539

[2015-07-30 20:05] #178 closed

[2015-07-30 20:21] liveforeverx commented on #178
@bitwalker thanks! Can you please release 0.18.6 in hex? Thanks in before.

[2015-07-30 20:22] bitwalker commented on #178
Can do sir, just a few minutes :)

[2015-07-30 20:27] bitwalker commented on #178
Done!

[2015-07-30 20:30] bitwalker opened #180 "Pretty print relx errors if possible."
It would be good to find a way to take errors produced by relx and pretty print them in the console. Need to look at the possible errors relx can produce and go from there.

[2015-07-31 13:34] ftaebi opened #181 ""Failed to build release. Please fix any errors and try again." after some releases"
Hi, I got a very similar issue to #118:
I release 0.0.1 and start it, then I release 0.0.2 and upgrade. Everything works fine.
The third time I get the following error when I do `mix release`:
[code]
My mix.exs looks like this:
[code]

[2015-07-31 14:14] bitwalker commented on #181
Could you run `mix release --verbosity=verbose`? Also could you update to exrm `0.18.6`? I just did a test with my [exrm-test](https://github.com/bitwalker/exrm-test) project, and was able to generate upgrades for 0.0.1->0.0.2->0.0.3 successfully, so I'd like to narrow down the differences.

[2015-07-31 14:21] ftaebi commented on #181
I did run with verbosity:
[code]
I have to add that I started the release in the same place it was built and not in a separate directory. Maybe this is still an issue?

[2015-07-31 14:49] ftaebi commented on #181
As expected, this happened because I started the releases in the same directory they were created.
Maybe you should explicitly mention that in the docs because is quite tempting to do it that way.

[2015-08-02 15:34] HashNuke commented on #167
@bitwalker any help with this issue?

[2015-08-02 15:36] HashNuke commented on #181
@ftaebi most likely related to the issue in this comment https://github.com/bitwalker/exrm/issues/167#issuecomment-122819121. Going by docs, the releases aren't supposed to be "upgraded" in the same place they are created. But the commands in the docs seem outdated too.

[2015-08-03 15:03] blisscs commented on #169
Thank you @HashNuke
I can understand your point here.
I am having confusion in the concept of doing releasing here. Why are we creating a release if we have to do the complete clone to the production environment. We could clone it and run mix phoenix.server on the production and do the mix ecto.migrate on the production.

Do you think the same way?

[2015-08-03 15:11] HashNuke commented on #169
@blisscs Creating a release allows easier app monitoring & management IMHO. For me it was easier to use `monit` this way.
Besides that, if you don't want to clone remotely, you can migrate the database from your local computer if you have the correct credentials in `config/prod.exs` (`MIX_ENV=prod mix ecto.migrate`). But you'll have to ensure that postgres on the remote server is listening on a po

[2015-08-03 15:52] bitwalker commented on #181
@ftaebi @HashNuke Yeah this has come up enough times now where I'm looking into solutions for it, I do need to update the docs to contain a warning about this though, so I will do that right away. I'm going to close this for now, but be aware that it is something I'm working on.

[2015-08-03 15:52] #181 closed

[2015-08-03 16:05] HashNuke commented on #181
@bitwalker I'll try to pitch in by taking some issues off your plate.

[2015-08-03 16:08] bitwalker commented on #171
@mpahrens Hey sorry for the delay, been spread thin across a handful of projects! In any case, what you are attempting to do here isn't supported, but that's because your release tar for 0.1.12 was built to upgrade from 0.1.11, not 0.1.10. If you wanted to build a tar to go from *.10 to *.12, you'd need to delete `rel/<app>/releases/0.1.11`, then build the release again. This time it would see it

[2015-08-03 16:08] #171 closed

[2015-08-03 16:16] bitwalker commented on #177
Fixed in 29f4a7d

[2015-08-03 16:16] #177 closed

[2015-08-03 16:24] bitwalker commented on #181
@HashNuke Thanks man, any and all help is very much appreciated :). Ping me if you have any questions on anything!

[2015-08-03 17:42] #175 closed

[2015-08-03 17:49] bitwalker commented on #169
@blisscs @HashNuke The real solution for this as far as I see it is to use the Ecto.Migrator API to run migrations in your application startup code based on some config setting. The mix task provided by ecto is there for convenience, but is not necessary for running migrations.

After quite a bit of discussion in various places, it's quite clear to me that mix tasks are not really compatible with

[2015-08-03 17:52] bitwalker commented on #167
@HashNuke The docs for upgrades/downgrades is extended documentation from the deployment section, it assumes you've already done the first deployment to `/tmp`. I'll clarify that now :)

[2015-08-03 17:56] bitwalker commented on #167
@HashNuke For now I've added a warning about doing deployments from the `rel` directory, as I'm not sure on how we can work around the fact that some files are deleted during this process. I'm going to keep thinking on it, but I think we should really recommend that people keep their deployed app in a separate location.

[2015-08-03 18:18] bitwalker commented on #174
The nested tar is required for upgrades/downgrades, as it is used by the release installer. It does add some bulk, but as far as I can tell it is unavoidable unfortunately.

[2015-08-03 18:18] #174 closed

[2015-08-03 18:20] bitwalker commented on #173
@mguillemot Where are you looking for priv? I'm able to find it under `<deploy dir>/lib/<app>-<version>/priv` when testing locally on OTP 18. You can see the test project I'm using [here](https://github.com/bitwalker/exrm-test).

[2015-08-04 15:13] blisscs commented on #169
Thank you very much on this @HashNuke @bitwalker
I will checkout Ecto.Migrator API and try things out from there.
Very appreciated, thank you.

[2015-08-04 15:13] #169 closed

[2015-08-05 05:22] mweibel opened #183 "Error during upgrade: cannot find top supervisor for application <x>?"
Hope this is the right place to pose a question :)

I successfully managed to create a release and deployed it. Now I changed some little things and I would like to do an upgrade. I didn't create an `appup` file.
In the application I have [exometer_core](https://github.com/Feuerlabs/exometer_core) as a dependency which in turn has [setup](https://github.com/uwiger/setup) as a dependency and `setup

[2015-08-05 16:01] bitwalker commented on #183
@mweibel An appup should've been created for your upgrade release automatically if you didn't generate one yourself, could you look in `rel/<app>/lib/<app>-<version>/` to see if there is an appup file there and gist it if it exists? Could you also verify that in `rel/<app>/releases/<version>` that a relup file exists?

I'm not sure what would produce that error, so I think we'll be doing some digg

[2015-08-06 20:19] mweibel commented on #183
obviously now I tried to do various stuff to make it work.. and the first release upgraded now successfully but I can't reproduce the case anymore.. will reopen in case I can :)

thanks anyway ;)

[2015-08-06 20:27] bitwalker commented on #183
@mweibel Damn, always hate those kind of bugs. Well if you do stumble on it again, try and open up this issue again if you can find it, that way we can keep related info in one place :)

[2015-08-08 01:59] d-b opened #184 "91f7651 forcing me to use conform?"
I have a project which I'm not using conform for and have no interest in doing so.

Normally while building the release I would see the following:
[code]

However starting in commit 91f7651878a05174869cfb7b115b04f86f9a0453, conform seems to generate an empty schema file and forces me to use it:
[code]

It appears the regression (if it is one?) occurred in the switch to conform 0.15.1

[2015-08-10 17:00] mweibel commented on #183
Could reproduce it now, after fiddling a bit with versions... not sure if related ;)
Anyway, had to sanitize the files a bit, hope it's still readable..

https://gist.github.com/mweibel/06681cc38f737394ed73

server is the application I work on. Should I post any dependency appup or so?

[2015-08-11 05:49] mweibel commented on #183
Added a 3rd case clause to install_upgrade.escript in the call to `rpc:call(TargetNode, release_handler, install_release, [Vsn], ?TIMEOUT)` and it logged this output:

[code]

well.. not much of a help though ;)

[2015-08-11 05:57] mweibel commented on #183
FYI, this time it happened for another app/lib: https://hex.pm/packages/facebook - my own hex package... Which has indeed no supervisor.. wondering why I'd need one though

[2015-08-11 10:57] jordi-chacon commented on #147
Any clue as to why this might be happening? I still have this issue :/

[2015-08-11 15:42] felipesere commented on #90
Any update on this? I need to use the environment variables for Docker.
Let me know if there is anything I can do to help.

[2015-08-11 22:28] #184 closed

[2015-08-11 22:29] bitwalker commented on #184
This was a bug in conform due to a recent PR, fix was pushed to hex, so this is now fixed in exrm master, should see a new release soon!

[2015-08-11 22:30] bitwalker commented on #173
I'm closing this for now, feel free to reopen it if you have more comments on this!

[2015-08-11 22:30] #173 closed

[2015-08-11 22:39] edgurgel commented on #90
I'm using docker passing the .conf file as a volume

`docker run -v /var/myapp.conf:/app/releases/1.0.0/myapp.conf`

This way you can easily override the configuration file.

[2015-08-12 02:04] mguillemot commented on #173
D'oh....... You're totally right. For some reason, I was looking at the totally wrong place... Sorry for the false alert, and thanks for the investigation!

[2015-08-12 05:04] jordi-chacon commented on #147
This issue was fixed by updating ex_aws to latest version (0.4.5)

[2015-08-12 12:08] jordi-chacon opened #186 "Error when deploying Ubuntu build to Debian machine"
Hi,

I have stumbled upon a weird problem that I have been trying to fix without luck. I'm hoping that you might have a clue and point me in the right direction.

I am generating a release of my Elixir application via `mix release` on an Ubuntu machine. Then I run the binary (from that same machine) and it works just fine.

Then I generate a Docker image which includes the binary. The image is bas

[2015-08-12 15:50] alPacino commented on #183
@mweibel It seems the question is not related to exrm, but to Erlang's SASL release handler functionality (or OTP Design principles for applications, I'm not exactly sure :))

I've recently had the same issue and figured out that the app needs to have supervisor process Erlang to handle upgrade correctly.

Here is my case. I had:
[code]

This worked fine but not for upgrading. What/How I've modifi

[2015-08-12 16:14] bitwalker commented on #168
Fixed in 0615313, released as 0.18.7

[2015-08-12 16:14] #168 closed

[2015-08-12 16:15] bitwalker commented on #162
Fixed in 0615313, released in 0.18.7

[2015-08-12 16:15] #162 closed

[2015-08-12 16:16] bitwalker commented on #80
Fixed in 0615313, released as 0.18.7

[2015-08-12 16:16] #80 closed

[2015-08-12 16:22] bitwalker commented on #186
This is likely due to the fact that you are including the ERTS from your Ubuntu machine, which was compiled against a different version of SSL. What I would do is create a `relx.config` file under `rel`, with the following:

[code]

This will then use the ERTS from the environment the release is running in.

Could you give that a try and let me know the results?

[2015-08-12 16:44] bitwalker commented on #166
I'm going to add this to the documentation rather than try to do anything special here. Users can create the `running-config` directory themselves and populate it with their desired configuration prior to first booting the release.

[2015-08-12 16:44] #166 closed

[2015-08-12 16:53] bitwalker commented on #146
@umatomba This seems to be working as expected for me when testing (using 0.18.8). It's likely that you need to add additional paths to ERL_LIBS in order to pick up the missing dependencies. Could you confirm that?

[2015-08-12 16:58] bitwalker commented on #139
Sorry it took me so long to get back to this. This is covered to some degree in the documentation, but here's the gist:

The way umbrella projects work today, releases are built for each child application, because of this, a config file at the top level, i.e. `project/config` will never be used, instead the configuration files for each application, i.e. `project/apps/app1/config` are used. This is

[2015-08-12 17:03] bitwalker commented on #138
This appears to be fixed/not reproducible in the current release of exrm.

[2015-08-12 17:03] #138 closed

[2015-08-12 17:03] #132 closed

[2015-08-12 17:05] bitwalker commented on #124
This is now handled via the `RELEASE_MUTABLE_DIR` environment variable. Closing for now.

[2015-08-12 17:05] #124 closed

[2015-08-12 18:20] bitwalker commented on #118
Fixed in master, soon to be on hex as 0.19.0

[2015-08-12 18:20] #118 closed

[2015-08-12 18:22] bitwalker commented on #149
@janjiss This is now fixed in master, and will be on hex soon as 0.19.0. exrm will generate appups for dependencies when they do not exist. If they do, then exrm will do nothing, but at least this should work as a decent compromise.

[2015-08-12 18:22] #149 closed

[2015-08-12 18:22] #141 closed

[2015-08-12 18:23] #107 closed

[2015-08-12 18:24] bitwalker commented on #92
This is now fixed in master, and soon to be on hex as 0.19.0.

[2015-08-12 18:24] #92 closed

[2015-08-12 18:30] bitwalker commented on #51
I'm going to tentatively close this for now. At the time I wanted to build out our own bootscript, but I'd rather try to maintain some parity with relx's boot script for maintenance. If this becomes a common request, we can revisit it then.

[2015-08-12 18:30] #51 closed

[2015-08-12 18:30] bitwalker commented on #57
I'm going to revisit this now, it should be a fairly easy change.

[2015-08-12 18:33] bitwalker commented on #66
This should be fixed as of 0.19.0 now. Could you test with it and let me know how it goes?

[2015-08-12 18:35] bitwalker commented on #74
exrm now generates appups automatically for dependencies, as of 0.19.0. I'm closing this for now, but please feel free to reopen it if this is still an issue.

[2015-08-12 18:35] #74 closed

[2015-08-12 18:39] bitwalker commented on #172
@cjimison Could you post the mix.exs of each application? I want to try and reproduce this locally.

[2015-08-12 19:25] johnfoconnor commented on #57
Unfortunately I no longer have to pleasure of working on elixir apps but this is definitely needed, especially as exrm is continuing to gain traction. Nice job!

[2015-08-12 19:29] bitwalker commented on #57
@johnfoconnor That's too bad! Hopefully if you get the chance to return, things will be much more refined :)

[2015-08-12 21:02] bitwalker commented on #57
Fixed in a5af772, will be pushed in the next release of exrm.

[2015-08-12 21:02] #57 closed

[2015-08-12 21:06] bitwalker commented on #31
I'm closing this for now, since I feel that relx is a better choice for pure-Erlang projects. Not only is relx available on hex now, but wrapping it with a simple mix task (for an Erlang project) is very trivial, while refactoring exrm to work well for both Elixir and Erlang projects is not. Should there be more demand for this, I'll gladly revisit, but I haven't heard any other requests for this

[2015-08-12 21:06] #31 closed

[2015-08-12 21:14] bitwalker commented on #85
Ultimately the only way you can build upgrades for an application is to have the prior release (basically the following directories/files:

- `rel/app/lib`
- `rel/app/releases/RELEASES`
- `rel/app/relup`
- `rel/app/releases/<upfrom version>`

If you aren't storing these files in source control, then you must use a non-ephemeral build server, because upgrades are stateful, and require that they hav

[2015-08-12 21:14] #85 closed

[2015-08-12 21:36] mweibel commented on #92
:+1: thanks!

[2015-08-12 22:02] cjimison commented on #172
@bitwalker Sorry for the delay in response, I am out of town.  I created a sample project that should show the behavior off here:

https://github.com/cjimison/testExrm

Let me know if there is anything else I can do to help.

Thanks!

NOTE:  This is a quick and dirty project so please forgive any type-o, etc

[2015-08-12 22:04] mweibel commented on #183
@alPacino will try this thanks! However, if the dependency (or the dependency of the dependency) is not in my control, it might be not that easy :/

[2015-08-12 22:04] #94 closed

[2015-08-12 22:05] bitwalker commented on #94
This is now fixed and will be released on hex soon.

[2015-08-12 22:10] bitwalker commented on #183
As @alPacino found, you do indeed want to have your application start a root supervisor (otherwise you won't have the ability to handle failures properly). I'm still unsure why this occurs, but I'll try and do some reading to find out.

[2015-08-12 22:12] alPacino commented on #183
@mweibel agree, but sometimes we should contribute into such dependencies (many of them are hosted on GitHub) like I'm doing right now :). My app depends from lib which doesn't work with exrm properly (including the problem described above). So I'm solving own problem and help others (I hope :)). Sorry for off-topic

[2015-08-12 22:14] mweibel commented on #183
@alPacino sure! I do that often actually :) problem is that it's not always treated as necessary from the developer or it's, for the specific case, not even necessary at all. Will try though .. ;)

[2015-08-12 22:27] bitwalker commented on #172
Found the cause of the issue in the Erlang docs [here](http://www.erlang.org/doc/design_principles/included_applications.html).

The gist of it is these points:

- An application can only be included by one other application.
- An included application can include other applications.
- An application that is not included by any other application is called a primary application.
- The application co

[2015-08-13 00:17] cjimison commented on #172
Gotcha.  Learn something new about erlang every day :)

What I was hoping for was to include the code from “util” in the “alt” release package so I can call the Util.print function (which does a GenServer.cast to Utils.Server, a process registered in global).  Basically what we are looking to do is something like so:

Node 1)

main, alt, util

Node 2)

alt_app

Node N)

alt_app

with Nodes 2 - N i

[2015-08-13 04:15] bitwalker commented on #172
@cjimison The context helps a lot, I made the changes to your testExrm app for what you would need to do and sent your repo a PR so you can see the diff, but just to clarify the setup:

- `alt` has `util` in it's `included_applications`
- `main` has `alt` in it's `applications`
- `main` is responsible for starting `util` in it's startup code (or wherever makes the most sense in order to ensure it'

[2015-08-13 04:27] cjimison commented on #172
@bitwalker WOW this is awesome!!  Thank you so much for taking the time to dig into that project and updating it with the need changes.  That was really above and beyond what I was hoping for and I will be tasking some folks out tomorrow to help me clean our builds.

- Chris

[2015-08-13 07:45] eproxus commented on #139
Ok, thanks for the explanation!

[2015-08-13 07:45] #139 closed

[2015-08-13 08:21] jordi-chacon commented on #186
Thanks for your reply @bitwalker.

So what you are saying is that the container running my application should have Erlang installed and use its own version of ERTS to run the application? Ideally I would like to avoid that and instead have the binary be fully self-contained, but I can give a try at your suggestion.

Actually, part of the information I posted in my initial post was incorrect, my ap

[2015-08-13 12:12] jordi-chacon commented on #186
I just edited the Dockerfile of the build environment to install `openssl` and `curl`, just like in the running environment. Now the only difference between the two environments is that one has Erlang and Elixir and the other doesn't. I still get the same error.

[2015-08-13 16:40] bitwalker commented on #186
@jordi-chacon Could you post your mix.exs? I'd like to double check something.

[2015-08-13 22:05] jordi-chacon commented on #186
Of course. Here it is:

[code]

[2015-08-13 22:07] jordi-chacon commented on #186
In case it matters, I am running `mix release` with MIX_ENV=test. Tomorrow I'll check if the problem also occurs if I use prod instead.

[2015-08-13 22:14] sanmiguel commented on #31
:+1: This is no longer really necessary.

[2015-08-14 02:13] jsvisa opened #187 "Mix not released with exrm"
I'm using `Mix.Config.read!/1` to read my custom config file in my application, seems `exrm` didn't  package `Mix` module with Elixir. So in the release tar, I can't use the functions like `Mix.Config.read!` or others. So what should I have to avoid those situations or I shouldn't use `Mix.Config` to read custom config

[2015-08-14 02:17] edgurgel commented on #187
Related: https://github.com/bitwalker/exrm/issues/67

[2015-08-14 02:21] jsvisa commented on #187
@edgurgel THANKS

[2015-08-14 02:36] jsvisa commented on #187
@edgurgel I just add `mix` in  `included_applications` when released, like below

[code]

This worked for me.

[2015-08-14 10:19] mweibel commented on #183
closing again ;) hopefully this fixed it, but can't yet test really because of some hex issues

[2015-08-14 10:19] #183 closed

[2015-08-14 16:59] jordi-chacon commented on #186
I think this was caused by a bug in my deployment scripts. Will investigate more tomorrow and confirm.

I apologize for having wasted your time. Thank you very much for your support anyway!

[2015-08-14 17:42] bitwalker commented on #186
@jordi-chacon I'm pretty sure the cause of the error is because you are missing dependencies in `applications` in the mix.exs for `:facebook_service`. You have:

[code]

When what you should have is:

[code]

[2015-08-19 02:40] olhado commented on #66
Verified!

Sorry it took so long, real life and a hex.pm hiccup delayed verification.

[2015-08-19 03:04] olhado opened #188 "Spurious error when running upgrade on application"
The following error is logged to the console when I run the bin/<APP> upgrade "<version>" command. The upgrade itself appears to go fine (the new code is loaded):

[code]

[2015-08-21 20:33] cjimison opened #190 "Request: Option to skip tar.gz creation"
Currently we use exrm for both package creation and running local builds.  It would be great for day to day development to be able to skip creating the tar.gz file because we never use it locally (we do use it when deploying new builds to remote servers) and it just eats up build time.

Thanks!

-Chris

[2015-08-24 12:04] manukall opened #191 "generating release fails after upgrading dependency"
using exrm 0.19.2, after upgrading dependencies i sometimes get errors during deployment. i then do `mix release.clean --implode` to start fresh and do a "cold upgrade". this is not optimal of course.

this time, the error i got when running with `verbosity=verbose` was:

[code]

the new version was basically upgrading my app to a new phoenix version, which included upgrading plug.

[2015-08-24 22:10] jordi-chacon commented on #186
Hi!

I have some news. I have managed to reproduce a very weird behaviour which involves exrm and docker, I am not sure where the problem is though.

I have created a dummy phoenix app to demonstrate the problem: https://github.com/jordi-chacon/dummy_phoenix_app

Simply clone it and run `make test_missing_files`. It creates the binary, creates a Docker image including the binary, and runs the Dock

[2015-08-25 05:36] mweibel commented on #66
@bitwalker just ran into this issue as well but with the dependency of a dependency. Upgraded to 0.19.0 and it successfully created an appup file for the dependency, however not of the dependency of a dependency. Trying to do something reproducable with exrm-test now..

[2015-08-25 15:32] #188 closed

[2015-08-25 15:32] bitwalker commented on #188
Closed via #192

[2015-08-25 15:34] bitwalker commented on #191
I'm generating appups for dependencies, but it looks like dependencies of dependencies aren't getting caught, hence the error. I probably just need to tweak my dep loading code to make sure the whole tree is walked.

[2015-08-25 15:39] bitwalker commented on #186
@jordi-chacon Sure thing, I'll chime in on that thread. I have Docker locally myself so I'll do some testing when I get some free time as well.

[2015-08-25 15:49] bitwalker commented on #66
@mweibel Yeah I just got another bug report that nested deps weren't being picked up, so I've got that tracked as a bug. I'll be working on a fix after I finish some other work that is queued up, hopefully very soon :)

[2015-09-02 07:37] manukall opened #194 "Clarify config generation"
Hi bitwalker,
i hope it's ok to ask this here:

how do i change a config value after deployment? it seams only new keys in the my_app.conf are picked up, while existing ones keep their old value. is there any other way than manually changing running-conf?

my workflow now is the following: i'm using https://github.com/HashNuke/ansible-elixir-stack for deployment. so i have a release running under

[2015-09-02 14:34] bitwalker commented on #194
That does seem like a bug to me if the new .conf is not being merged properly. I'll do some digging. Can you provide me with an example configuration change? It doesn't have to be exact, but I'd like to get an idea of what the previous versions .conf was like vs. the new one.

[2015-09-02 18:46] manukall commented on #194
thanks for the quick reply. here is what i'm trying to do:

in the example_app inside test/fixtures:
1. `mix release`
2. `rel/test/bin/test console`
    `Application.get_env(:test, :foo)` -> "bar"
3. change value of test.foo to "not_bar" in config/test.conf
4. `mix release`
5. `rel/test/bin/test console`
    `Application.get_env(:test, :foo) -> "bar"`

is it intended behavior that 5. still returns

[2015-09-02 22:21] mpahrens opened #195 "Compile time configuration not populating sys.config if no conform schema definitions"
So I have my phoenix application, blockytalky, and when I:
- have a configuration option in config.exs. let's say
<code><pre>
config :blockytalky, Blockytalky.Endpoint,
  check_origin:false
</pre></code>

and I compile with: `MIX_ENV=prod mix release --verbosity=verbose`

That config setting won't be in my tarred application unless I also add a conform schema for it to `blockytalky.schema.exs` and

[2015-09-03 03:13] lsandeep83 commented on #194
I had similar issue as well in deploying my phoenix application with EXRM.

Note: `prod.exs` is imported into `config.exs`

# Details

`v0.0.3: config/prod.exs`
[code]

`v0.0.4: config/prod.exs`
[code]

The changes are **NOT** reflected in `/running-config/sys.config`. They are however reflected  in `/releases/0.0.4/sys.config`.

# Fix

I had to update the changes manually into `/running-config/sy

[2015-09-03 15:53] bitwalker commented on #194
@manukall @lsandeep83 Thanks for providing some details for me, I'll get this sorted out today.

It's not related to #192, as that syntax bug fixed an issue with copying the `.conf` file (assuming you have one), but not `sys.config`.

[2015-09-03 17:14] #194 closed

[2015-09-03 17:19] bitwalker commented on #194
Hey guys, I've fixed this issue, there was both a bug and a deliberate choice made, so I just want to clarify why the old behaviour was there (I luckily left a comment for my future self).

I had set things up based on the assumption that in production the configuration could be modified in-situ, and if we blindly applied the config from the release package, it could blow away those configuration

[2015-09-03 17:20] bitwalker commented on #194
This fix is released in 0.19.3 by the way.

[2015-09-03 17:30] goneflyin opened #196 "exrm unable to run `release.clean` after dependencies are independently compiled (prod only)"
I'm not quite sure what the cause of this is -- some dependency checking for files in the wrong place, perhaps? But it's easy to reproduce:

[code]

I am only including the output from the last command -- the others are exactly as you would expect.

One more interesting note. Something critical does happen when the `mix release.clean --implode --no-confirm` is run, because if you run it a second t

[2015-09-03 17:32] bitwalker commented on #196
That's bizarre, I'll take a look.

[2015-09-03 17:32] bitwalker commented on #196
You say prod only, so this only happens when running with `MIX_ENV=prod`?

[2015-09-04 00:59] goneflyin commented on #196
Yes, that's right. I tried to reproduce it without prefixing the commands with `MIX_ENV=prod`, and it didn't happen. My guess is that it has something to do with some compiled or generated files that it finds in prod, but some others that were never compiled/generated outside of prod that it's not looking for in the environment-specific location.

Or it could have nothing to do with that whatsoeve

[2015-09-04 12:58] manukall commented on #194
thanks @bitwalker. i've updated to and already deployed with 0.19.3

[2015-09-04 20:34] brweber2 opened #197 "Fails to build on Linux"
I have an empty project. I add exrm as a dependency and the dependencies are not able to compile on (CentOS 6.5 or Ubuntu 14.04).

* Elixir
[code]

* Erlang
[code]

[code]

I _DO_ see neotoma in the deps directory so it is there.

Am I doing something wrong?

[2015-09-05 00:30] keichan34 commented on #191
Hey, I know this is already assigned to you, but I thought I'd take a stab at it since it's a pretty big problem for me too.

How does this look? It seems to work over here -- we should probably get some tests in there as well.

https://github.com/keichan34/exrm/commit/0f6be20c24476288f41bad88a8481b8e4d5e4ac6

[2015-09-05 00:46] bitwalker commented on #197
Just out of curiosity, does this happen when you run `mix do clean, compile`?

[2015-09-05 00:47] bitwalker commented on #195
Extra settings in `config.*.exs` should be merged into the final configuration. I'll do some testing and figure out if we have a bug or if something weird is going on.

[2015-09-05 00:48] bitwalker commented on #191
Looks good to me! If you send a PR with that change I'll merge it :)

[2015-09-05 00:49] #172 closed

[2015-09-05 00:57] brweber2 commented on #197
Yes. I've tried every permutation of clean and deps.clean --all etc. I could think of. I tied on a second box wondering if there was something wrong with my VM ... I'm calling it a night for me. I'll be back at it again tomorrow.

[2015-09-05 04:04] #191 closed

[2015-09-05 11:23] manukall commented on #191
this is great. thanks to both of you!

[2015-09-05 14:09] xbrukner opened #199 "Trouble getting protocol consolidation to work in umbrella project"
I have trouble getting protocol consolidation to work. I have an umbrella application, and if I run just `mix release`, both in dev and prod, protocols are not consolidated. The exec command contains -pa argument, but with invalid path:
`-pa /Users/.../project/apps/subproject/rel/subproject/lib/consolidated`

I thought I might have to run mix release.plugins consolidation first, but that fails wit

[2015-09-05 16:44] brweber2 commented on #197
The problem may be with erlware_commons (or mix) and not exrm?  If I cd to deps/neotoma and I do rebar compile it works.  It does not work for erlware_commons.  However, if I check out erlware_commons directly on the same machine, it does compile with rebar just fine. (master and the tagged release) This makes me wonder if this is some sort of path issue?

Do you have any suggestions for additiona

[2015-09-05 16:53] bitwalker commented on #197
This is odd, I spun up a new container running Ubuntu 14.04, Erlang 18/Elixir 1.0.5, and I can clone exrm, fetch deps, and compile it just fine. If I create a new project and add it as a dep, same thing. Given that exrm has more Ubuntu users than anything else, I suspect this might be a problem with your rebar installation, could you run the following commands on that machine and let me know the r

[2015-09-05 16:59] #196 closed

[2015-09-05 17:00] #66 closed

[2015-09-05 17:08] bitwalker commented on #195
@mpahrens Configuration merging is happening as expected in my testing, but I think I know the issue here. I suspect `:blockytalky` in this case is not the name of an application present in your release, so when you run `Application.get_all_env(:blockytalky)` you would get `[]`, even if the setting is in `sys.config` in the release tarball. This is because the application has to be loaded in order

[2015-09-05 17:11] bitwalker commented on #187
Mix is not included by default because it's behaviour is not guaranteed to be the same in the context of a release. As @jsvisa pointed out, you can add it as an included application if desired.

[2015-09-05 17:11] #187 closed

[2015-09-05 17:15] tsloughter commented on #197
Pretty sure this must be using an old copy of relx. neotoma shouldn't be fetched or used.

[2015-09-05 17:29] bitwalker commented on #190
@cjimison Starting with 0.19.4 when running `mix release --dev` it will skip the packaging step.

[2015-09-05 17:29] #190 closed

[2015-09-05 17:32] bitwalker commented on #197
@tsloughter neotoma is used by conform (another dependency of exrm) so it would be fetched whether relx uses it or not. However it does look like I was back a few minor versions (exrm is currently on 3.1.0 and hex is up to 3.5.0). I'll upgrade today.

[2015-09-05 17:36] bitwalker commented on #197
@brweber2 exrm 0.19.5 was just published which uses the latest relx, so you can try to see if that also fixes the problem

[2015-09-05 17:43] brweber2 commented on #197
Ok. It will be a few hours before I get back to a computer but I will try it later tonight.

Thanks for your help!

[2015-09-05 21:20] brweber2 commented on #197
I was pretty hesitant to create an issue claiming that this didn't work on "Linux" because that didn't seem likely... :)

So, the problem was rebar, but not ~/.mix/rebar, it was /usr/bin/rebar.  I think it was installed along with Erlang, but I haven't confirmed that yet. I'll spin up a new VM and test it again. If there is anything of consequence I'll note it here.

Thanks again for the help!  I'

[2015-09-05 21:20] #197 closed

[2015-09-05 21:22] tsloughter commented on #197
@brweber2 did you install from the Erlang Solutions deb package? If so you may have got the "enterprise" version which sadly contains rebar and other third party stuff that is likely to break things.

[2015-09-07 06:36] lsandeep83 commented on #194
Thanks @bitwalker. Updating the config is probably a more common scenario.

[2015-09-07 18:55] mpahrens commented on #195
I'll take a look and see if those are the results I get as well. Sorry for the late response, took the weekend off. Working on it today and tomorrow.

[2015-09-07 18:56] mpahrens commented on #195
side note, my extra settings (generated by the phoenix.new from 0.10 way back when) are named `prod.exs` and `dev.exs` and not prefixed with `config`. Is that an issue? Should they be renamed to something like `config.prod.exs` and `config.dev.exs`?

[2015-09-07 21:04] olivermt commented on #67
I have solved this by just running mix ecto.migrate in my aws codedeploy scripts (since its indempotent anyways).

Is a writeup on that something that you guys would be interested in having as companion-documentation to this repository?

[2015-09-08 00:08] bitwalker commented on #67
@olivermt Definitely :)

[2015-09-08 06:07] olivermt commented on #67
Allright, will send pull request either next week or week after, a bit clogged up right now :)

[2015-09-08 15:00] goneflyin commented on #196
Just tested and verified with `exrm-0.19.5` -- works like a charm!

Thanks very much!

[2015-09-14 10:35] jordi-chacon commented on #147
Unfortunately, reopening this issue as it is happening again.

Inside a fresh copy of my repo I run:
[code]

This is the output:
[code]

My app's mix.exs file:
[code]

HTTPex's mix.exs file:
[code]

I have been trying to find out the problem without luck. Can you spot where the problem is?

[2015-09-14 11:08] jordi-chacon commented on #147
Have been trying more and it turns out that if I remove `storex` dependency from my top-level app mix.exs the error disappears.

So it seems that the error message points to the wrong applications.

[2015-09-14 11:30] jordi-chacon commented on #147
Here is `storex` mix.exs file:
[code]

The problem seems to come from the `poison` dependency. As you can see both `storex` and `x_service` declare `poison` as dependency, but only `storex` has it in its `included_applications`. Although this shouldn't be a problem at all?

I have managed to get `mix release` to run by simply removing `poison` from `included_applications` in `storex` and put it in

[2015-09-14 11:51] jordi-chacon commented on #147
* If I remove all dependencies from my top level `mix.exs` file except `exrm` and `httpex`, `mix release` runs fine. This is weird, as the circular dependencies are according to the error between httpex and phoenix which are still both present after having removed all other dependencies.

[2015-09-14 12:43] jordi-chacon commented on #147
I'm doing a lot of trial and error.

This mix.exs gets `mix release` to work:
[code]

But if I add `:storex` under `ìncluded_applications`, then `mix release` fails with the error mentioned above. Very weird.

Here is the mix.exs file for `storex` application:
[code]

[2015-09-14 12:50] jordi-chacon commented on #147
It seems that I got it to work. I changed the mix.exs file of `storex` application to look like this:
[code]
So, I removed those dependencies from `applications` and `included_applications` that are already declared by either `httpex` or `phoenix`.

Does this mean that `exrm` doesn't allow a dependency D1 to be declared by more than one other dependency?

[2015-09-15 18:04] bitwalker commented on #147
@jordi-chacon You can only have one application in the release which has a given dependency contained in `included_applications` as described [here](http://www.erlang.org/doc/design_principles/included_applications.html). You should use `applications` unless you explicitly do not want the application in question to be started, but there is almost never a reason for this unless you plan to manage t

[2015-09-18 19:08] felipesere commented on #90
@tsloughter can you explain how `RELX_REPLACE_OS_VARS` can be used here? I went through the code but I did not quite understand what to put where to allow it to be replaced...

[2015-09-18 20:09] tsloughter commented on #90
It is part of the `extended_start_script`. It'll replace vars in `sys.config` and `vm.args` of the form `${VARIABLE}`.

[2015-09-19 03:08] xtagon commented on #90
Since this method makes you declare it as `[port: "PORT"]` instead of as a custom expression (e.g. `System.get_env("PORT")`), how do we handle the case where one might wish to cast the ENV variable? All ENV variables are strings but some app configurations might want to parse them as integers, or lists of strings, etc.

[2015-09-22 09:46] GalaxyGorilla opened #201 "Missing Erts folder"
Hi,

I have a lot of trouble releasing Elixir apps with exrm after an update to one of the newer commits. Using an old commit from 18. May (2b99889) everything works find. The problem is simply that the erts folder is missing in the release. This has some further impact since the releases with no erts folder seem to use the installed system binaries and hence the boot script (especially the stoppi

[2015-09-22 14:05] GalaxyGorilla commented on #201
According to my understanding exrm should behave with a set 'include_erts' option as follows:

1. {include_etrs, true} -> take the system binaries for erlang from the build host, pack them into the erts folder and use them at runtime. This is the default.
2. {include_etrs, "some_path"} -> take the binaries for erlang from the given path from build host, pack them into the erts folder and use them

[2015-09-22 15:50] #201 closed

[2015-09-22 15:51] bitwalker commented on #201
Actually that commit is unrelated (it incidentally works, but actually would break using a custom ERTS path). I've pushed a fix though. I had some code to identify the proper ERTS to use, but it wasn't being used when re-packaging the release as it should have been.

I'll be pushing a new release shortly. Thanks for reporting!

[2015-09-26 09:30] gerred opened #203 "Elixir 1.1 Support"
Currently, exrm warns about the version on Elixir 1.1. Are there any compatibility issues or should exrm just work with 1.1? If so, mix.exs may need to be updated.

[2015-09-28 02:33] artburkart commented on #90
@edgurgel - would your solution work in production?

[2015-09-28 06:44] edgurgel commented on #90
@artburkart, yes it does! It's simply mounting the file where the configuration is and where exrm will read the.

[2015-09-28 15:20] bitwalker commented on #203
@gerred exrm's mix.exs currently supports 1.1, as `~> 1.0` means "any version between 1.0 and 2.0, excluding 2.0", but it's possible one of exrm's deps needs to be updated to suppress the warning. In any case, exrm works fine with 1.1 (it's what I'm running right now). I didn't see a warning on my machine when I upgraded, but maybe it was a fluke.

[2015-09-28 15:20] #203 closed

[2015-09-28 15:21] bitwalker commented on #195
@mpahrens No that's fine, as long as they are imported in config.exs as expected.

[2015-09-28 16:50] gerred commented on #203
Hey @bitwalker,

I got a warning, which is why I opened the issue. Let me retry, because I thought something was messed up with the semver. I'll update with the results.

[2015-09-28 17:08] gerred commented on #203
Closed. I had to do a `mix deps.update`

[2015-10-02 17:51] jeffweiss opened #205 "`status` argument to boot script"
As we briefly talked about at ElixirConf, in order to get our app to be properly managed by Puppet (full disclosure: I work for Puppet Labs), we needed a `status` command for the boot script before we could use it as the system init script (don't get me started on sysvinit v. upstartd v. systemd).
For Reasons:tm:, we're only deploying to fairly recent version of Debian, so we could at least use so

[2015-10-02 18:35] bitwalker commented on #205
@jeffweiss Thanks for this! I did some looking after we talked, and I think `ping` should suffice as it works today. If `ping` does not return `ok`, the exit code is non-zero. However I want to make sure that this is enough for your use case. Is zero/non-zero exit code enough? Or would `status` simply wrap `ping` and output `0 | 1` to stdout + set the exit code?

[2015-10-03 15:55] midas opened #206 "Phoenix hot deployment static assets not using new version"
When using `exrm` to build releases for a Phoenix application (https://excasts.com), after the upgrade is complete, it seems that the static assets being used are  not the new set.   I am using Phoenix digesting in my application.

Paul, just a reminder from our conversation at ElixirConf, you theorized this may be related to the way Phoenix accomplishes its static asset serving. possibly their re

[2015-10-04 04:50] keichan34 commented on #206
In my application, I usually make an `asset_cache_bust/0` function:

[code]

Then, as part of the deploy script, I use a RPC to call it.

[code]

This is obviously a workaround that shouldn't be there, but it works for me. :smiley:

[2015-10-04 05:10] bitwalker commented on #206
@midas I think I may have found the problem, in Phoenix's `config/config.exs`, the following configuration is present:

[code]

The problem here is that `root` ends up expanding to an absolute path to the project directory when the release is built, so even when you do an upgrade, it's still pointing to the assets via that absolute path.

I overrode it in my example chat app I used in my talk at E

[2015-10-04 13:00] chrismccord commented on #206
Would dropping a comment above the config that mentions root for releases be enough? We do similar comments for prod config around starting the web server.

[2015-10-04 16:03] midas commented on #206
@bitwalker That seems plausible to me.  Will test on my end.  @chrismccord Want me to send a pull request for this comment addition?  I would love to get my first contribution in place.

Thanks gentlemen!

[2015-10-04 16:03] chrismccord commented on #206
@midas Please do!

[2015-10-04 16:49] midas commented on #206
@bitwalker Can you expand on the reason why this solution works so that I can explain a little more in depth?

[2015-10-04 18:46] bitwalker commented on #206
@midas Sure! The reason it works is because when the configured path is read in the release, it will be done so relative to the application directory in the release (the currently installed version that is). So since the current working directory is already the desired directory for `root`, we can just set it to `.`.

[2015-10-04 23:07] midas commented on #206
@chrismccord What effect will a root path of `.` have on the development environment?  Should this setting be overridden only in environments that will be built into a release, ie. production?

Thus, do you think this comment should be in `config/config.exs` or `config/prod.exs`?

[2015-10-05 00:03] bitwalker commented on #206
It should go in `prod.exs`, and the problem with just making the default `.` is that with mix it only works when running the project from the project root directory, if you are running an umbrella project or the current working directory is not the project root, it will be incorrect, which I assume is why the default is what it is today, but @chrismccord would have to chime in on that bit. I think

[2015-10-05 19:44] bitwalker opened #207 "Bug in upfrom version selection"
When versions containing extra metadata, such as git sha1s, etc., the version sorter is treating the base version as the latest, i.e. given the following versions:

[code]

Each new version will use `0.0.7` as the upfrom version, rather than the correct variant.

See [this gist](https://gist.github.com/jeffweiss/e92f8013d03f9a662fdc) for additional detail.

/cc @jeffweiss

[2015-10-07 17:47] fire opened #208 "Request ability to configure environment variables for Window services"
Please allow the ability to configure environment variables for Window services in a configuration file.

See end - https://github.com/bitwalker/exrm/issues/48

[2015-10-08 09:40] eproxus opened #209 "Missing .conf file should generate default sys.config"
If no `myapp.conf` exists, starting the release produces an error.

Steps to reproduce

1. Create an app with a `.schema.exs` file but no `.conf` file.
2. Generate a release (which is generated succesfully.
3. Try to start the release. The following error is generated:

[code]

It would be nice if a default `sys.config` config is generated from the application defaults (or the schema). If the appl

[2015-10-08 10:20] surik commented on #125
HI!

I see it like that:
1) Add possibility to set node arguments for `config schema file` and `conform config file` on exrm
2) Create a plugin for exrm, which called `exrm_reload`. The plugin will have a method `run` which will generate new sys.config via conform (using the arguments from first step) and apply this config for all applications via `application_controller`. The `exrm_reload` will b

[2015-10-08 10:38] surik commented on #125
If you don't mind I'll do it

[2015-10-08 12:06] hwinkel commented on #120
+1 for that, we should not fragment the Erlang/Elixir Ecosystems as people will run and configure Erlang and Elixir Apps in parallel

[2015-10-08 16:18] bitwalker commented on #209
@eproxus There is no point in a `.schema.exs` without the `.conf` though, this is an error that I would expect to be produced. You can simply `touch myapp.conf` and an empty file is sufficient to at least say "use all defaults", but I *do* want an error if someone attempts to boot a release with a schema but no conf, because the likely reason no conf exists is because of misconfiguration or accide

[2015-10-08 16:29] bitwalker commented on #125
@surik Go for it! Just a quick question though: how is the plugin executed? I'm also assuming it's not a plugin for exrm, but rather an extension of exrm that can be called via RPC to a node?

[2015-10-08 16:35] bitwalker commented on #120
@hwinkel While I agree in general, the complexity of supporting two schema formats/semantics is not worth it to me. There is a lot of crossover currently, but conform may ultimately end up supporting more features, or a divergent set of features, and maintaining compatibility is asking for trouble.

It's my opinion that if you are currently using cuttlefish and introducing Elixir to your stack, yo

[2015-10-08 23:07] joshuap commented on #194
@bitwalker this issue got me, too. My problem may be a bit different; we are currently deploying from *rel/* without doing hot upgrades (which HashNuke/ansible-elixir-stack has an option for, although we are rolling our own scripts). Basically what we do:

[code]

My problem is that everything under *rel/logplex/running-config/* never gets updated. Is there a solution to that?

[2015-10-09 01:02] bitwalker commented on #194
@joshuap Are you using conform?

[2015-10-09 01:42] joshuap commented on #194
@bitwalker no I'm not; I'm just setting values in *config/config.exs*. Is conform required?

[2015-10-09 01:43] joshuap commented on #194
We also have a custom *rel/vm.args` file.

[2015-10-09 02:37] bitwalker commented on #194
@joshuap Not at all, I had just merged a fix for a bug similar to this for conform. I'll do some testing tomorrow and see if I can reproduce.

[2015-10-09 05:35] joshuap commented on #194
Cool, thanks! Let me know if there's anything I can do to help.

[2015-10-09 07:54] surik commented on #125
@bitwalker You're right, It's just application which we able to call via RPC. I called it plugin because it uses some configuration from `exrm` (1st step) but actually it doesn't depend on `exrm`.

I'm thinking can I call it `exrm_reload` or i should use other name.

[2015-10-09 10:18] seantanly opened #210 "Umbrella project Conform.effective doesn't work for exrm (v0.19.6)"
Putting this up in exrm to for visibility on issue https://github.com/bitwalker/exrm-umbrella-test/issues/3

[2015-10-09 16:13] bitwalker commented on #194
@joshuap I've pushed a fix for this to master

[2015-10-09 16:19] bitwalker commented on #125
@surik `exrm_reload` sounds fine to me!

[2015-10-09 16:23] bitwalker commented on #195
@mpahrens ping :)

[2015-10-09 16:24] bitwalker commented on #120
I'm closing this for now, as after more thought, I don't see this really being a feasible addition. This also belongs in the `conform` issue tracker rather than here, so if everyone would like to continue discussion there, that's fine.

[2015-10-09 16:24] #120 closed

[2015-10-09 16:38] mpahrens commented on #195
Yeah sorry for radio silence. I got moved projects temporarily. You can
close this issue test examples worked as you described so I think I'm all
set
On Oct 9, 2015 12:23 PM, "Paul Schoenfelder" <notifications@github.com>
wrote:

[2015-10-09 16:42] bitwalker commented on #195
@mpahrens Ok thanks!

[2015-10-09 16:42] #195 closed

[2015-10-09 17:11] #207 closed

[2015-10-09 17:11] bitwalker commented on #207
@jeffweiss This is fixed in master now

[2015-10-09 17:21] jeffweiss commented on #207
💜

[2015-10-09 21:04] bitwalker commented on #210
Going to close this, since it's a conform specific issue (which has been removed as a direct dependency in exrm in master).

[2015-10-09 21:04] #210 closed

[2015-10-10 03:41] seantanly commented on #210
Thanks for the fast response. :)

[2015-10-10 07:26] jordi-chacon commented on #147
@bitwalker Thank you for the explanation! Doing it the way you suggest fixes the problem :+1:

[2015-10-10 07:26] #147 closed

[2015-10-11 01:15] ericmj opened #212 "Current docs are 404ing"
If you update to ex_doc 0.10.0 and regenerate I think they should work.

[2015-10-12 07:21] eproxus commented on #209
Okay, I can see that point. Going with an empty configuration for now.

[2015-10-12 13:32] MSch opened #213 "Plugins from project are ignored"
I've created a `ReleaseManager.Plugin`, but it doesn't get picked up if it's in my project's `lib` folder. If I move it to a dependency it works.

[2015-10-12 17:16] #209 closed

[2015-10-12 21:36] #213 closed

[2015-10-12 21:37] bitwalker commented on #213
@MSch I implemented a proper fix for this, so it's now working as expected in master. Should be a new release soon.

[2015-10-14 01:44] seantanly opened #215 "Umbrella project - Master app not pulling in configs from apps under umbrella"
Posting here for visibility on https://github.com/bitwalker/exrm-umbrella-test/issues/5

Master app (release version) not pulling in configs from dependencies, though conform.effective shows merged configuration.

[2015-10-14 15:50] bitwalker commented on #212
Updated. Thanks!

[2015-10-14 15:58] bitwalker commented on #212
@ericmj Actually, even after pushing fresh docs, it's still not working properly. However if I go to the specific version url (0.19.9), it works fine. Thoughts?

[2015-10-14 15:59] ericmj commented on #212
You are likely seeing a cached version.

On Wed, Oct 14, 2015 at 10:58 AM, Paul Schoenfelder <
notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2015-10-14 16:00] bitwalker commented on #212
Yeah I thought the same, until it did the same thing in a fresh private browsing window in Chrome. Seems it's cached on the server or something, not locally in my browser.

[2015-10-14 16:01] ericmj commented on #212
Yes, it's cached on Cloudflare.

On Wed, Oct 14, 2015 at 11:00 AM, Paul Schoenfelder <
notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2015-10-14 16:02] bitwalker commented on #212
Ah, makes sense, any idea how long it takes for the old cached version to get flushed?

[2015-10-14 16:03] ericmj commented on #212
Hard to say, it's very inconsistent. Not more than 2 hours.

On Wed, Oct 14, 2015 at 11:02 AM, Paul Schoenfelder <
notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2015-10-14 16:06] bitwalker commented on #212
Cool, thanks Eric!

[2015-10-14 16:06] #212 closed

[2015-10-19 16:27] eproxus opened #216 "set -e in script removes output"
The `set -e` line in the release script hides error output such as errors about missing `-setcookie` parameters.

### Expected:

[code]

### Actual:

[code]

[2015-10-21 18:13] antipax opened #217 "running-config vm.args being overwritten with release vm.args even when it already exists"
Hey, looks like a recent version of exrm changed some behavior, previously if a vm.args file was present in running-config it would not be overwritten, but this commit:

https://github.com/bitwalker/exrm/commit/a00690a715ea400ec822b95171fc90da9356ae23#diff-1d1853457160bcdb7f539fadfb9efc43R133

seems to have changed the behavior. Should the check for the file existing be for the $GENERATED_CONFIG_D

[2015-10-22 12:25] kaeNa commented on #217
Yes, we are having the same behaviour for the .conf file which makes it hard (impossible?) to generate and update the config file via template

What is the relations between `$RELEASE_CONFIG_DIR` and `$GENERATED_CONFIG_DIR` and what's the purpose of copying configuration to the `$GENERATED_CONFIG_DIR`?

We are trying to provision our release by generating the configuration file and `vm.args` from

[2015-10-24 10:42] mavenastic opened #218 "Creating a Phoenix app release for the default application"
Hello,

I am trying to deploy the default Phoenix application. Making the release works for both the `dev` and `prod` environments, however it fails to run.

For the `dev` environment, it crashes stating it could not find a config. For the `prod` one, the `console` works fine but after the app starts, I cannot ping it nor run a `remote_console`. I configured database connections for both and creat

[2015-10-26 14:12] midas opened #221 "Configuring logging in a release"
Currently releases include logging by default to the log directory.  It appears that the logging facility allows a file to grow to just under 1 MB and then continues logging in another file.  The names of the files are like `log/erlang.log.1`.  After 6 files, the log rotation starts over at 1.  This is surprising and problematic.

As we spoke of at ElixirConf, I checked out the configuration optio

[2015-10-26 14:18] bitwalker commented on #217
@antipax @kaeNa With master or v1 (until I push a new release), you can set `VMARGS_PATH` when booting the release to specify the `vm.args` file you wish to use instead of the one in the release. This var will be checked on start and upgrades/downgrades.

[2015-10-26 14:18] #217 closed

[2015-10-26 14:24] bitwalker commented on #221
@midas Take a look [here](http://www.erlang.org/doc/man/run_erl.html). It appears that these logs cannot be disabled, but the number of logs, and their size, can be configured via environment variables. Does that help?

[2015-10-26 14:35] bitwalker commented on #218
@mavenastic You need to add `server: true` to your `prod.exs` under the config for `MyApp.Endpoint`. This is how Phoenix starts itself within a release. With Phoenix, I would recommend always using `MIX_ENV=prod` for releases, `MIX_ENV=dev` has a lot of development specific features (such as code reloading), that simply won't work within a release. If you are getting config errors, it's probably b

[2015-10-26 14:35] #218 closed

[2015-10-26 14:38] midas commented on #221
The environment variables are exactly what I need.  Thanks!

Regarding the log level, it is currently outputting at debug which is not good.  Do you suggest the overlay path to fix this or another?  If the overlay path, then please expand a little on exactly how this should be accomplished.

Thanks!

[2015-10-26 14:40] bitwalker commented on #221
@midas The relx log level is just for the tooling when building a release, it doesn't actually affect the logging of the release at all. The logs produced by `run_erl` are not configurable in their verbosity from what I can tell (unfortunately).

[2015-10-26 14:55] midas commented on #221
Do you believe if we set the file size and max files for the run_erl logging to something small and then use the normal log configuration facilities of elixir we are introducing a performance inefficiency (that matters)?  It seems to me that depending on Elixir logging facilities plus something like logrotate is a better solution, considering the deficiencies in the run_erl log config.

[2015-10-26 15:01] bitwalker commented on #221
@midas If you log to a file via Elixir's `Logger` module, instead of the console, very little output would be sent to the `run_erl` logs, so there should be no inefficiency there. You'd want to make sure you have `Logger` handle SASL reports as well though, because those will be sent to the `run_erl` logs by default.

[2015-10-26 15:05] midas commented on #221
Thanks for your input, I will include all of this in my episode(s) on [ExCasts](https://excasts.com), which are already in production BTW.  Hopefully this will keep the same questions from being asked of you again.

[2015-10-26 16:15] mavenastic commented on #218
Thank you for your answer and detailed explanations @bitwalker. I unfortunately already tried to add `server: true` to the production configuration, without success.

Here are the steps I am following from the default Phoenix 1.0.3 application:

  + Configure the connection to the production database in `config/prod.secret.exs`

  + Add `server: true` to `config/prod.exs`

I obtain the following:

[2015-10-26 23:37] midas commented on #221
@bitwalker Any idea how I can verify that the SASL reports are making it to the log.  Is there a way to force one?  Thanks!

[2015-10-27 02:40] bitwalker commented on #221
@midas In your `Logger` config, just make sure the following settings are there:

[code]

Assuming you've got a file backend, that will make sure that all `sasl` and other Erlang system errors are in the same log.

[2015-10-27 02:43] bitwalker commented on #218
One thing to note is that providing the `PORT` environment variable needs to be done at runtime, not when building the release, so you'd do `PORT=9876 ./rel/my_app/bin/my_app`.

Could you run `./rel/my_app/bin/my_app foreground` and paste the output here?

[2015-10-27 09:43] eproxus opened #223 "release.clean does not remove all release files"
The `release.clean` target leaves among other things, the `bin`, `erts-X.X`, `lib` and `releases` folders inside the `rel/<name>` folder.

[2015-10-27 15:07] mavenastic commented on #218
Thanks @bitwalker. I was indeed not specifying the port as I thought it was used at release build time.

Using `foreground` works:

    PORT=8362 rel/my_app/bin/my_app foreground
    Using /vagrant/my_app/rel/my_app/releases/0.0.1/my_app.sh
    Exec: /vagrant/my_app/rel/my_app/erts-7.1/bin/erlexec -noshell -noinput +Bd -boot /vagrant/my_app/rel/my_app/releases/0.0.1/my_app -mode embedded -config /

[2015-10-28 17:03] plamb opened #224 "osx DS_Store error"
This caused me some confusion but seems to be limited to OSX. When generating a new release build on OSX 10.11.1 I get an error like the following:

[code]

[2015-10-29 03:27] dcy opened #225 "System.cmd's error in exrm's release"
[code]

These code works, but same code in same computer not work in exrm release:

[code]

[2015-10-29 14:33] bitwalker commented on #225
Are you referencing a global rebar? If not, what method are you using to include it in the release?

[2015-10-29 14:34] bitwalker commented on #224
@plamb Thanks for reporting! Looks like I need to add a filter to check if a release directory is actually valid.

[2015-10-29 14:36] bitwalker commented on #206
@midas Is this resolved on the exrm side from your point of view? Can I close this for the time being?

[2015-10-29 15:34] dcy commented on #225
I copy rebar to /bin/, so System.cmd("rebar", ["compile"], cd: path) in release is the same error.

[2015-10-29 16:27] midas commented on #206
I think so.  Thanks again!

[2015-10-29 16:27] #206 closed

[2015-10-29 23:39] midas opened #226 "Moving build machines"
I began building my production application on a local laptop.  Now I have set up a staging server that I will use to build both staging and production on.  The production app is currently on release 1.3.1.  The next release will be 1.4.0.  However, the new machine does not have any of the prior releases that were built locally on my laptop.  Thus, I am assuming the build will not create some of th

[2015-10-30 00:03] bitwalker commented on #225
I suspect this is because the release sets `ERL_LIBS` to point to the `lib` directory of the release, rebar probably honors that, and because of this, some modules it requires are not present. Could you try running the command like so: `System.cmd("/bin/rebar", ["compile"], env: [{"ERL_LIBS", "path/to/system/erlang/lib/dir"}])`. You'll have to determine the correct path is based on your environmen

[2015-10-30 02:49] dcy commented on #225
[code]
these code will be:
[code]

[2015-10-30 02:49] dcy commented on #225
[code]
these code will be:
[code]

[2015-10-30 03:03] bitwalker commented on #225
@dcy Can you generate a small project which reproduces this behaviour which I can test with? It's hard to troubleshoot not knowing all the moving parts.

[2015-10-30 11:33] igalic opened #228 "consolidation happens twice"
here's a phoenix-framework project built with exrm:
[code]

[2015-10-30 11:42] igalic opened #229 "disable hipe compilation"
I'd like to explicitly disable hipe compilation.
i've added a rel/vm.args file with `--disable-hipe` but that didn't do anything…

see also: https://github.com/erlware/relx/issues/405

[2015-10-30 14:38] jannekai opened #230 "Function reference in config.exs causes malformed sys.config"
When trying to generate a release for my project with mix release, I get the following error:

==> Generating release...
Cannot add file sys.config to tar file - [{error,{41,erl_parse,["syntax error before: ",["Fun"]]}}]

Copying the contents of rel/files/sys.config and evaluating file using erlang shell, it also failed with error:

* 41: syntax error before: Fun

Looking closer it seems like a fu

[2015-10-30 17:04] bitwalker commented on #230
The issue here is that `config.exs` is not parsed/read by exrm, but by `Mix.Config`. The function is being captured during evaluation, and then being written by exrm to the final `sys.config`. The only way to fix this would be to write my own parser for `config.exs`, which I do not want to do. My suggestion (if possible) would be to instead configure your app with an `{module, function, args}` tup

[2015-10-30 17:38] josevalim commented on #230
@bitwalker is `fun Mod:Fun/Arity` even supported in config files?

In any case, you don't need your own parser, only your own dumper (which may be a good idea anyway so you can provide reasonable error messages).  You can easily detect if an anonymous function refers to a mod+fun+arity and dump it accordingly and ignore all other anonymous functions.

[2015-10-30 22:13] jannekai commented on #230
You are absolutely right, using the function reference in config file was a bad idea. Didn't really think about too clearly how the configuration file system works when implementing it and since it works without problems while running with mix, thought it was supported.

In any case I ended up with using simple :no_retry atom in config file and adding a function, which creates the function referen

[2015-10-30 22:13] #230 closed

[2015-11-01 21:56] ThijsWouters commented on #228
It does not just happen twice. I think this has more to do when building the second version of your application.
I am running into the same problem. Only my application does not work, when this happens.
In the first version I did not use a library for my dates and times and in the second I am. I am using Calendar. There is also another library to use it with Phoenix.
It works when I run it with `m

[2015-11-02 10:26] ThijsWouters commented on #228
I just tried it with the master branch. It is still an issue.
Will try to fix it. I have an idea were the bug is.

[2015-11-02 12:03] ThijsWouters opened #232 "Hot upgrade does not upgrade consolidated protocols"
When I upgrade to a next version, consolidated protocols which have changed are not updated to the next version. Protocols that are new are added to `lib/consolidated`.

I tried this with my master branch: http://github.com/ThijsWouters/exrm.git.

[2015-11-02 12:03] ThijsWouters commented on #228
The pull request fixes this issue. But there is still an issue when upgrading => https://github.com/bitwalker/exrm/issues/232

[2015-11-02 16:50] #228 closed

[2015-11-05 22:18] DylanGriffith opened #233 "start command does not start, but console works fine (on debian jessie)"
I've got an exrm release that is built for and running on a debian jessie machine. When I try to start it using the `start` command it just outputs:

[code]

And when I look at the processes there is nothing created or nothing running. Also it's not doing what it's supposed to do. However when I start it using `console` it works fine. It starts the application and does what it's supposed to do.

I